<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="sl">
<head>
<meta charset="UTF-8">
  <title>{{title}}</title>
  <meta name="description" content="{{subtitle}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Mono">
{{{headerInclude}}}
</head>
<body>
  <header>
    <div>
    <a class="site-title" href="/index.html">Pompežev kot</a>
    <p class="title-quote">Ker stvari občasno zapišem</p>
    </div>
    <div style="flex-grow: 1; display: flex; flex-direction: column; justify-content: center;">
    <div>
    <nav class="menu">
      <div>
      <a href="/index.html">Domov</a>
      <a href="/index.html#Fizika">Fizika</a>
      <a href="/index.html#RPGs">RPGs</a>
      </div>
      <div class="macek-container">
      <div class="macek">
        <img style="position: absolute; right: 0; top: 0;" src="/imgs/macek-back.svg">
        <div style="width: 20px; height: 100%; background: white; position: absolute; left: 0;"></div>
        <img style="position: absolute; left: 0; top: 0;" src="/imgs/macek-front.svg">
      </div>
      </div>
    </nav>
    </div>
    </div>
  </header>
  <div class="content">
{{{body}}}
  </div>
</body>
</html>
