<h1>Incident v Herfovem Braniku</h1>
<h1 class="subtitle">Krajša D&amp;D dogodivščina, ki jo lahko uporabiš samostojno ali kot del večje kampanije</h1>
<p>
  Poldrugi dan plovbe od Hlobivodških pristanišč se nahaja
  <em>Herfov Branik</em>, prehodni <em>zapor za posebej nevarne zločince</em> in sovražnike svobodnega mesta Hlobivod.
</p>
<p>
  V pretekli noči je mestna straža na nebu v smeri otoka, na katerem stoji zapor, opazila znamenje, signal za nevarnost.
  Vsi dosedanji poskusi komunikacije z otokom so bili neuspešni. Le kaj se je na otoku zgodilo?
</p>
<h2 id="elarkova-prošnja">Elarkova prošnja</h2>
<p>
  <strong>Elark Elvanar</strong>, <em>upravnik zapora</em> v Hlobivodu. Vedno eleganten, z barvno usklajeno obleko.
  Govori počasi in umirjeno, a s strogim, skorajda grozečim podtonom, ki poskrbi, da je njegov namen več kot jasen.
</p>
<figure>
  <img alt="Elark" src="/imgs/RPGs/Incident-v-Herfovem-Braniku/Elark.jpg" />
  <figcaption>
    Elark Elvanar prihaja iz visoko ugledne družine vilincev, katere člani v Hlobivodu zasedajo mnoge visoke položaje.
  </figcaption>
</figure>
<p>
  Elark ima kot upravnik zapora <em>informacije</em> o tem, kje se nahaja določena oseba, ki jo iščete. Te bo predal, če
  mu pustolovci prej <em>pomagajo</em> ugotoviti, kaj se dogaja na otoku. Dodatno bo kril tudi vse stroške za vaše
  nadaljnje bivanje v mestu.
</p>
<p>
  Znamenje, ki je bilo opaženo v noči iz petka na soboto, pomeni
  <em>nevarnost</em> kategorije A. Tak scenarij po kodeksu zahteva popolno <em>izolacijo</em> otoka. Ker to pomeni
  gotovo smrt za vse stražnike v zaporu, želi Elark najprej na otok poslati nekoga, ki bo dogajanje raziskal; še preden
  njegovi nadrejeni ugotovijo, da se obotavlja,
</p>
<blockquote>
  <p>
    Po izkušnjah vem, da ljudje nalogo opravijo bolje, če z njo odplačujejo uslugo. Ljudem, ki iščejo zgolj plačilo v
    denarju, pogosto manjka nekakšna … kvaliteta volje.
  </p>
  <p>—Elark Elvanar</p>
</blockquote>
<h2 id="gritino-spremstvo">Gritino spremstvo</h2>
<p>
  Na misiji jih bo <em>spremljala</em> Elarkova najzanesljivejša oseba, <strong>Grita Gruftrid</strong>,
  <em>poveljnica straže</em> Helmovega Brana. Njeno glavo krasijo ponosne kite, okrašene z zlatimi in srebrnimi obročki.
  Škratinja, ki je prijetna in duhovita, a toliko bolj strahotna v svoji jezi do sovražnikov in drugih ljudi, ki ji
  stopijo na prst.
</p>
<figure>
  <img src="/imgs/RPGs/Incident-v-Herfovem-Braniku/Grita.jpg" alt="Grita" />
  <figcaption>
    Ko se rabi pomiriti, Grita kadi iz ene svojih dolgih pip, narejene iz kosti zmajev, ki so jih pokončali njeni
    predniki.
  </figcaption>
</figure>
<p>
  Situacija je izjemno <em>resna</em> in časovno občutljiva. Ladja, ki jih bo prepeljala na otok, je že pripravljena v
  Tihotapčevem Doku.
</p>
<h2 id="informativni-sestanek">Informativni sestanek</h2>
<p>
  Na ladji z Grito pregledajo mapo, ki jim jo je Elark dal. Vsebuje pomembne
  <em>informacije za misijo</em>.
</p>
<p>
  Jutri ob 23:30 se konča 6 dnevna <em>izmena</em>, v katerih stražarji živijo na otoku in opravljajo svoje naloge,
  preden se z ladjo vrnejo v mesto za 12 dnevni počitek. Poleg signala je bila zadnja komunikacija otokom v petek, ob
  23:56.
</p>
<blockquote>
  <p>PETEK, ob 23:56</p>
  <p>Približuje se nevihta. Zaradi možnih poškodb inštrumentov do nadaljnjega prekinjamo komunikacijo.</p>
  <p>—zadnja komunikacija z otokom</p>
</blockquote>
<p>
  V četrtek zjutraj je na otok odplula redna <em>oskrbovalna ladja</em>. Zadnja komunikacija z njimi je bila v petek ob
  15:04.
</p>
<p>
  Po zadnjih podatkih <em>ocene nevarnosti</em> trenutnih zapornikov ustrezajo kategorijam Γ ali nižje. Zaporniki
  kategorije Γ so:
</p>
<p>
  Γ2.1476.90, <em>bazilisk</em> dolžine 2.3 m, ki ga je pustolovska skupina █████ 6. dni jeseni 1476 našla v
  kanalizacijskem sistemu Globivoda.
</p>
<p>Γ9.1476.6, <strong>Kraxon Sakul</strong>, nevaren <em>drakonski paladin</em>,</p>
<p>
  Γ4.1474.23, rdeč kromatični zmaj, starosti 4 let, dolžine ███. Onesvesten trčil v južno krilo 15. dni pomladi 474.
  Zmaj bo po Zakonu o ubijanju zmajev kot mlad zmaj brez znanih čutečih žrtev izpuščen v ██████ na █████████ 1477. Po
  tem ostaja v nadzoru ██████████████.
</p>
<p>
  Γ5.1398.12, <em>pseudofilakterska</em> lobanja <strong>Unaprixa Škrlatnega</strong>, sposobnega in ambicioznega
  temnega čarovnika, ki je v ritualu, ki naj bi mu zagotovil nesmrtnost, utrpel redek zaplet – pseudofilaktersko fuzijo.
  Namesto da bi se vivoesenca premestila v objekt, ki je bil predhodno pripravljen za filakter, se je samovoljno
  preselila v lobanjo njegove mačke, ki je prisostvovala obredu. Lobanja je bila najdena v nepovezani preiskavi
  Uraprixovega brloga na █████████ 1398. Po preiskavi, ki jo je opravil dr. ███████████, je bila privedena v ustanovo.
  Brez potrebne priprave je nastali pseudofilaker funkcionalno neuporaben za funkcije tipičnega filakterja, a ohranja
  majhen del Unaprixove magične moči. Zaradi nevarnosti, ki jo ta predstavlja mestu Globivod, predmet kljub prošnjam
  █████████ do nadalnjega ostaja v varstvu ustanove.
</p>
<h2 id="i.-dan-plovbe">I. dan plovbe</h2>
<p>
  Alfonza je hitra <em>trgovska ladja</em>, ki jo je mesta straža zasegla za namen misije. Kapitan
  <strong>Hubert</strong> kljub prepričevanju, da je misija nevarna, ostal na ladji. Z njim je ostal tudi navigator in
  posadka osmih mož. Ker za plovbo ladja potrebuje ~20 mož, so preostala mesta zapolnili pripadniki kraljeve mornarice.
</p>
<p>
  Proti večeru opazijo veliko okovano <em>skrinjo</em>, ki plava na vodi. Skrinja je pravzaprav <em>mlad mimik</em>. Ker
  je mlad, je z ostrim očesom mogoče videti skozi njegovo krinko (DC 15 Perception). Njegov namen je, da ga shranijo v
  podpalubju, kjer bo lahko lovil podgane ali celo kaj večjega.
</p>
<h2 id="ii.-dan-plovbe">II. dan plovbe</h2>
<p>
  Življenje na morju je dovolj dolgočasno, da se je smiselno zamotiti z prevezovanjem jader in ribanjem palube.
  Originalna posadka ladje ima v podpalubju skritih tudi nekaj pitroških petelinov – majhnih pernatih dinozavrov, s
  katerimi prirejajo <em>boje</em>, kjer stavijo na posamezne ptiče.
</p>
<p>
  Ko se bliža mrak, se iz podpalubja zaslišijo <em>kriki</em>. Na tleh, v luži temne krvi leži mornar, nad njim pa se
  sklanja nekdo oz. nekaj v okrvavljeni uniformi mornarice. <em>Postava</em> je skoraj človeška, a izkrivenčena, z
  usnjeno modrikasto kožo. Napade vsakogar, ki se poskuša približati; vsi poskusi pregovarjanja so zaman.
</p>
<p>
  Mornar, ki ga je stvor napadel, izgublja veliko krvi. Stabilizirati ga uspe le nekomu z zadostnim znanjem medicine (DC
  16 Medicine). Po uniformi in brazgotini na levi rami pošastni stvor mornarji <em>prepoznajo</em> kot Geralta Vandama,
  desetnika kraljeve mornarice. Popolnoma normalnega so ga videli še pred slabo uro, ko se je odpravil v podpalubje po
  hrano. V njegovih žepih odkrijejo bele in črne <em>gobe z rdečim vrhom</em>, ki jih Grita prepozna kot štorklje.
  Pregled podpalubja (DC 10 Investigation) razkrije zaboj s enakimi gobami.
</p>
<h2 id="štroklji-in-rdečejedci">Štroklji in rdečejedci</h2>
<p>
  <strong>Štorkelj</strong> (znansteno ime <em>Cortinariaceae Ciconia</em>) je majhna goba, ki je ime dobila po črnem
  peclju in belem klobuku, ki ga zaključuje rdeč “kljun”. Njen beli in črni del v Helmovem Braniku uporabljajo za
  izdelavo močnega <em>zavirala</em> magičnih moči. A rdeči del gobe skriva nekaj popolnoma drugačnega.
</p>
<blockquote>
  <p>
    Cortinariaceae Ciconia vsebuje visoko koncentracijo rosamida. Levi enantiomer te snovi, t. j. (L)-rosamid, je
    zaviralec venterona. Ker hormon venteron igra ključno vlogo v procesu magičnega izraza, rosamid učinkovito (v dovolj
    visokih dozah popolnoma) zavira kapaciteto organizma za izraz magije. Zato se pogosto uporablja v zdravljenju motenj
    z regulacijo magije.
  </p>
  <p>
    Ravno nasprotno pa (R)-rosamid produkcijo venterona v telesu močno poveča. Brez drugih hormonov, ki so prisotni v
    intrinzično čarobnih organizmih, to povzroči nestabilen izrazni profil magije in drastične morfološke spremembe. V
    humanoidnih organizmih so pogosti izpadanje dlake, modra barva kože, oči brez šarenic z medlim modrim žarom, rast
    čekanov in krempljev. Fizične spremljajo tudi vedenjske spemembe. Močna prehrambena preferenca za mrhovino in
    izjemno visoka stopnja agresije, tudi ko vedenju ni mogoče pripisati nobenega funkcionalnega razloga.
  </p>
  <p>
    —Takedor Prodorni,<br />
    Aplikativne botanika za nadarjene amaterje
  </p>
</blockquote>
<p>
  Rdeči del gobe magične ob zaužitju ojača magične moči in povzroči
  <em>preobrazbo</em> v <strong>rdečejedca</strong> – nečloveško pošast, ki jo preveva <em>nestabilna</em> magična
  energija.
</p>
<figure>
  <img alt="štorkelj" src="/imgs/RPGs/Incident-v-Herfovem-Braniku/storkelj.jpg" />
  <figcaption>
    Štorkelj z svojim značilnim rdečim vrhom. Naravno raste le na dveh majhnih močvirnatih območjih v Visokem Lesu.
    Nekateri zgodovinarji verjamejo, da sta območji nastali v noči blaznih zvezd, ko je Učitelj boginji Vetiti iztaknil
    oči in jih zalučal nazaj na Zemljo. Hipotezo motivira tudi to, da ljudje iz rodu starega Ostroprska gobo imenujejo
    “oko krwoj Ob”, kar neposredno pomeni “krvavo oko boginje zaščitnice”.
  </figcaption>
</figure>
<h2 id="usoda-oskrbovalne-ladje">Usoda oskrbovalne ladje</h2>
<figure>
  <img alt="skica otoka" src="/imgs/RPGs/Incident-v-Herfovem-Braniku/otok-skica.png" />
  <figcaption>
    Na mestu, kjer zdaj stoji zapor, je nekoč stala trdnjava, iz katerega je pirat Miha poveljeval svoji floti in
    nadziral ves trgovski promet v in iz Hlobivoda.
  </figcaption>
</figure>
<p>
  Nedaleč od zaliva Špička je na otoku <em>razbitina</em> oskrbovalne ladje <strong>Donovanova Sreča</strong>. V
  kapitanovi sobi najdejo (DC 12 Investigation) <em>dnevnik</em>, ki opisuje njihovo pot vse do petka pred nočjo, ko je
  bil opažen signal. Pustolovcu z ostrim očesom lahko uspe med deskami ladijskega trupa najti (DC 25 Investigation)
  majhen, a prepoznaven <em>košček štorklja</em>.
</p>
<blockquote>
  <p>ČETRTEK, 16. dan jeseni. Prvi dan. Posadka in ladja sta znani in zanesljivi. Imamo izvrsten veter.</p>
  <p>
    PETEK, 17. dan jeseni. Drugi dan plovbe. Ob 8:00 smo srečali trgovsko ladjo Ezro in jih preusmerili iz kurza, ki je
    potekal preblizu otoka. Po kartah smo že zelo blizu. Bliža se nevihta nevarnega izgleda. Še preden nas ujame bomo
    poskušali priti do otoka in pristati.
  </p>
  <p>—kapitan Anker, dnevnik Donovanove Sreče</p>
</blockquote>
<p>
  Huda nevihta je oskrbovalno ladjo zajela in jo <em>brodolomila</em> na južno-zahodni obali otoka. Posadka se prebudila
  lačna in premražena. Slana voda je premočila vso hrano in več mož je bilo hudo ranjenih. Vsa komunikacijska oprema je
  bila uničena, zato se je kapitan <strong>Anker</strong> odpravil <em>iskati pomoč</em> v Helmov Branik na drugi strani
  otoka. Med tem je eden od mlajših članov posadke med razbitinami našel še zatesnjen <em>zaboj štorkljev</em>, ki so
  jih dostavljali v Herfov Branik. Sestradana posadka gob ni poznala, sklepali so, da so preprosto del zaloge hrane za
  stražnike v zaporu.
</p>
<p>
  Kmalu po obroku, ko so se premraženi greli ob ognju, se je
  <em>preobrazba</em> pričela. Bljuvanje krvi, lomljenje kosti in krvavenje. Človeška telesa, prekrhka za sile, ki jih
  poskušajo zadržati. Slan pesek, prepojen s krvjo in izpadli človeški zobje. Nekoč 21 mož. Zdaj
  <em>21 rdečejedcev</em>.
</p>
<h2 id="signal-v-noči">Signal v noči</h2>
<p>
  Med tem je kapitan Anker dosegel zapor in skupina 4 stražnikov in zdravilec so se odpravili nazaj na jugo-zahodno
  obalo, da <em>pomagajo brodolomcem</em>. Kapitan je ostal v zaporu, da se spočije po napornem teku preko otoka.
</p>
<p>
  Proti podivjani hordi rdečejedcev niso imeli možnosti. Le zdravilec je uspel
  <em>pobegniti</em> in <em>obvestiti</em> stražo v Braniku. Časa za priprave je bilo malo. Boj je bil silovit, a
  skupini treh stražnikov se je uspelo prebiti skozi val napadalcev in izstreliti dogovorjeni svetlobni
  <em>signal za nevarnost</em>.
</p>
