<h1>Sonar</h1>
<h1 class="subtitle">Inverzni problem akustičnega loma v približku geometrijske akustike</h1>
<h2 id="uvod">Uvod</h2>
<p>Zvok je v osnovi valoven pojav. Njegov matematični opis prestavlja valovna enačba</p>
<p>
  <span class="math display">\[\left[ \nabla^2 - \frac{1}{c^2} \frac{\partial^2}{\partial t^2} \right] u = 0,\]</span>
</p>
<p>
  ki je v splošnem izjemno bogata in opisuje tako mehanske snovne valove kot tudi elektromagnetno valovanje oz.
  svetlobo. Pogosto pa nas zanimajo le pogledi na določene lastnosti rešitev splošne valovne enačbe. Eden izmed takih
  aplikativnih pogledov najdemo v primeru širjenja zvočnih žarkov v oceanu ali Zemljini skorji (v nadaljevanju ocean). V
  oceanu se hitrost zvoka povečuje z globino. Akustični žarek, ki ga pošljemo navzdol v ocean pod nekim kotom, se zaradi
  naraščajoče hitrosti zvoka prej ali slej ukrivi navzgor in na neki razdalji od vira zopet doseže gladino.
</p>
<figure id="fig:shooting">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/shooting.png" width="600" />
  </div>
  <figcaption>
    Ukrivljena pot žarka v oceanu z naraščajočo hitrostjo zvoka oz. padajočim lomnim količnikom. Žarek pošljemo navzdol
    ocean pod kotom
  </figcaption>
</figure>
<p>
  Za neko prostorsko odvisno hitrost valovanja
  <span class="math inline">\(c(\mathbf{r})\)</span> je propagacija začetne motnje določena z valovno enačbo – naloga
  določanje take propagacije je t. i. napovedni problem (ang. <em>forward problem</em>), saj iz določenega znanega
  vzročnega profila snovi izračunamo posledico.
</p>
<p>
  Za uporabne namene pa nas pogosto zanima ravno nasprotna naloga, t. i. inverzni problem (ang.
  <em>inverse problem</em>). Pri inverznem problemu je profil snovi (vzrok za ukrivljanje žarka) neznan – znane so le
  meritve oz. posledica ukrivljanja žarka v snovi, npr. odvisnost dometa
  <span class="math inline">\(X(\vartheta_0)\)</span> v odvisnosti od kota poslanega žarka
  <span class="math inline">\(\vartheta_0\)</span>. Ta naloga je v splošnem težja od napovedne. Kot bomo videli v
  nadaljevanju, obstoj rešitev ni nujno zagotovljen, za uspeh pa je potrebno kar nekaj predpostavk.
</p>
<p>
  V nadaljevanju bomo opisani inverzni problem natančno formulirali v približku geometrijske optike in problem povezali
  z drugim matematično podobnim problemom. Preučili bomo probleme z obstojem rešitve in izpeljali rešitev v
  neproblematičnem primeru. Izpeljano rešitev in intuicijo pa bomo podkrepili tudi z nekaj numeričnimi primeri.
</p>
<h2 id="formulacija-problema">Formulacija problema</h2>
<h3 id="geometrijska-optika-in-žarkovna-enačba">Geometrijska optika in žarkovna enačba</h3>
<p>
  Problem širjenja akustičnih valov bomo obravnavali v približku geometrijske optike. Četudi sta zvok in svetloba
  različna pojava, ima njuna propagacija skupen opis v valovni enačbi. Približek geometrijske optike, kjer se svetloba
  širi vzdolž ravnih ali ukrivljenih žarkov, je pravzaprav bolj splošen.
</p>
<p>
  V razvoju optike in akustike je valovna obravnava svetlobe in zvoka dobila jasno potrditev z uspešno pojasnitvijo
  uklona in interference. Šele precej kasneje pa se je pojavilo razumevanje, da je vsesplošno uporabna geometrijska
  optika le limitni primer valovne enačbe, ko gre valovna dolžina
  <span class="math inline">\(\lambda \to 0\)</span>. Takšna limita valovne enačbe se imenuje ikonalna enačba (ang.
  <em>eikonal equation</em>). Ikonalno enačbo lahko izpeljemo direktno iz Maxwellovih enačb <span
    class="citation"
    data-cites="born2019principles"
    >[<a href="#ref-born2019principles" role="doc-biblioref">1</a>, str. 117]</span
  >, v njej pa prepoznamo tudi 1. red WKB metode, uporabne tudi za reševanje Scrödingerjeve enačbe v kvantni mehaniki
  (glej npr. <span class="citation" data-cites="ramsak2023kvantna"
    >[<a href="#ref-ramsak2023kvantna" role="doc-biblioref">2</a>, str. 184]</span
  >).
</p>
<p>
  Osnovni vpogled nizkovalovnodolžinske limite pa je bil poznan dolgo pred formalnimi obravnavami valovne enačbe.
  Fermatovo načelo, ki ga je Pierre de Fermat zapisal že leta 1662, pravi, da valovanje<a
    href="#fn1"
    id="fnref1"
    class="footnote-ref"
    role="doc-noteref"
    ><sup>1</sup></a
  >
  med dvema točkama po mediju potuje po poti, za katero rabi najmanj časa <span
    class="citation"
    data-cites="olenik2022optika"
    >[<a href="#ref-olenik2022optika" role="doc-biblioref">3</a>]</span
  >. Ob vpeljavi lomnega količnika
  <span class="math inline">\(n(\mathbf r) := \frac{c_0}{c(\mathbf r)}\)</span>
  lahko Fermatovo načelo razumemo kot stacionarnost funkcionala
</p>
<p>
  <span class="math display">\[\delta \int_1^2 n(\mathbf r) \,\mathrm{d}s = 0.\]</span>
</p>
<p>
  Enačbo, ki opisuje pot posameznega žarka, lahko tedaj dobimo z uporabo Euler-Lagrangeve enačbe za variacijske probleme
  tega tipa, pri čemer je naš Lagrangian
</p>
<p>
  <span class="math display"
    >\[\mathcal{L}(\mathbf{r}(t), \dot{\mathbf{r}}(t)) = n(\mathbf{r}) \cdot | \dot{\mathbf{r}} |\]</span
  >
</p>
<p>
  saj je
  <span class="math inline">\(\mathrm{d}s = |\dot{\mathbf{r}}| \mathrm{d}t\)</span>. Enačba za posamezno trajektorijo
  oz. žarek je tedaj
</p>
<p>
  <span class="math display"
    >\[\begin{aligned} \frac{\mathrm{d}}{\mathrm{d}t} \left( \frac{\partial \mathcal{L}}{\partial \dot{\mathbf{r}}}
    \right) - \frac{\partial \mathcal{L}}{\partial \mathbf{r}} &amp;= 0 \\ \frac{\mathrm{d}}{\mathrm{d}t} \left(
    n(\mathbf r) \cdot \frac{\dot{\mathbf{r}}}{|\dot{\mathbf{r}}|} \right) - \nabla n \cdot |\dot{\mathbf{r}}| &amp;= 0,
    \end{aligned}\]</span
  >
</p>
<p>
  in če zdaj zopet uporabimo
  <span class="math inline">\(\mathrm{d}s = |\dot{\mathbf{r}}| \mathrm{d}t\)</span>, dobimo navadno diferencialno enačbo
  za žarek
</p>
<p>
  <span id="eq:ray-ode" class="math display"
    >\begin{equation}\frac{\mathrm{d}}{\mathrm{d}s} \left( n(\mathbf r) \frac{\mathrm{d}\mathbf{r}}{\mathrm{d}s} \right)
    = \nabla n. \label{eq:ray-ode}\end{equation}</span
  >
</p>
<aside class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol>
    <li>
      <div id="fn1">
        <p>
          Fermat je načelo zapisal za svetlobo, a povsem veljavno je tudi za nizkovalovnodolžinsko limito kateregakoli
          valovanja, ki ga opisuje klasična valovna enačba.<a href="#fnref1" class="footnote-back" role="doc-backlink"
            >↩︎</a
          >
        </p>
      </div>
    </li>
  </ol>
</aside>
<h3 id="širjenje-v-enodimenzionalnem-profilu">Širjenje v enodimenzionalnem profilu</h3>
<p>
  Žarkovna enačba (<a href="#eq:ray-ode" data-reference-type="ref" data-reference="eq:ray-ode">1</a>) napoveduje
  trajektorijo žarka za neko začetno hitrost
  <span class="math inline"
    >\(\frac{\mathrm{d}\mathbf{r}}{\mathrm{d}s} \big\rvert_{t = 0} = (\cos \vartheta_0, -\sin \vartheta_0)\)</span
  >
  iz izhodišča
  <span class="math inline">\(\mathbf{r} \big\rvert_{t = 0} = 0\)</span>. Taka trajektorija se bo ob zadostno
  naraščajoči hitrosti (oz. padajočem lomnemu količniku) zvoka ukrivila navzgor (slika <a
    href="#fig:shooting"
    data-reference-type="ref"
    data-reference="fig:shooting"
    >1</a
  >) in ponovno dosegla gladino pri dometu <span class="math inline">\(X(\vartheta_0)\)</span>.
</p>
<p>
  V nadaljevanju se bomo pri inverznem problemu omejili na enodimenzionalne profile hitrosti oz. lomnega količnika, ki
  se spreminjajo zgolj z globino oceana. Predstavljamo si ocean, ki ga sestavljajo tanke vodoravne plasti z različnimi
  lomnimi količniki. Iz oblike
  <span class="math inline">\(n(\mathbf r) = n(z)\)</span> velja v <span class="math inline">\(x\)</span>-komponenti
  žarkovne enačbe
</p>
<p>
  <span class="math display"
    >\[\frac{\mathrm{d}}{\mathrm{d}s} \left( n(z) \frac{\mathrm{d}x}{\mathrm{d}s} \right) = \frac{\partial n}{\partial
    x} \equiv 0,\]</span
  >
</p>
<p>
  torej je na trajektoriji žarka količina
  <span class="math inline">\(n(z) \frac{\mathrm{d}x}{\mathrm{d}s} = n(z) \sin{\vartheta}\)</span>
  konstantna. To konstanto, ki identificira posamezen žarek, imenujemo za žarkovno parameter
  <span class="math inline">\(p\)</span>
</p>
<p><span class="math display">\[p := n(z) \sin{\vartheta}.\]</span></p>
<p>
  Ohranitev žarkovnega parametra lahko razumemo tudi kot zvezno različico Snellovega lomnega zakona. Žarkovni parameter
  bo v parametrizaciji problema nadomestil začetni kot <span class="math inline">\(\vartheta_0\)</span>, tako da zdaj
  namesto odvisnosti dometa <span class="math inline">\(X(\vartheta_0)\)</span> gledamo enakovredno odvisnost
  <span class="math inline">\(X(p)\)</span>. Žarkovna parameter je na gladini oceana, kjer je lomni količnik
  <span class="math inline">\(n(0) = n_0\)</span>, določen kot
</p>
<p>
  <span id="eq:initial" class="math display"
    >\begin{equation}p = n_0 \sin{\vartheta_0}. \label{eq:initial}\end{equation}</span
  >
</p>
<h3 id="napovedni-model">Napovedni model</h3>
<p>
  Preden se lotimo inverznega problema, moramo zapisati napovedni model. V našem primeru je to predpis, ki določenemu
  znanemu profilu lomnega količnika
  <span class="math inline">\(n(z)\)</span> pripiše napovedno funkcijo dometa
  <span class="math inline">\(X(\vartheta_0)\)</span>.
</p>
<p>
  Ker se žarkovni parameter <span class="math inline">\(p\)</span> ohranja vzdolž trajektorije, velja
  <span class="math inline">\(\sin\vartheta = p / n(z)\)</span> in po preprosti trigonometrični identiteti zapišemo
</p>
<p>
  <span class="math display"
    >\[\frac{\mathrm{d}x}{\mathrm{d}z} \equiv \tan \vartheta = \frac{p / n(z)}{\sqrt{1 - \big( p/n(z) \big)^2}}.\]</span
  >
</p>
<p>
  Iz simetrijskih razlogov je jasno, da je trajektorija posameznega žarka simetrična glede na točko, pri kateri žarek
  doseže največjo globino
  <span class="math inline">\(h\)</span> (glej skico <a
    href="#fig:shooting"
    data-reference-type="ref"
    data-reference="fig:shooting"
    >1</a
  >). Žarek torej v navpični smeri prepotuje od <span class="math inline">\(z = 0\)</span> do
  <span class="math inline">\(z = h\)</span>, hkrati pa v horizontalni razdalji prepotuje ravno polovico dometa
  <span class="math inline">\(X/2\)</span>. Zato lahko domet <span class="math inline">\(X\)</span>, v katerem žarek
  ponovno doseže gladino, zapišemo kot
</p>
<p>
  <span class="math display"
    >\[X = 2 \int_0^h \,\mathrm{d}x = 2p \int_0^h \frac{\mathrm{d}z}{\sqrt{n(z)^2 - p^2}}.\]</span
  >
</p>
<p>
  S formalno<a href="#fn2" id="fnref2" class="footnote-ref" role="doc-noteref"><sup>2</sup></a>
  uvedbo nove spremenljivke
  <span class="math inline">\(u = n_0^2 - n(z)^2\)</span> in zgornje meje
  <span class="math inline">\(P := n_0 - n(h)^2\)</span> lahko to zapišemo tudi kot
</p>
<p>
  <span id="eq:forward0" class="math display"
    >\begin{equation}\frac{X(P)}{2p} = \int_{0}^P \frac{\left[ -\frac{1}{2n n'(z)} \right]_u}{\sqrt{P - u}}
    \,\mathrm{d}u, \label{eq:forward0}\end{equation}</span
  >
</p>
<p>
  Pri tem smo zgornjo mejo integrala
  <span class="math inline">\(P = n_0^2 - n(h)^2\)</span> uvedli kot nov parameter. Ta je določen ravno z žarkovnim
  parametrom, ko velja, da je na dnu trajektorije, pri globini <span class="math inline">\(h\)</span>, lokalni kot žarka
  <span class="math inline">\(\theta = \frac{\pi}{2}\)</span>. Iz ohranitve žarkovnega parametra
  <span class="math inline">\(p = n(h) \sin \frac{\pi}{2}\)</span> tedaj velja
</p>
<p><span class="math display">\[n(h) = p \qquad P = n_0^2 - p^2\]</span></p>
<p>
  in nova zgornja meja integrala in parameter za napovedno funkcijo dometa je po (<a
    href="#eq:initial"
    data-reference-type="ref"
    data-reference="eq:initial"
    >2</a
  >) tedaj
</p>
<p><span class="math display">\[P = n_0^2 \cos^2 \vartheta_0.\]</span></p>
<p>
  Kot na skici <a href="#fig:shooting" data-reference-type="ref" data-reference="fig:shooting">1</a> je v intuitivni
  predstavi trajektoriji žarka očitno, da je lokalni kot žarka na dnu trajektorije ravno
  <span class="math inline">\(\frac{\pi}{2}\)</span>. A formalno je za to potrebna zvezno odvedljiva trajektorija.
  Povsem preprosto si prestavljamo protiprimer, kjer se žarek popolno odbije od stika plasti, na katerem ima lomni
  količnik nezvezen skok. Pri odboju od takega stika je tudi sprememba smeri žarka ne-infinitezimalna in lokalni kot na
  dnu trajektorije ni definiran.
</p>
<p>
  <strong>Predpostavka.</strong> Profil lomnega količnika <span class="math inline">\(n(z)\)</span> je (odsekoma) zvezna
  funkcija.
</p>
<p>
  V predpostavko smo dodali možno relaksacijo, da je lomni količnik le odsekoma zvezen. Tedaj imamo na nezveznih skokih
  prisotne tudi odboje, ki jih ne opisuje geometrijska optika, razen v primeru popolnega odboja. V nadaljevanju
  diskusije je privzeto, da taki odboji niso prisotni v sliki napovedne funkcije
  <span class="math inline">\(X(P)\)</span> – za nas je pomembno le, da je dno trajektorije žarka v enem izmed zveznih
  odsekov.
</p>
<p>
  S to predpostavko lahko na zvezno odvedljivost trajektorije sklepamo iz žarkovne enačbe v zveznem profilu
  <span class="math inline">\(n(z)\)</span>
</p>
<p>
  <span class="math display"
    >\[\begin{aligned} \frac{\mathrm{d}}{\mathrm{d}s} \left( n(z) \frac{\mathrm{d}z}{\mathrm{d}s} \right) &amp;=
    \frac{\partial n}{\partial z} \\ n(z) \frac{\mathrm{d}z}{\mathrm{d}s} &amp;= \int_0^z \left[ \frac{\partial
    n}{\partial z} \right]_{z'} \left[ \frac{\mathrm{d}z}{\mathrm{d}s} \right]_{z'} \,\mathrm{d}z'.
    \end{aligned}\]</span
  >
</p>
<p>
  Ker sta v integrandu na desni strani odvoda dveh zveznih funkcij, je tudi leva stran zvezna, kar pa neposredno pomeni
  zvezno odvedljivost trajektorije
  <span class="math inline">\(z(s)\)</span>. Tako argument o parabolični obliki dna trajektorije ohrani veljavnost.
</p>
<p>Napovedna funkcija <span class="math inline">\(\widetilde{X}(P)\)</span> je tedaj izražen kompaktno kot integral</p>
<p>
  <span id="eq:forward" class="math display"
    >\begin{equation}\widetilde{X}(P) = \int_{0}^P \frac{F(u)}{\sqrt{P - u}} \,\mathrm{d}u,
    \label{eq:forward}\end{equation}</span
  >
</p>
<p>pri čemer smo uvedli modificirano napovedno funkcijo kot</p>
<p>
  <span class="math display">\[\widetilde{X}(P) = \frac{X(P)}{2p} = \frac{X(P) / 2}{\sqrt{n_0^2 - P}}\]</span>
</p>
<p>v integrandu pa funkcijo</p>
<p>
  <span id="eq:forward-F" class="math display"
    >\begin{equation}F(u) := \left[ -\frac{1}{2nn'(z)} \right]_u = \left[ \frac{\mathrm{d}z}{\mathrm{d}u} \right]_u,
    \label{eq:forward-F}\end{equation}</span
  >
</p>
<p>
  saj je
  <span class="math inline">\(\frac{\mathrm{d}u}{\mathrm{d}n} = -2n\)</span>
  odkar smo uvedli novo spremenljivko
  <span class="math inline">\(u = n_0^2 - n(z)^2\)</span>
</p>
<p>
  <span class="math display"
    >\[-\frac{1}{2nn'(z)} = \left( \frac{-1}{2n} \right) \frac{\mathrm{d}z}{\mathrm{d}n} = \left( \frac{-1}{2n} \right)
    \frac{\mathrm{d}u}{\mathrm{d}n} \frac{\mathrm{d}z}{\mathrm{d}u} = \frac{\mathrm{d}z}{\mathrm{d}u}.\]</span
  >
</p>
<aside class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol start="2">
    <li>
      <div id="fn2">
        <p>
          Uvedba le te je problematična, če funkcija
          <span class="math inline">\(n(z)\)</span> ni injektivna. Zaenkrat bomo predpostavko injektivnosti jemali kot
          implicitno, kaj pa to pomeni za obstoj rešitev, pa bomo diskutirali v razdelku o obstoju rešitev.<a
            href="#fnref2"
            class="footnote-back"
            role="doc-backlink"
            >↩︎</a
          >
        </p>
      </div>
    </li>
  </ol>
</aside>
<h2 id="abelov-problem">Abelov problem</h2>
<figure id="fig:rolling">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/rolling.png" width="400" />
  </div>
  <figcaption>
    Postavitev za Abelov inverzni problem. Za neko začetno višino
    <span class="math inline">\(h\)</span> nad izhodiščem poznamo čas potovanja do dna klančine (<span
      class="math inline"
      >\(z = 0\)</span
    >). Inverzni problem je določanja oblike klančine iz odvisnosti <span class="math inline">\(T(h)\)</span>.
  </figcaption>
</figure>
<p>
  Za boljše razumevanje problema bomo predstavili podoben inverzni problem iz mehanike, ki ga je v svojem zgodnjem delu
  predstavil Abel <span class="citation" data-cites="bocher2015introduction"
    >[<a href="#ref-bocher2015introduction" role="doc-biblioref">4</a>, str. 6]</span
  >. Gre za inverzni problem, pri katerem želimo izračunati neznano obliko klančine, po kateri se kotali objekt. Vhodni
  podatek so znani časi kotaljenja po <span class="math inline">\(T(h)\)</span> kot funkcija začetnih višin
  <span class="math inline">\(h\)</span> (glej sliko <a
    href="#fig:rolling"
    data-reference-type="ref"
    data-reference="fig:rolling"
    >2</a
  >). Če je začetna višina <span class="math inline">\(h\)</span>, lahko iz ohranitve energije neposredno zapišemo, da
  hitrost narašča kot
</p>
<p>
  <span class="math display">\[\frac{\mathrm{d}s}{\mathrm{d}t} \Big\rvert_z = \sqrt{2g(h - z)},\]</span>
</p>
<p>
  ko se krogla skotali od <span class="math inline">\(z = h\)</span> do <span class="math inline">\(z = 0\)</span>.
  Tedaj lahko zapišemo spremembo časa, ki preteče ob majhnem koraku <span class="math inline">\(\mathrm{d}z\)</span> v
  navpičnem pomikanju krogle
</p>
<p>
  <span class="math display"
    >\[\mathrm{d}t = \frac{\mathrm{d}s}{\sqrt{2g(h - z)}} = \frac{\left[ \frac{\mathrm{d}s}{\mathrm{d}z} \right]
    \mathrm{d}z}{\sqrt{2g(h - z)}}\]</span
  >
</p>
<p>
  Celoten čas kotaljenja od začetne višine
  <span class="math inline">\(h\)</span> do dna je tedaj izražen kot integral
</p>
<p>
  <span id="eq:abel-forward" class="math display"
    >\begin{equation}T(h) = \int_0^h \frac{F(z)}{\sqrt{h - z}} \,\mathrm{d}z,
    \label{eq:abel-forward}\end{equation}</span
  >
</p>
<p>pri čemer je funkcija v integrandu</p>
<p>
  <span id="eq:abel-forward-F" class="math display"
    >\begin{equation}F(z) = \frac{-1}{\sqrt{2g}} \left[ \frac{\mathrm{d}s}{\mathrm{d}z} \right]_z
    \label{eq:abel-forward-F}\end{equation}</span
  >
</p>
<p>
  Vidimo, da je napovedna formula Abelovega problema (<a
    href="#eq:abel-forward"
    data-reference-type="ref"
    data-reference="eq:abel-forward"
    >6</a
  >) povsem enake oblike kot napovedna formula (<a
    href="#eq:forward"
    data-reference-type="ref"
    data-reference="eq:forward"
    >4</a
  >) za problem širjenja žarkov v oceanu. Za rešitev obeh inverznih problemov potrebujemo rešiti isto integralsko enačbo
  enake oblike, poimenovano po Abelu. Za širjenje žarkov predstavlja
  <span class="math inline">\(u = n_0^2 - n(z)^2\)</span> analog obliki klančine
  <span class="math inline">\(x(z)\)</span> v Abelovem mehanskem problemu. S to analogijo si bomo v nadaljevanju
  pomagali pri intuitivnem razumevanju obstoja rešitev za inverzni problem.
</p>
<div id="tab:summary">
  <figure>
    <table>
      <thead>
        <tr class="header">
          <th style="text-align: left">Abelov problem</th>
          <th style="text-align: left">
            Širjenje akustičnih žarkov,
            <span class="math inline">\(u = n_0^2 - n(z)^2\)</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td style="text-align: left">
            napoved
            <span class="math inline">\(T(h) = \int_0^h \frac{F(z) \,\mathrm{d}z}{\sqrt{h - z}}\)</span>
          </td>
          <td style="text-align: left">
            <span class="math inline">\(\widetilde{X}(P) = \int_{0}^P \frac{F(u) \,\mathrm{d}u}{\sqrt{P - u}}\)</span>
          </td>
        </tr>
        <tr class="even">
          <td style="text-align: left">
            <span class="math inline"
              >\(F(z) := \frac{-1}{\sqrt{2g}} \left[ \frac{\mathrm{d}s}{\mathrm{d}z} \right]_z\)</span
            >
          </td>
          <td style="text-align: left">
            <span class="math inline"
              >\(F(u) := \left[ \frac{\mathrm{d}z}{\mathrm{d}u} \right]_u \quad \widetilde{X}(P) := \frac{X(P) /
              2}{\sqrt{n_0^2 - P}}\)</span
            >
          </td>
        </tr>
        <tr class="odd">
          <td style="text-align: left">
            inverz
            <span class="math inline"
              >\(F(z) = \frac{1}{\pi} \frac{\mathrm{d}}{\mathrm{d}z} \int_0^z \frac{T(h) \,\mathrm{d}h}{\sqrt{z -
              h}}\)</span
            >
          </td>
          <td style="text-align: left">
            <span class="math inline"
              >\(F(u) = \frac{1}{\pi} \frac{\mathrm{d}}{\mathrm{d}u} \int_0^u \frac{\widetilde{X}(P)
              \,\mathrm{d}P}{\sqrt{u - P}}\)</span
            >
          </td>
        </tr>
        <tr class="even">
          <td style="text-align: left">
            <span class="math inline"
              >\(s(z) = \mathcal{S}_\mathrm{total} - \frac{\sqrt{2g}}{\pi} \int_0^z \frac{T(h) \,\mathrm{d}h}{\sqrt{z -
              h}}\)</span
            >
          </td>
          <td style="text-align: left">
            <span class="math inline"
              >\(z(u) = \frac{1}{\pi} \int_0^u \frac{\widetilde{X}(P) \,\mathrm{d}P}{\sqrt{u - P}} \quad z(n) =
              \frac{1}{\pi} \int_{0}^{[X]_{p=n}} \mathop{\mathrm{arcosh}}\left( \frac{p}{n} \right)
              \,[\mathrm{d}X]_p\)</span
            >
          </td>
        </tr>
      </tbody>
    </table>
    <figcaption>
      Primerjava in zbranih napovednih formul in njunih inverzov za Abelov problem in za širjenje akustičnih žarkov.
    </figcaption>
  </figure>
</div>
<p>
  Bôcher predstavi metodo, po kateri je Abelovo integralsko enačbo izvorno rešil Louville. Poda potrebne in zadostne
  pogoje (<em>Bôcherjeve pogoje</em> v nadaljevanju), da ima integralska enačba (<a
    href="#eq:abel-forward"
    data-reference-type="ref"
    data-reference="eq:abel-forward"
    >6</a
  >) zvezno rešitev <span class="citation" data-cites="bocher2015introduction"
    >[<a href="#ref-bocher2015introduction" role="doc-biblioref">4</a>, str. 9]</span
  >. Če je <span class="math inline">\(T(0) = 0\)</span>, napovedna funkcija
  <span class="math inline">\(T(h)\)</span> pa zvezna in odsekoma zvezno odvedljiva, ima integralska enačba (<a
    href="#eq:abel-forward"
    data-reference-type="ref"
    data-reference="eq:abel-forward"
    >6</a
  >) zvezno rešitev
</p>
<p>
  <span id="eq:bocher-inverse" class="math display"
    >\begin{equation}F(z) = \frac{1}{\pi} \frac{\mathrm{d}}{\mathrm{d}z} \int_0^z \frac{T(h)}{\sqrt{z - h}}
    \,\mathrm{d}h, \label{eq:bocher-inverse}\end{equation}</span
  >
</p>
<p>trivialno pa je uvideti, da je tedaj oblika klanca podana v implicitni obliki kot</p>
<p>
  <span class="math display"
    >\[\quad s(z) = \mathcal{S}_\mathrm{total} - \frac{\sqrt{2g}}{\pi} \int_0^z \frac{T(h) \,\mathrm{d}h}{\sqrt{z - h}}
    .\]</span
  >
</p>
<p>
  V nadaljevanju bomo podobno integralsko enačbo rešili na drugačen način, sprostili pa bomo tudi nekatere izmed
  Bôcherjevih pogojev, ki niso nujno potrebne za rešitev problema. Predpostavke kot je npr. zveznost napovedne funkcije
  <span class="math inline">\(T(h)\)</span>, pa bomo poskusili bolj intuitivno razumeti kot posledice opazovanega
  sistema, ne zgolj kot lastnost napovedne funkcije.
</p>
<h2 id="sec:math">Matematična diskusija</h2>
<h3 id="abelova-integralska-transformacija">Abelova integralska transformacija</h3>
<p>
  Integralsko enačbo Abelovega tipa, kakršni sta napovedni formuli (<a
    href="#eq:abel-forward"
    data-reference-type="ref"
    data-reference="eq:abel-forward"
    >6</a
  >) in (<a href="#eq:forward" data-reference-type="ref" data-reference="eq:forward">4</a>), bomo rešili z uporabo
  konvolucije. Prvo bomo obravnavali sorodno integralsko transformacijo, t. i. Abelovo transformacijo<a
    href="#fn3"
    id="fnref3"
    class="footnote-ref"
    role="doc-noteref"
    ><sup>3</sup></a
  >
  (glej <span class="citation" data-cites="bracewell2000fourier"
    >[<a href="#ref-bracewell2000fourier" role="doc-biblioref">6</a>, str. 351]</span
  >)
</p>
<p>
  <span id="eq:cousin" class="math display"
    >\begin{equation}F_\mathrm{A}(\mathcal{P}) = \int_\mathcal{P}^\infty \frac{F(\rho) \,\mathrm{d}\rho}{\sqrt{\rho -
    \mathcal{P}}}. \label{eq:cousin}\end{equation}</span
  >
</p>
<p>
  Želimo si izračunati inverz take transformacije, tako da lahko na podlagi podanega
  <span class="math inline">\(F_\mathrm{A}(\mathcal{P})\)</span> izračunamo funkcijo
  <span class="math inline">\(F(\rho)\)</span>. Za to potrebujemo rešiti integralsko enačbo (<a
    href="#eq:cousin"
    data-reference-type="ref"
    data-reference="eq:cousin"
    >9</a
  >). Ključen korak, ki to omogoči, je ugotovitev, da lahko spodnjo mejo integrala odstranimo, če v integrandu umetno
  dodamo Heaviside koračno funkcijo
  <span class="math inline">\(\theta(\rho - \mathcal{P})\)</span>
</p>
<p>
  <span id="eq:conv" class="math display"
    >\begin{equation}\int_\mathcal{P}^\infty \frac{F(\rho) \,\mathrm{d}\rho}{\sqrt{\rho - \mathcal{P}}} =
    \int_{-\infty}^\infty \frac{\theta(\rho - \mathcal{P})}{\sqrt{\rho - \mathcal{P}}} \,F(\rho) \,\mathrm{d}\rho =
    \int_{-\infty}^\infty K(\mathcal{P} - \rho) \, F(\rho) \,\mathrm{d}\rho, \label{eq:conv}\end{equation}</span
  >
</p>
<p>
  pri čemer smo v integrandu uvedli funkcijo
  <span class="math inline">\(K\)</span> kot
</p>
<p>
  <span id="eq:kernel" class="math display"
    >\begin{equation}K(x) := \frac{\theta(-x)}{\sqrt{-x}}. \label{eq:kernel}\end{equation}</span
  >
</p>
<p>
  Iz integrala na desni strani (<a href="#eq:conv" data-reference-type="ref" data-reference="eq:conv">10</a>) je takoj
  jasno, da imamo opravka s konvolucijo, kjer funkcija <span class="math inline">\(K\)</span> nastopa kot konvolucijsko
  jedro. Abelovo transformiranko lahko torej zapišemo preprosto kot
</p>
<p><span class="math display">\[F_\mathrm{A} = K \ast F.\]</span></p>
<p>
  Z uporabo konvolucijskega izreka lahko to enačbo rešimo v frekvenčni domeni. Za Fourierovo transformacijo, definirano
  kot
</p>
<p>
  <span class="math display"
    >\[\widehat{f}(\xi) := \int f(x)\,e^{-i2\pi \xi x} \,\mathrm{d}x \qquad f(x) = \int \widehat{f}(\xi)\,e^{i2\pi \xi
    x} \,\mathrm{d}\xi,\]</span
  >
</p>
<p>
  se integralska enačba v frekvenčni domeni poenostavi v algebraično enačbo
  <span class="math inline">\(\widehat{F}_\mathrm{A}(\xi) = \widehat{K}(\xi)\,\widehat{F}(\xi)\)</span>, katere rešitev
  je
</p>
<p>
  <span class="math display">\[\widehat{F}(\xi) = \frac{ \widehat{F}_\mathrm{A}(\xi)}{ \widehat{K}(\xi) }\]</span>
</p>
<p>
  Izračun Fourierove transformacije za funkcijo jedra ni ključnega pomena za razumevanje glavnega argumenta, zato ga
  bomo izpustili<a href="#fn4" id="fnref4" class="footnote-ref" role="doc-noteref"><sup>4</sup></a
  >. Tu brez računa uporabimo rezultat
</p>
<p>
  <span class="math display">\[\widehat{K}(\xi) = \frac{1}{\sqrt{-2i \xi}}.\]</span>
</p>
<p>
  V frekvenčni domeni je tedaj rešitev
  <span class="math inline">\(\widehat{F}(\xi)\)</span> preprosto
</p>
<p>
  <span class="math display"
    >\[\widehat{F}(\xi) = \sqrt{-2i \xi}\,\widehat{F}_\mathrm{A}(\xi) = -\frac{1}{\pi} \frac{1}{\sqrt{-2i
    \xi}}\,\widehat{F_\mathrm{A}^\prime}(\xi) \notag \\\]</span
  >
</p>
<p>
  pri čemer smo pri drugi enakosti uporabili dejstvo, da je v frekvenčni domeni
  <span class="math inline">\(\widehat{F_\mathrm{A}^\prime} = -i2\pi \xi \, \widehat{F_\mathrm{A}}\)</span>, pri čemer
  je <span class="math inline">\(F_\mathrm{A}^\prime(\mathcal{P})\)</span> odvod po
  <span class="math inline">\(\mathcal P\)</span>, ki je očitno iz definicije Fourierove transformacije. V frekvenčni
  domeni imamo torej rešitev
</p>
<p>
  <span class="math display"
    >\[\widehat{F}(\xi) = -\frac{1}{\pi} \widehat{K}(\xi)\,\widehat{F_\mathrm{A}^\prime}(\xi),\]</span
  >
</p>
<p>
  in če jo zopet Fourierovo transformiramo, dobimo kot rešitev
  <span class="math inline">\(F\)</span> konvolucijo
</p>
<p>
  <span id="eq:conv-solution" class="math display"
    >\begin{equation}F = -\frac{1}{\pi} K \ast F_\mathrm{A}^\prime \label{eq:conv-solution}\end{equation}</span
  >
</p>
<p>kar pa lahko spet zapišemo drugače kot</p>
<p>
  <span class="math display"
    >\[\begin{aligned} F(\rho) &amp;= -\frac{1}{\pi} \int_{-\infty}^{\infty} K(\rho - \mathcal{P}) \,
    F_\mathrm{A}^\prime(\mathcal{P}) \,\mathrm{d}\mathcal{P} \\ &amp;= -\frac{1}{\pi} \int_{-\infty}^{\infty}
    \frac{\theta(\mathcal{P} - \rho)}{\sqrt{\mathcal{P} - \rho}} \, F_\mathrm{A}^\prime(\mathcal{P})
    \,\mathrm{d}\mathcal{P}, \end{aligned}\]</span
  >
</p>
<p>
  če pa upoštevamo še dejstvo, da je integrand zaradi Heavisideove funkcije neničelen le za
  <span class="math inline">\(P &gt; \rho\)</span>, dobimo rešitev integralne enačbe (<a
    href="#eq:cousin"
    data-reference-type="ref"
    data-reference="eq:cousin"
    >9</a
  >) oz. formula za inverz Abelove transformacije
</p>
<p>
  <span id="eq:abel-inverse" class="math display"
    >\begin{equation}F(\rho) = -\frac{1}{\pi} \int_{\rho}^{\infty}
    \frac{F_\mathrm{A}^\prime(\mathcal{P})}{\sqrt{\mathcal{P} - \rho}} \,\mathrm{d}\mathcal{P}.
    \label{eq:abel-inverse}\end{equation}</span
  >
</p>
<aside class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol start="3">
    <li>
      <div id="fn3">
        <p>
          Ta transformacija se pojavlja tudi v drugih kontekstih. Pogosto je bolj naravno če jo zapišemo z uporabo
          spremenljivk
          <span class="math inline">\(\rho = r^2\)</span> in <span class="math inline">\(\mathcal{P} = y^2\)</span>,
          npr. v <span class="citation" data-cites="wiki-abel"
            >[<a href="#ref-wiki-abel" role="doc-biblioref">5</a>]</span
          >. V takem primeru je transformacija pravzaprav poseben primer Radonove transformacija za sferično simetrične
          absorpcijske profile.<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a>
        </p>
      </div>
    </li>
    <li>
      <div id="fn4">
        <p>
          Izračun se pravzaprav prevede na limitno vrednost Fresnelovega integrala, ki ga lahko preprosto poiščemo v
          literaturi.<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a>
        </p>
      </div>
    </li>
  </ol>
</aside>
<h3 id="rešitev-abelove-integralske-enačbe-z-abelovo-transformacijo">
  Rešitev Abelove integralske enačbe z Abelovo transformacijo
</h3>
<p>
  Abelovo transformacijo in njen inverz (<a
    href="#eq:abel-inverse"
    data-reference-type="ref"
    data-reference="eq:abel-inverse"
    >13</a
  >) bomo zdaj uporabili za rešitev Abelove integralske enačbe (<a
    href="#eq:abel-forward"
    data-reference-type="ref"
    data-reference="eq:abel-forward"
    >6</a
  >). Z uvedbo nove spremenljivke <span class="math inline">\(\rho = 1/z\)</span> in oznake
  <span class="math inline">\(\mathcal{P} = 1/h\)</span> lahko napovedno enačbo Abelovega problema zapišemo kot
</p>
<p>
  <span class="math display"
    >\[\begin{aligned} T(h) &amp;= \int_0^h \frac{F(z)}{\sqrt{h - z}} \,\mathrm{d}z = \int_0^h
    \frac{F(z)}{\sqrt{\frac{1}{z} - \frac{1}{h}}} \,\frac{\mathrm{d}z}{\sqrt{zh}} \\ T(h) &amp;= \int_\mathcal{P}^\infty
    \frac{\frac{1}{\sqrt{h}} \left[ z^{\frac{3}{2}} F(z) \right]_\rho}{\sqrt{\rho - \mathcal{P}}} \,\mathrm{d}\rho,
    \end{aligned}\]</span
  >
</p>
<p>Če enakost množimo z <span class="math inline">\(\sqrt{h}\)</span>, lahko zapišemo</p>
<p>
  <span class="math display"
    >\[\left[ \sqrt{h}\, T(h) \right]_\mathcal{P} = \int_\mathcal{P}^\infty \frac{\left[ z^{\frac{3}{2}} F(z)
    \right]_\rho}{\sqrt{\rho - \mathcal{P}}} \,\mathrm{d}\rho,\]</span
  >
</p>
<p>
  kar pomeni, da je
  <span class="math inline">\(G_\mathrm{A}(\mathcal{P}) := \left[ \sqrt{h}\, T(h) \right]_\mathcal{P}\)</span>
  Abelova transformiranka funkcije
  <span class="math inline">\(G(\rho) := \left[ z^{\frac{3}{2}} F(z) \right]_\rho\)</span>. Ker poznamo transformiranko
  <span class="math inline">\(G_\mathrm{A}\)</span>, lahko preko formule (<a
    href="#eq:abel-inverse"
    data-reference-type="ref"
    data-reference="eq:abel-inverse"
    >13</a
  >) izračunamo njen inverz
</p>
<p>
  <span class="math display"
    >\[G(\rho) = \left[ z^{\frac{3}{2}} F(z) \right]_\rho = -\frac{1}{\pi} \int_\mathcal{\rho}^\infty \frac{
    \frac{\mathrm{d}}{\mathrm{d}{\mathcal{P}}} \left[ \sqrt{h}\, T(h) \right]_\mathcal{P}}{\sqrt{\mathcal{P} - \rho}}
    \,\mathrm{d}h.\]</span
  >
</p>
<p>
  Zgornji izraz je, čeprav nekoliko nerodno zapisan, rešitev Abelove integralske enačbe. Bolj jasno postane, če kot
  spremenljivko nazaj uvedemo oznako
  <span class="math inline">\(h = 1/\mathcal{P}\)</span>, vključno z novo spodnjo mejo
  <span class="math inline">\(z = 1/\rho\)</span>
</p>
<p>
  <span class="math display"
    >\[z^{\frac{3}{2}} F(z) = -\frac{1}{\pi} \int_\mathcal{\rho}^\infty \frac{ \frac{\mathrm{d}}{\mathrm{d}{h}} \left(
    \sqrt{h}\, T(h) \right) \frac{\mathrm{d}h}{\mathrm{d}\mathcal{P}} }{\sqrt{\mathcal{P} - \rho}}
    \,\mathrm{d}\mathcal{P} = -\frac{1}{\pi} \int_z^0 \frac{ \frac{\mathrm{d}}{\mathrm{d}{h}} \left( \sqrt{h}\, T(h)
    \right) \sqrt{hz} }{\sqrt{z - h}} \,\mathrm{d}h.\]</span
  >
</p>
<p>
  Rešitev Abelove integralske enačbe (<a
    href="#eq:abel-forward"
    data-reference-type="ref"
    data-reference="eq:abel-forward"
    >6</a
  >), s tem pa tudi enakovredne enačbe (<a href="#eq:forward" data-reference-type="ref" data-reference="eq:forward">4</a
  >), je podana z izrazom
</p>
<p>
  <span id="eq:ugly-solution" class="math display"
    >\begin{equation}F(z) = \frac{1}{\pi z} \int_0^z \frac{ \frac{\mathrm{d}}{\mathrm{d}{h}} \left( \sqrt{h}\, T(h)
    \right) \sqrt{h} }{\sqrt{z - h}} \,\mathrm{d}h. \label{eq:ugly-solution}\end{equation}</span
  >
</p>
<h3 id="zapis-rešitve-v-standardni-obliki">Zapis rešitve v standardni obliki</h3>
<p>
  Izraz (<a href="#eq:ugly-solution" data-reference-type="ref" data-reference="eq:ugly-solution">14</a>) je rešitev
  Abelove enačbe. V literaturi pa je rešitev tipično zapisana v nekoliko drugačni obliki (<a
    href="#eq:bocher-inverse"
    data-reference-type="ref"
    data-reference="eq:bocher-inverse"
    >8</a
  >). Če predpostavimo prvega izmed Bôcherjevih pogojev, t. j.
</p>
<p>
  <strong>Prvi Bôcherjev pogoj.</strong> Napovedna funkcija <span class="math inline">\(T(h)\)</span> je v točki 0
  definirana in je enaka <span class="math inline">\(0\)</span>,
</p>
<p>
  potem lahko integral (<a href="#eq:ugly-solution" data-reference-type="ref" data-reference="eq:ugly-solution">14</a>)
  preoblikujemo. Ker je v integrandu imenovalec <span class="math inline">\(\sqrt{z - h}\)</span>, ki ni definiran na
  zgornji meji <span class="math inline">\(h = z\)</span>, moramo izraz razumeti v posplošenem smislu
</p>
<p>
  <span class="math display"
    >\[\lim_{y_n(z) \to z} \frac{1}{\pi y_n(z)} \int_0^{y_n(z)} \frac{ \frac{\mathrm{d}}{\mathrm{d}{h}} \left(
    \sqrt{h}\, T(h) \right) \sqrt{h} }{\sqrt{z - h}} \,\mathrm{d}h,\]</span
  >
</p>
<p>
  pri čemer je <span class="math inline">\(y_n(z)\)</span> zaporedje zvezno odvedljivih funkcij, ki konvergira k
  <span class="math inline">\(y_n(z) \mapsto z\)</span>, in za katerega za vsak
  <span class="math inline">\(z\)</span> velja <span class="math inline">\(y_n(z) &lt; z\)</span>. Tedaj lahko znotraj
  limite integriramo po delih
</p>
<p>
  <span class="math display"
    >\[\begin{aligned} \lim_{y_n(z) \to z} \frac{1}{\pi y} \int_0^{y_n(z)} \frac{ \frac{\mathrm{d}}{\mathrm{d}{h}}
    \left( \sqrt{h}\, T(h) \right) \sqrt{h} }{\sqrt{z - h}} \,\mathrm{d}h &amp;= \lim_{y_n(z) \to z} \frac{1}{\pi}
    \left\{ \frac{h T(h)}{\sqrt{z - h}} \Big\rvert_{h=0}^{h=y_n(z)} + \cancelto{1}{ \frac{z}{y_n} } \int_0^{y_n(z)}
    \frac{T(h)}{ 2(z - h)^{\frac{3}{2}} } \,\mathrm{d}h \right\} \\ &amp;= \lim_{y_n(z) \to z} \frac{1}{\pi} \left\{
    \frac{y_n T(y_n)}{\sqrt{z - y_n}} \cdot \frac{\mathrm{d}y_n}{\mathrm{d}z} \cancelto{1}{
    \frac{\mathrm{d}z}{\mathrm{d}y_n} } + \int_0^{y_n(z)} \frac{\partial}{\partial z} \left( \frac{T(h)}{ \sqrt{z - h} }
    \right) \,\mathrm{d}h \right\} \\ &amp;= \lim_{y_n(z) \to z} \frac{1}{\pi} \left\{ \frac{\mathrm{d}}{\mathrm{d}z}
    \int_0^{y_n(z)} \frac{T(h)}{ \sqrt{z - h} } \,\mathrm{d}h \right\}, \end{aligned}\]</span
  >
</p>
<p>
  pri čemer smo uporabili pravila za računanje z limitami, pri zadnji enakosti pa uporabili Leibnizovo pravilo za
  odvajanje po parametru. Izraz za rešitev smo torej prevedli na obliko
</p>
<p>
  <span id="eq:lim-diff" class="math display"
    >\begin{equation}F(z) = \lim_{y_n(z) \to z} \frac{1}{\pi} \left\{ \frac{\mathrm{d}}{\mathrm{d}z} \int_0^{y_n(z)}
    \frac{T(h)}{ \sqrt{z - h} } \,\mathrm{d}h. \right\} \label{eq:lim-diff}\end{equation}</span
  >
</p>
<p>
  Zdaj nas zanima še, ali lahko zamenjamo odvod in limito oz. pod kakšnim pogojem to lahko naredimo. Če gledamo limito
  kot zaporedje funkcij
  <span class="math inline">\(\frac{\mathrm{d}g_n}{\mathrm{d}z}\)</span>, pri čemer je
</p>
<p>
  <span class="math display">\[g_n(z) := \int_0^{y_n(z)} \frac{T(h)}{ \sqrt{z - h} } \,\mathrm{d}h,\]</span>
</p>
<p>
  je za menjavo limite in odvoda zadostno, da integral
  <span class="math inline">\(\int_0^{z} \frac{T(h)}{ \sqrt{z - h} } \,\mathrm{d}h\)</span>
  konvergira uniformno <span class="math inline">\(\forall z\)</span>. Za to je dovolj, da je
  <span class="math inline">\(T(h)\)</span> omejen v neki okolici
  <span class="math inline">\(h \in (0, \delta]\)</span>, drugje je <span class="math inline">\(T(h)\)</span> omejen ali
  pa ima končno število polov stopnje <span class="math inline">\(\gamma &lt; \frac{1}{2}\)</span>. V takem primeru
  lahko preostanek
  <span class="math inline"
    >\(\varepsilon(z) = \int_0^{z} \frac{T(h)}{ \sqrt{z - h} } \,\mathrm{d}h - \int_0^{y_n(z)} \frac{T(h)}{ \sqrt{z - h}
    } \,\mathrm{d}h\)</span
  >
  omejimo z uniformnim
  <span class="math inline">\(\varepsilon\)</span> integracijskim preostankom tistega najmočnejšega izmed polov.
</p>
<p>Tedaj <span class="math inline">\(g_n(z)\)</span> kot funkcijsko zaporedje uniformno konvergira k funkciji</p>
<p>
  <span class="math display">\[g(z) := \int_0^{z} \frac{T(h)}{ \sqrt{z - h} } \,\mathrm{d}h,\]</span>
</p>
<p>
  zaporedje
  <span class="math inline">\(\frac{\mathrm{d}g_n}{\mathrm{d}z}\)</span> pa konvergira k
</p>
<p>
  <span class="math display"
    >\[F(z) = \lim_{y_n(z) \to z} \frac{\mathrm{d}g_n}{\mathrm{d}z} = \frac{\mathrm{d}g}{\mathrm{d}z}.\]</span
  >
</p>
<p>
  Odvod in limito v (<a href="#eq:lim-diff" data-reference-type="ref" data-reference="eq:lim-diff">15</a>) lahko torej
  zamenjamo in zapišemo rešitev Abelove integralske enačbe v standardni obliki, ki jo najdemo v večini literature
</p>
<p>
  <span id="eq:nice-solution" class="math display"
    >\begin{equation}F(z) = \frac{1}{\pi} \frac{\mathrm{d}}{\mathrm{d}z} \int_0^{z} \frac{T(h)}{ \sqrt{z - h} }
    \,\mathrm{d}h. \label{eq:nice-solution}\end{equation}</span
  >
</p>
<h3 id="zveznost-rešitev">Zveznost rešitev</h3>
<p>
  Poleg prvega Bôcherjevega pogoja, ki smo ga delno uporabili, je za zveznost rešitve
  <span class="math inline">\(F(z)\)</span> potreben še en pogoj
</p>
<p>
  <strong>Tretji Bôcherjev pogoj.</strong> Napovedna funkcija <span class="math inline">\(T(h)\)</span> je odsekoma
  zvezno odvedljiva,
</p>
<p>
  Da to res vodi do zvezne rešitve <span class="math inline">\(F(z)\)</span>, lahko zelo hitro preverimo, če pogledamo
  rešitev v obliki
</p>
<p>
  <span class="math display"
    >\[F(z) = \frac{1}{\pi z} \int_0^z \frac{ \frac{\mathrm{d}}{\mathrm{d}{h}} \left( \sqrt{h}\, T(h) \right) \sqrt{h}
    }{\sqrt{z - h}} \,\mathrm{d}h = \frac{1}{\pi z} \int_0^z \frac{ -\frac{1}{2} T(h) + hT'(h) }{\sqrt{z - h}}
    \,\mathrm{d}h,\]</span
  >
</p>
<p>
  kjer je v integrandu prisoten <span class="math inline">\(T'(h)\)</span>. Če je ta odvod odsekoma zvezen, je očitno,
  da je zvezna tudi rešitev <span class="math inline">\(F(z)\)</span>.
</p>
<h2 id="obstoj-in-oblika-rešitev">Obstoj in oblika rešitev</h2>
<p>
  Z inverzijskim predpisom (<a href="#eq:nice-solution" data-reference-type="ref" data-reference="eq:nice-solution"
    >16</a
  >) smo zdaj rešili tako Abelov problem kot tudi inverzni problem širjenja žarkov (<a
    href="#eq:forward"
    data-reference-type="ref"
    data-reference="eq:forward"
    >4</a
  >) (za primerjavo problemov glej povzetek v tabeli <a
    href="#tab:summary"
    data-reference-type="ref"
    data-reference="tab:summary"
    >1</a
  >).
</p>
<p>
  <span class="math display"
    >\[F(u) = \frac{1}{\pi} \frac{\mathrm{d}}{\mathrm{d}z} \int_0^u \frac{\widetilde{X}(P)}{\sqrt{u - P}}
    \,\mathrm{d}P.\]</span
  >
</p>
<p>
  Ker je <span class="math inline">\(F(u)\)</span> v primeru širjenja žarkov enak
  <span class="math inline">\(F(u) := \left[ \frac{\mathrm{d}z}{\mathrm{d}u} \right]_u\)</span>, lahko preprosto
  zapišemo <span class="math inline">\(u = n_0^2 - n(z)\)</span> kot funkcijo
  <span class="math inline">\(z\)</span>
</p>
<p>
  <span class="math display"
    >\[z(u) = \frac{1}{\pi} \int_0^u \frac{\widetilde{X}(P)}{\sqrt{u - P}} \,\mathrm{d}P.\]</span
  >
</p>
<p>
  Še nekaj več bomo povedali o obstoju rešitev. Kriterije bomo namenoma obravnavali na način, ki je intuitivno povezan s
  problemom, ne le kot formalne matematične predpostavke.
</p>
<h3 id="injektivnost-nz">Injektivnost <span class="math inline">\(n(z)\)</span></h3>
<p>
  V razdelku <a href="#sec:math" data-reference-type="ref" data-reference="sec:math">4</a>
  smo v obravnavi Abelove integralske enačbe razjasnili pomen prvega in tretjega Bôcherjevega pogoja. Ostaja nam še en
</p>
<p><strong>Tretji Bôcherjev pogoj.</strong> Napovedna funkcija <span class="math inline">\(T(h)\)</span> je zvezna.</p>
<p>
  Ta Bôcherjev pogoj smo v diskusiji do sedaj namenoma izpustili. Pravzaprav ga v naši poti do rešitve sploh nismo
  potrebovali, nadomestili pa ga bomo s pogojem, ki se nanaša na profil <span class="math inline">\(n(z)\)</span>, ne na
  napovedno funkcijo <span class="math inline">\(X(P)\)</span>. To predpostavko smo tiho privzeli v uvedbi nove
  spremenljivke, ko smo zapisali napovedni integral (<a
    href="#eq:forward0"
    data-reference-type="ref"
    data-reference="eq:forward0"
    >3</a
  >).
</p>
<p>
  <strong>Nadomestek 2. Bôcherjevega pogoja.</strong> Profil<a
    href="#fn5"
    id="fnref5"
    class="footnote-ref"
    role="doc-noteref"
    ><sup>5</sup></a
  >
  <span class="math inline">\(n(z)\)</span> je padajoča injektivna funkcija. Če je
  <span class="math inline">\(n(z)\)</span> padajoča injektivna funkcija le na nekem intervalu
  <span class="math inline">\([0, z_c]\)</span>, lahko rekonstruiramo profil v obliki
  <span class="math inline">\(z(n)\)</span> le za <span class="math inline">\(n \in [n_0, n(z_c)]\)</span>.
</p>
<p>
  Pogoj injektivnosti je v primeru zveznega profila ekvivalenten strogi monotonosti funkcije povsod, razen morda v
  končnemu številu točk.
</p>
<p>
  Kršenje nadomestne predpostavke bo gotovo povzročilo nezveznost napovedne funkcije
  <span class="math inline">\(X(p)\)</span>. To lahko preprosto vidimo na nazornemu primeru nizko-hitrostne cone (ang.
  <em>low-velocity zone</em>). Kot na sliki <a href="#fig:shadow" data-reference-type="ref" data-reference="fig:shadow"
    >3</a
  >
  si predstavljamo profil kot zvezno funkcijo, kjer imamo na nekem intervalu
  <span class="math inline">\((z_\mathrm{c}, z_\mathrm{b})\)</span>
  naraščajoč lomni količnik, za
  <span class="math inline">\(z &lt; z_c\)</span> pa je funkcija padajoča.
</p>
<p>
  V točki tik nad kritično
  <span class="math inline">\(z = z_c - \varepsilon\)</span>, bo žarek s parametrom
  <span class="math inline">\(p\)</span> s dosegel dno, nato pa se glede na dno levo-desno simetrično navzgor vrnil na
  površino, na dometu <span class="math inline">\(X(p)\)</span>. Žarek s poljubno malo večjim parametrom
  <span class="math inline">\(p + \delta p\)</span> bo ubral kvalitativno drugačno pot, kjer se bo ukrivil navzdol, nato
  pa šele po izstopu iz nizko-hitrostne cone dosegel dno in se simetrično vrnil na površino. Očitno je, da tedaj taka
  nizko-hitrostna cona povzroči nezveznost v napovedni funkciji (za ilustracijo primera glej sliko <a
    href="#fig:part1"
    data-reference-type="ref"
    data-reference="fig:part1"
    >9</a
  >).
</p>
<figure id="fig:shadow">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/shadow.png" />
  </div>
  <figcaption>
    Degeneracija v primeru neinjektivnega profila
    <span class="math inline">\(n(z)\)</span>. V šrafiranem, tako imenovanem nizko-hitrostnem območju je
    <span class="math inline">\(n'(z) &lt; 0\)</span> in po vstopu se žarek začne kriviti navzdol. Točka
    <span class="math inline">\(z_c\)</span> torej predstavlja točko nezveznosti, pri kateri se pot žarka znatno
    spremeni. Po tem, ko žarek vstopi v nizko-hitrostno območje, se njegova pod v smeri
    <span class="math inline">\(z\)</span> podaljša vsaj za neko ne-infinitezimalna razdaljo. Na sliki je lahko
    <span class="math inline">\(\delta p\)</span> poljubno majhen, a
    <span class="math inline">\(X(p + \delta p) - X(p)\)</span> ostaja končen.
  </figcaption>
</figure>
<p>
  V analogiji z Abelovim mehanskim problemom še bolj intuitivno jasno, da takšna nizko-hitrostna cona onemogoča
  rekonstrukcijo profila. V Abelovem problemu namesto profila <span class="math inline">\(n(z)\)</span> gledamo obliko
  klančine <span class="math inline">\(z(x)\)</span> (slika <a
    href="#fig:rolling"
    data-reference-type="ref"
    data-reference="fig:rolling"
    >2</a
  >), ki mora biti padajoča injektivna funkcija. Kršenje padajoče injektivnosti za zvezno klančino pomeni, da ima
  klančina prisoten vsaj en lokalni minimum, vdolbinico v klančini. Če kroglo pri kotaljenju na začetku postavimo na
  tako mesto, da se lahko krogla odkotali v lokalni minimum, bo v taki vdolbinici jasno obtičala – čas kotaljenja bo
  neskončen in iz njega ne bomo mogli na noben način rekonstruirati oblike tega dela klančine.
</p>
<p>
  Kot bo bolj jasno v razdelku <a
    href="#sec:path-integrals"
    data-reference-type="ref"
    data-reference="sec:path-integrals"
    >5.4</a
  >, je v primeru, inverz lahko poiščemo, le ta podan kot parametrični integral po
  <span class="math inline">\(p \mapsto (X, p)\)</span>, ki se začne pri <span class="math inline">\(p = n_0\)</span>,
  konča pa pri <span class="math inline">\(p = n\)</span>, za katerega določamo impliciten profil
  <span class="math inline">\(z(n)\)</span>. Profil <span class="math inline">\(z(n)\)</span> lahko rekonstruiramo le od
  površinskega <span class="math inline">\(n_0\)</span> do vrednosti
  <span class="math inline">\(p = n(z_\mathrm{max})\)</span>, do katere neprekinjeno poznamo napovedno funkcijo
  <span class="math inline">\(X(p), p \in [n(z_\mathrm{max}), n_0]\)</span>.
</p>
<p>
  Če torej napovedna funkcija <span class="math inline">\(X(p)\)</span> vsebuje nezvezni skok pri
  <span class="math inline">\(p=n_c\)</span>, lahko rekonstruiramo zgolj profil pred tem skokom,
  <span class="math inline">\(z(n)\)</span> za <span class="math inline">\(n \in [n_c, n_0]\)</span>. Na intuitiven, a
  ne nujno pravilen način je to intuitivno mogoče razumeti s tem, da žarki tipajo profil
  <span class="math inline">\(z(n)\)</span> le do največje dosežene globine
  <span class="math inline">\(z_\mathrm{max}\)</span>.
</p>
<aside class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol start="5">
    <li>
      <div id="fn5">
        <p>
          V Abelovem problemu se pogoj namesto na profil
          <span class="math inline">\(n(z)\)</span> nanaša na obliko klančine <span class="math inline">\(z(x)\)</span>,
          glej tabelo <a href="#tab:summary" data-reference-type="ref" data-reference="tab:summary">1</a>.<a
            href="#fnref5"
            class="footnote-back"
            role="doc-backlink"
            >↩︎</a
          >
        </p>
      </div>
    </li>
  </ol>
</aside>
<h3 id="degeneracija-zaradi-odseka-s-konstantno-hitrostjo-zvoka">
  Degeneracija zaradi odseka s konstantno hitrostjo zvoka
</h3>
<p>
  Poseben primer degeneracije dometa
  <span class="math inline">\(X = \infty\)</span> dobimo v primeru, ko je v profilu prisoten odsek z konstantno
  hitrostjo zvoka. V takem odseku žarki potujejo v ravnih črtah, kar povzroči prepoznavno obliko nezveznosti v
  <span class="math inline">\(X(P)\)</span>.
</p>
<figure id="fig:flat-rolling">
  <div class="center">
    <p>
      <img src="/imgs/Fizika/maf2-zakljucna/flat-rolling.png" width="500" alt="image" />
      <img src="/imgs/Fizika/maf2-zakljucna/flat-section-refraction.png" alt="image" />
    </p>
  </div>
  <figcaption>
    Odsek ravne klančine v Abelovem problemu (zgoraj) in odsek konstantne hitrosti na gladini za problem širjenja žarkov
    (spodaj). Šrafirano je označena cona konstantne hitrosti zvoka
    <span class="math inline">\(n'(z) = 0\)</span>. Domet <span class="math inline">\(X(P)\)</span> je za majhne
    <span class="math inline">\(P\)</span> približno 2-kratnik
    <span class="math inline">\(\frac{\ell}{\sqrt{P}}\)</span>, t. j. dolžine, v kateri ravni žarek doseže dno cone
    konstantne hitrosti.
  </figcaption>
</figure>
<p>
  V analogiji z Abelovim problemom si predstavljamo odsek klančine, raven in z dolžino
  <span class="math inline">\(\ell\)</span> (glej sliko <a
    href="#fig:flat-rolling"
    data-reference-type="ref"
    data-reference="fig:flat-rolling"
    >4</a
  >
  zgoraj). Če kroglo začetno postavimo na tak raven odsek, torej pri višini
  <span class="math inline">\(h\)</span>, se ne bo premaknila iz začetnega mesta in
  <span class="math inline">\(T(h) = \infty\)</span>. Prestavljajmo si, da kroglo premaknimo tik pred začetek ravnega
  odseka (krogla <span class="math inline">\(A\)</span> na sliki |ref<span>fig:flat-rolling</span>), na višino
  <span class="math inline">\(h + \delta h\)</span>. Po ohranitvi energije bo na ravni odsek prispela s hitrostjo
  <span class="math inline">\(v \propto \sqrt{\delta h}\)</span>. Če je
  <span class="math inline">\(\delta h\)</span> majhen, lahko v času potovanja zanemarimo čas od
  <span class="math inline">\(h + \delta h\)</span> do začetka odseka <span class="math inline">\(\ell\)</span>,
  upoštevamo pa le čas potovanja po odseku
</p>
<p>
  <span class="math display">\[T(h+\delta h) \approx T(h) + \frac{\ell}{\sqrt{\delta h}}.\]</span>
</p>
<p>
  V primeru odseka s konstantno hitrostjo zvoka (slika <a
    href="#fig:flat-rolling"
    data-reference-type="ref"
    data-reference="fig:flat-rolling"
    >4</a
  >
  spodaj) je podobno. Recimo da je odsek konstantne hitrosti na gladini. Za nek vstopni kot
  <span class="math inline">\(\vartheta_0\)</span>, ki se bliža pravemu kotu, bo žarek prepotoval pot
  <span class="math inline">\(\frac{\ell}{\sin\vartheta_0} = \frac{\ell}{\sqrt{\delta P}}\)</span>. Po izstopu iz odseka
  se bo žarek ukrivil navzgor in simetrično potoval navzgor. Dolžina, v kateri se žarek ukrivi, postane v limiti
  majhnega <span class="math inline">\(\delta P\)</span> zanemarljiva v primerjavi s prepotovano
  <span class="math inline">\(x\)</span>-razdaljo v odseku konstantne hitrosti.
</p>
<p>
  Če je odsek konstantne hitrosti prisoten nekje pod gladino, bomo tako obnašanje za žarke
  <span class="math inline">\(\mathcal{P}\)</span>, ki imajo dno tip nad začetkom cone konstantne hitrosti
</p>
<p>
  <span class="math display">\[X(P+\delta P) \approx X(P) + \frac{\ell}{\sqrt{\delta P}}.\]</span>
</p>
<p>
  Ilustracijo takega pola vidimo na sliki <a href="#fig:pole" data-reference-type="ref" data-reference="fig:pole">5</a>.
  Na sliki <a href="#fig:part2" data-reference-type="ref" data-reference="fig:part2">10</a>
  vidimo tak pol na primeru konkretnega profila, med trajektorijami vidimo tiste, za katere je
  <span class="math inline">\(\mathcal(P + \delta P) \to \infty\)</span>, ko gre
  <span class="math inline">\(\delta P \to 0\)</span>.
</p>
<figure id="fig:pole">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/shadow-XofP.png" width="500" />
  </div>
  <figcaption>Ilustracija pola za profil, v katerem je prisotna cona konstantne hitrosti.</figcaption>
</figure>
<h3 id="degeneracija-zaradi-ničelnega-odvoda">Degeneracija zaradi ničelnega odvoda</h3>
<p>
  Za degeneracijo <span class="math inline">\(X = \infty\)</span> je dovolj že to, da je profila lokalno konstanten,
  <span class="math inline">\(n'(z) = 0\)</span>. Ilustracijo takega žarka vidimo na sliki <a
    href="#fig:shadow"
    data-reference-type="ref"
    data-reference="fig:shadow"
    >3</a
  >, kjer je tik na robu nizko-hitrostne cone zvezno odvedljivega profila tudi
  <span class="math inline">\(n'(z) = 0\)</span>.
</p>
<p>
  Povsem neformalno, take singularnosti so drugačne od singularnosti
  <span class="math inline">\(\frac{1}{\sqrt{\delta P}}\)</span>, saj so lahko (ne pa nujno) odstranljive. S tem
  mislimo, da je <span class="math inline">\(X(P) = \infty\)</span> zgolj za en <span class="math inline">\(P\)</span>,
  v poljubno tesni okolici pa se napovedna <span class="math inline">\(X(P)\)</span> obnaša nedegenerirano.
</p>
<p>
  Na primeru konkretnega profila na sliki <a href="#fig:part4" data-reference-type="ref" data-reference="fig:part4"
    >11</a
  >
  je odvod ničelen na gladini, <span class="math inline">\(n'(0) = 0\)</span>. Prisotna je degeneracija za
  <span class="math inline">\(P = 0\)</span>, kjer žarek spustimo v smeri vzporedno z ravnino, kjer žarek neovirano drsi
  ob gladini in je <span class="math inline">\(X(P = 0) = \infty\)</span>. A to velja le za
  <span class="math inline">\(P = 0\)</span>, če je <span class="math inline">\(P &gt; 0\)</span>, četudi majhen, je
  <span class="math inline">\(X(P) &lt; \infty\)</span>. Kot bomo videli v razdelku <a
    href="#sec:limit-curves"
    data-reference-type="ref"
    data-reference="sec:limit-curves"
    >5.5</a
  >
  lahko tak profil, kjer je
  <span class="math inline">\(\lim_{P \to 0^+} X(P) = X_0\)</span>, še vedno rekonstruiramo.
</p>
<h3 id="sec:path-integrals">Različne oblike inverzijske formule</h3>
<p>
  Če nazaj uvedemo staro spremenljivko
  <span class="math inline">\(p = \sqrt{n_0^2 - P}\)</span> in upoštevamo, da je
  <span class="math inline">\(u = n_0^2 - n(z)^2\)</span>, lahko zapišemo iverz v od-prej-znanih količinah
</p>
<p>
  <span class="math display"
    >\[\begin{aligned} \frac{1}{\pi} \int_0^u \frac{X(P) / 2p}{\sqrt{u - P}} \,\mathrm{d}P = -\frac{1}{\pi}
    \int_{n_0}^{n(z)} \frac{X(p)}{\sqrt{p^2 - n^2}} \,\mathrm{d}p. \end{aligned}\]</span
  >
</p>
<p>
  Ta rezultat je tedaj t. i. Herglotz-Weichertova inverzijska formula <span
    class="citation"
    data-cites="aki2002quantitative"
    >[<a href="#ref-aki2002quantitative" role="doc-biblioref">7</a>]</span
  >, <span class="citation" data-cites="slichter1932theory"
    >[<a href="#ref-slichter1932theory" role="doc-biblioref">8</a>]</span
  >
</p>
<p>
  <span class="math display"
    >\[z(n) = -\frac{1}{\pi} \int_{n_0}^{n} \frac{X(p)}{\sqrt{p^2 - n^2}} \,\mathrm{d}p.\]</span
  >
</p>
<p>
  Ker je <span class="math inline">\(p &gt; 0\)</span>, velja
  <span class="math inline"
    >\(\mathrm{d}\big(\mathop{\mathrm{arcosh}}\frac{p}{n} \big) = \frac{\mathrm{d}p}{\sqrt{p^2 - n^2}}\)</span
  >
  in inverzijsko formulo lahko zapišemo še na en način
</p>
<p>
  <span class="math display"
    >\[\begin{aligned} z(n) &amp;= -\frac{1}{\pi} \int_{n_0}^n X(p) \left[
    \frac{\mathrm{d}\left(\mathop{\mathrm{arcosh}}\frac{p}{n} \right)}{\mathrm{d}p} \right]_p \,\mathrm{d}p \\ &amp;=
    \frac{1}{\pi} \int_{n_0}^n \mathop{\mathrm{arcosh}}\left(\frac{p}{n}\right) \left[ \frac{\mathrm{d}X}{\mathrm{d}p}
    \right]_p \,\mathrm{d}p \\ &amp;= \frac{1}{\pi} \int_{[X]_{p=n_0}}^{[X]_{p=n}} \mathop{\mathrm{arcosh}}\left(
    \frac{p}{n} \right) \,[\mathrm{d}X]_p, \end{aligned}\]</span
  >
</p>
<p>
  kjer smo integrirali po delih in uvedli integracijo po novi spremenljivki. Bralca bi lahko zmotilo dejstvo, da smo za
  novo spremenljivko uvedli
  <span class="math inline">\(X(p)\)</span>, za katero vemo, da ni nujno injektivna. Pravzaprav smo
  <span class="math inline">\([\mathrm{d}X]_p\)</span> uvedli v smislu integracije po parametrični krivulji
  <span class="math inline">\(p \mapsto (X, p)\)</span>, kar je še vedno zelo priročna oblika za numerično vrednotenje
  inverzijske formule, kot bomo to videli v razdelku <a
    href="#sec:numeric-inversion"
    data-reference-type="ref"
    data-reference="sec:numeric-inversion"
    >7.2</a
  >. Za spodnjo mejo v tem integralu bomo predpostavili, da je <span class="math inline">\(n'(z) \neq 0\)</span>, kar
  pomeni, da je <span class="math inline">\([X]_{p = n_0} = 0\)</span>, zato lahko rešitev Herglotz-Weichertove
  inverzije zapišemo na drugačen način kot
</p>
<p>
  <span id="eq:cosh" class="math display"
    >\begin{equation}z(n) = \frac{1}{\pi} \int_{0}^{[X]_{p=n}} \mathop{\mathrm{arcosh}}\left( \frac{p}{n} \right)
    \,[\mathrm{d}X]_p. \label{eq:cosh}\end{equation}</span
  >
</p>
<p>
  Zapisani integral (<a href="#eq:cosh" data-reference-type="ref" data-reference="eq:cosh">17</a>) razumemo kot predpis,
  ki podaja <span class="math inline">\(z(n)\)</span> za določeno vrednost lomnega količnika
  <span class="math inline">\(n \in (0, n_0]\)</span>, če le poznamo pa <span class="math inline">\(X(p)\)</span>, kjer
  <span class="math inline">\(p \in (0, n_0]\)</span> (predpis <a
    href="#eq:initial"
    data-reference-type="ref"
    data-reference="eq:initial"
    >2</a
  >). Ta parametrični integral je ilustriran na sliki <a
    href="#fig:parametric"
    data-reference-type="ref"
    data-reference="fig:parametric"
    >6</a
  >.
</p>
<figure id="fig:parametric">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/parametric-integral.png" />
  </div>
  <figcaption>
    Slikovni prikaz parametrične integracije za inverzen predpis (<a
      href="#eq:cosh"
      data-reference-type="ref"
      data-reference="eq:cosh"
      >17</a
    >).
  </figcaption>
</figure>
<h3 id="sec:limit-curves">Degeneracije kot limitni primer nedegeneriranih krivulj</h3>
<p>
  Pojasnili smo že, do kakšne degeneracije vodi profil
  <span class="math inline">\(n_\mathrm{deg}(z)\)</span>, ki ima na gladini ničelen odvod
  <span class="math inline">\(n_\mathrm{deg}'(0) = 0\)</span>. Če v naravi izmerimo nek realen profil, pa je zelo malo
  verjetno, da ga bo opisovala matematično idealizirana funkcija z ničelnim odvodom na gladini.
</p>
<p>
  Namesto degeneriranega primera samega si zatorej zamislimo zaporedje profilov, ki imajo na gladini neničelen odvod,
  hkrati pa konvergirajo k idealiziranem profilu <span class="math inline">\(n_\mathrm{deg}(z)\)</span>, ki privede do
  omenjene degeneracije. Primer takega zaporedja je npr. parametrično podana družina
</p>
<p>
  <span id="eq:n-beta" class="math display"
    >\begin{equation}n_\beta(z) := n_0 - (n_1 - n_0) \left\{ (1-\beta)z^2 + \beta z \right\}, \quad z \in [0, 1].
    \label{eq:n-beta}\end{equation}</span
  >
</p>
<p>
  Za <span class="math inline">\(\beta = 0\)</span> je tak profil degeneriran in povzroči
  <span class="math inline">\(X_{\beta = 0}(P = 0) = \infty\)</span>. A za vse druge
  <span class="math inline">\(\beta \in (0, 1]\)</span> je profil nedegeneriran in za vse velja, da je
  <span class="math inline">\(X_{\beta &gt; 0}(P = 0) = 0\)</span>. Za parametriziran profil
  <span class="math inline">\(n_\beta\)</span> lahko tako obnašanje opazimo na sliki <a
    href="#fig:limit-curve"
    data-reference-type="ref"
    data-reference="fig:limit-curve"
    >7</a
  >.
</p>
<figure id="fig:limit-curve">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/limit_curve.plot.png" width="550" />
  </div>
  <figcaption>
    (Na desni) napovedne funkcije za nekatere iz zaporedja nedegeneriranih krivulj predpisa (<a
      href="#eq:n-beta"
      data-reference-type="ref"
      data-reference="eq:n-beta"
      >18</a
    >). Jasno vidimo, kako se z bližanjem degeneriranemu profilu <span class="math inline">\(n_{\beta = 0}(z)\)</span> v
    napovedni funkciji pri <span class="math inline">\(P = 0\)</span> oz. v
    <span class="math inline">\(p = n_0\)</span> za <span class="math inline">\(X(p)\)</span> oblikuje vedno ostrejša
    stopnica. Za predpis (<a href="#eq:cosh-extended" data-reference-type="ref" data-reference="eq:cosh-extended">19</a
    >) uporabimo limitni primer, ko je ta stopnica popolnoma ostra.
  </figcaption>
</figure>
<p>
  To motivira, da formulo (<a href="#eq:cosh" data-reference-type="ref" data-reference="eq:cosh">17</a>) razširimo na
  primere, kjer je
</p>
<p>
  <span class="math display">\[X_0 := \lim_{P \to 0^+} X(P) \neq 0.\]</span>
</p>
<p>
  Če zanemarimo malo verjetne degenerirane profile, se zaporedje nedegeneriranih približuje funkciji, ki v majhni
  okolici
  <span class="math inline">\(P \in (0, \varepsilon)\)</span> naraste na neko vrednost
  <span class="math inline">\(X_0\)</span>, v točki <span class="math inline">\(0\)</span> pa še vedno velja
  <span class="math inline">\(X(P = 0) = 0\)</span>. Tako se odvod
  <span class="math inline">\(\frac{\mathrm{d}X}{\mathrm{d}P}\)</span> v tej okolici
  <span class="math inline">\((0, \varepsilon)\)</span> približuje Dirac delta funkciji
  <span class="math inline">\(X_0 \delta(P)\)</span>.
</p>
<p>
  Povedano v spremenljivki <span class="math inline">\(p\)</span>, se v okolici
  <span class="math inline">\(p in (n_0 - \varepsilon, n_0)\)</span> odvod
  <span class="math inline">\(\frac{\mathrm{d}X}{\mathrm{d}p}\)</span>
  približuje <span class="math inline">\(X_0 \delta(p)\)</span>. Namesto izraza (<a
    href="#eq:cosh"
    data-reference-type="ref"
    data-reference="eq:cosh"
    >17</a
  >) tedaj dobimo parametrično integracijo (glej tudi sliko <a
    href="#fig:parametric-X0"
    data-reference-type="ref"
    data-reference="fig:parametric-X0"
    >8</a
  >)
</p>
<p>
  <span id="eq:cosh-extended" class="math display"
    >\begin{equation}z(n) = \frac{1}{\pi} \int_{[X_0]_p=n_0}^{[X]_{p=n}} \mathop{\mathrm{arcosh}}\left( \frac{p}{n}
    \right) \,[\mathrm{d}X]_p + \frac{X_0}{\pi} \mathop{\mathrm{arcosh}}\left( \frac{n_0}{n} \right).
    \label{eq:cosh-extended}\end{equation}</span
  >
</p>
<p>
  Vredno je omeniti še manjši trik, ko integral (<a
    href="#eq:cosh-extended"
    data-reference-type="ref"
    data-reference="eq:cosh-extended"
    >19</a
  >) vrednotimo numerično. Namesto prištevanja drugega člena je dovolj le to, da eno začetno točko
  <span class="math inline">\(X(p = n_0)\)</span> ali <span class="math inline">\(X(P = 0)\)</span> umetno nastavimo na
  vrednost 0.
</p>
<figure id="fig:parametric-X0">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/parametric-integral-X0.png" />
  </div>
  <figcaption>
    Slikovni prikaz parametrične integracije za inverzen predpis (<a
      href="#eq:cosh-extended"
      data-reference-type="ref"
      data-reference="eq:cosh-extended"
      >19</a
    >).
  </figcaption>
</figure>
<h2 id="povzetek-najpomembnejših-rezultatov">Povzetek najpomembnejših rezultatov</h2>
<p>
  <strong>Injektivnost</strong> Profil<a href="#fn6" id="fnref6" class="footnote-ref" role="doc-noteref"
    ><sup>6</sup></a
  >
  <span class="math inline">\(n(z)\)</span> je padajoča injektivna funkcija. Če je
  <span class="math inline">\(n(z)\)</span> padajoča injektivna funkcija le na nekem intervalu
  <span class="math inline">\([0, z_c]\)</span>, lahko rekonstruiramo profil v obliki
  <span class="math inline">\(z(n)\)</span> le za <span class="math inline">\(n \in [n_0, n(z_c)]\)</span>.
</p>
<p>
  <strong>Zadostni pogoj za Herglotz-Weichertove inverzijsko formulo</strong> Za veljavnost inverzijske formule (<a
    href="#eq:cosh-extended"
    data-reference-type="ref"
    data-reference="eq:cosh-extended"
    >19</a
  >) je zadostno, da je <span class="math inline">\(\widetilde{X}(P)\)</span> omejen v neki okolici
  <span class="math inline">\(P \in (0, \delta]\)</span>, drugje pa je
  <span class="math inline">\(\widetilde{X}(P)\)</span> omejen ali pa ima končno število polov stopnje
  <span class="math inline">\(\gamma &lt; \frac{1}{2}\)</span>. Tedaj profil rekonstruiramo preko formule
</p>
<p>
  <span class="math display"
    >\[z(n) = \frac{1}{\pi} \int_{[X_0]_p=n_0}^{[X]_{p=n}} \mathop{\mathrm{arcosh}}\left( \frac{p}{n} \right)
    \,[\mathrm{d}X]_p + \frac{X_0}{\pi} \mathop{\mathrm{arcosh}}\left( \frac{n_0}{n} \right).\]</span
  >
</p>
<aside class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol start="6">
    <li>
      <div id="fn6">
        <p>
          V Abelovem problemu se pogoj namesto na profil
          <span class="math inline">\(n(z)\)</span> nanaša na obliko klančine <span class="math inline">\(z(x)\)</span>,
          glej tabelo <a href="#tab:summary" data-reference-type="ref" data-reference="tab:summary">1</a>.<a
            href="#fnref6"
            class="footnote-back"
            role="doc-backlink"
            >↩︎</a
          >
        </p>
      </div>
    </li>
  </ol>
</aside>
<h2 id="nekaj-numeričnih-eksperimentov">Nekaj numeričnih eksperimentov</h2>
<h3 id="sec:numeric-inversion">Numerični račun inverzije</h3>
<p>
  Zgolj za mero kompletnosti lahko podamo še primer, kako preprosta je lahko implementacija numerične
  Herglotz-Weichertove inverzije
</p>
<figure class="snippet">
  <pre><code>X_vals [0] = 0 # This allows us to handle some degenerate cases</code>
<code>n_vals = p_vals</code>
<code>p_over_n = np.outer (1 / n_vals , p_vals) # p_j / n_i</code>
<code></code>
<code>&quot;&quot;&quot; Integrate arcosh (p_j/n_i) over X_j , from 0 to X_i = X(p = n_i)&quot;&quot;&quot;</code>
<code>upper_bound_mask_idx = np.triu_indices(len(p_vals), k=-1)</code>
<code>p_over_n[ upper_bound_mask_idx ] = 1.0 # That way arccosh (1) = 0, masked</code>
<code></code>
<code>reconstructed_z_vals = 1 / np.pi * np.trapz(np.arccosh(p_over_n), X_vals , axis =1)</code></pre>
  <figcaption>Primer implementacije numerične inverzije</figcaption>
</figure>
<h3 id="napovedi-dometa">Napovedi dometa in primeri</h3>
<p>
  Za določen profil <span class="math inline">\(n(z)\)</span>, lahko napovedni problem za funkcijo
  <span class="math inline">\(X(p)\)</span> rešimo tako, da preprosto integriramo enačbo (<a
    href="#eq:ray-ode"
    data-reference-type="ref"
    data-reference="eq:ray-ode"
    >1</a
  >) in preverimo, kdaj žarek ponovno predre gladino. Vektorsko enačbo (<a
    href="#eq:ray-ode"
    data-reference-type="ref"
    data-reference="eq:ray-ode"
    >1</a
  >) enostavno prevedemo na sistem navadnih diferencialnih enačb
</p>
<p>
  <span class="math display"
    >\[\frac{\mathrm{d}}{\mathrm{d}t} \begin{pmatrix} v_x \\ v_z \\ x \\ z\end{pmatrix} = \begin{pmatrix} -\frac{n'}{n}
    v_z v_x \\ -\frac{n'}{n} (v_z^2 - 1) \\ v_x \\ v_z \end{pmatrix}, \quad \mathbf Z_0 = \begin{pmatrix} \sin
    \vartheta_0 \\ -\cos \vartheta_0 \\ 0 \\ 0 \end{pmatrix},\]</span
  >
</p>
<p>
  pri čemer začetni pogoj
  <span class="math inline">\(\mathrm Z_0\)</span> določa začetek v izhodišču, z žarkom usmerjenim pod
  <span class="math inline">\(\vartheta_0\)</span> (slika <a
    href="#fig:shooting"
    data-reference-type="ref"
    data-reference="fig:shooting"
    >1</a
  >).
</p>
<p>
  Napovedno funkcijo <span class="math inline">\(X(\vartheta_0)\)</span>, sicer v parametrizaciji po
  <span class="math inline">\(P = n_0^2\cos^2\vartheta_0\)</span>, je tedaj preprosto izračunati. Za neko vrednost
  <span class="math inline">\(P\)</span> določimo začetni pogoj, nato pa sistem vektorskih enačb integriramo do točke,
  kjer žarek zopet seka gladino <span class="math inline">\(x = X(P)\)</span>.
</p>
<p>
  Na ta način smo poračunali napovedne funkcije dometa za profile v slikah <a
    href="#fig:part1"
    data-reference-type="ref"
    data-reference="fig:part1"
    >9</a
  >, <a href="#fig:part2" data-reference-type="ref" data-reference="fig:part2">10</a>, <a
    href="#fig:part4"
    data-reference-type="ref"
    data-reference="fig:part4"
    >11</a
  >, <a href="#fig:part3" data-reference-type="ref" data-reference="fig:part3">12</a> in <a
    href="#fig:limit-curve"
    data-reference-type="ref"
    data-reference="fig:limit-curve"
    >7</a
  >.
</p>
<figure id="fig:part1">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/profiles.plot.png" />
  </div>
  <figcaption>
    Primeri profilov in njihovih numeričnih inverzov. Prvi profil (zgoraj) je preprost linearen profil, drugi profil
    (sredinsko) pa kaže t. i. potrojitev (ang. <em>triplication</em>) napovedne funkcije
    <span class="math inline">\(X(P)\)</span>, kjer vodoravna črta funkcijo seka v treh mestih. Tretji profil (spodaj)
    vsebuje nizko-hitrostno cono, kjer lomni količnik narašča. To povzroči skok v napovedni funkciji
    <span class="math inline">\(X(P)\)</span>, inverzija profila pa kot pričakovano ni uspešna.
  </figcaption>
</figure>
<figure id="fig:part2">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/part2-profiles.plot.png" />
  </div>
  <figcaption>
    Dva odsekoma zvezna profila. Prvi profil (zgoraj) je odsekoma linearen približek za tretji profil na sliki <a
      href="#fig:part1"
      data-reference-type="ref"
      data-reference="fig:part1"
      >9</a
    >, drugi profil (spodaj) pa vsebuje odsek s konstantnim lomnim količnikom, kar se v napovedni funkciji vidi nezvezni
    pol <span class="math inline">\(\propto \frac{\ell}{\sqrt{\delta P}}\)</span>, kot na sliki <a
      href="#fig:pole"
      data-reference-type="ref"
      data-reference="fig:pole"
      >5</a
    >. Pri obeh profilih je rekonstrukcija neuspešna, saj je v obeh primerih kršena injektivnost.
  </figcaption>
</figure>
<figure id="fig:part4">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/part4-profiles.plot.png" />
  </div>
  <figcaption>
    Profil, ki ima stacionarno točko
    <span class="math inline">\(n'(z)\)</span> na gladini pri <span class="math inline">\(z = 0\)</span> (zgoraj) in
    profil, ki ima stacionarno točko nekje pod gladino (spodaj). Zgornji profil je primer degeneracije
    <span class="math inline">\(X(P = 0) = \infty\)</span>, zato je potrebna uporaba posplošene inverzije (<a
      href="#eq:cosh-extended"
      data-reference-type="ref"
      data-reference="eq:cosh-extended"
      >19</a
    >) (slika <a href="#fig:parametric-X0" data-reference-type="ref" data-reference="fig:parametric-X0">8</a>).
  </figcaption>
</figure>
<figure id="fig:part3">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/part3-profiles.plot.png" />
  </div>
  <figcaption>
    Dva približka odsekoma konstantnih profilov. Ker sta približka numerična, imajo stopnice vseeno neko končno, a
    majhno širino prehoda. Ker sta profila odsekovno konstantna, vidimo za majhne kote, pod katerimi žarek vstopa v
    konstantno plast, pol tipa
    <span class="math inline">\(\propto \frac{\ell}{\sqrt{\delta P}}\)</span>, kot na sliki <a
      href="#fig:pole"
      data-reference-type="ref"
      data-reference="fig:pole"
      >5</a
    >. Po nekem <span class="math inline">\(P\)</span> napovedna funkcija ni več definirana, saj se žarki ne vrnejo več
    na gladino – to je ekstremni primer triplikacije.
  </figcaption>
</figure>
<figure id="fig:limit2">
  <div class="center">
    <img src="/imgs/Fizika/maf2-zakljucna/part2-limit_curve.plot.png" />
  </div>
  <figcaption>
    (Na desni) Zaporednje napovednih funkcij, ko se profil
    <span class="math inline">\(n(z)\)</span> približuje stopničastemu. Vidimo, kako se pojavijo poli v
    <span class="math inline">\(P = 0\)</span> in triplikacija, v limitnem primeru kar ekstremni primer triplikacije kot
    za profil <a href="#fig:part3" data-reference-type="ref" data-reference="fig:part3">12</a>.
  </figcaption>
</figure>
<h1 class="unnumbered" id="bibliography">Viri</h1>
<div id="refs" class="references csl-bib-body" data-entry-spacing="0" role="list">
  <div id="ref-born2019principles" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[1]</div>
    <div class="csl-right-inline">
      M. Born, E. Wolf, in A. B. Bhatia, <em>Principles of Optics</em>. Cambridge University Press, 2019.
    </div>
  </div>
  <div id="ref-ramsak2023kvantna" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[2]</div>
    <div class="csl-right-inline">
      A. Ramšak, <em>Kvantna mehanika</em>, 2. izd. v Fizika: zbirka fizikalnih učbenikov in monografij. Fakulteta za
      matematiko in fiziko Univerza v Ljubljani, 2023.
    </div>
  </div>
  <div id="ref-olenik2022optika" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[3]</div>
    <div class="csl-right-inline">
      I. D. Olenik in M. Vilfan, <em>Optika</em>. v Fizika: zbirka fizikalnih učbenikov in monografij. Fakulteta za
      matematiko in fiziko Univerza v Ljubljani, 2022.
    </div>
  </div>
  <div id="ref-bocher2015introduction" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[4]</div>
    <div class="csl-right-inline">
      M. Bôcher, <em>An Introduction to the Study of Integral Equations</em>. v Cambridge Tracts in Mathematics.
      Cambridge University Press, 2015.
    </div>
  </div>
  <div id="ref-wiki-abel" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[5]</div>
    <div class="csl-right-inline">
      Wikipedia contributors,
      <span>„Abel transform — <span>Wikipedia</span><span>,</span> The Free Encyclopedia“</span>. 2021. Dostopno na:
      <a href="https://en.wikipedia.org/w/index.php?title=Abel_transform&amp;oldid=1060019404"
        >https://en.wikipedia.org/w/index.php?title=Abel_transform&amp;oldid=1060019404</a
      >. [Pridobljeno: 11. julij 2024]
    </div>
  </div>
  <div id="ref-bracewell2000fourier" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[6]</div>
    <div class="csl-right-inline">
      R. N. Bracewell, <em>The Fourier Transform and Its Applications</em>. v Circuits and systems. McGraw Hill, 2000.
    </div>
  </div>
  <div id="ref-aki2002quantitative" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[7]</div>
    <div class="csl-right-inline">
      K. Aki in P. G. Richards, <em>Quantitative Seismology</em>. University Science Books, 2002.
    </div>
  </div>
  <div id="ref-slichter1932theory" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[8]</div>
    <div class="csl-right-inline">
      L. B. Slichter,
      <span>„The theory of the interpretation of seismic travel-time curves in horizontal structures“</span>,
      <em>Physics</em>, let. 3, št. 6, str. 273–295, 1932.
    </div>
  </div>
</div>
