<h1>Modelska analiza 101</h1>
<h1 class="subtitle">Model vožnje skozi semafor: variacijska metoda</h1>
<h2 id="navodila">Navodila</h2>
<p>
  Varčno vožnjo lahko definiramo s pogojem, da je pospeševanja in zaviranja čim manj. To lahko dosežemo z minimizacijo
  kurulativnega kvadrata pospeška. Isčemo optimalni režim vožnje v situaciji, ko poskušamo razdaljo do semaforja
  prevoziti ravno v trenutku, ko se prižge zelena luč.
</p>
<h2 id="rešitev">Rešitev</h2>
<p>
  Vožnjo začnemo s hitrostjo <span class="math inline">\(v_0\)</span>, na razdalji
  <span class="math inline">\(L\)</span> od semaforja. Iz izkušenj vemo, da se bo semafor prižgal v času
  <span class="math inline">\(T\)</span>. Ker želimo semafor prevoziti točno ob času
  <span class="math inline">\(T\)</span>, velja vez
  <span id="eq:vez" class="math display"
    >\begin{equation}L = \int_0^T v(t) \,\mathrm{d}t. \label{eq:vez}\end{equation}</span
  >
  V namen udobne vožnje bomo minimizirali komulativni kvadrat pospeška
  <span class="math inline">\(\int \dot{v}^2 \,\mathrm{d}t\)</span>. Z upoštevanjem vezi to pomeni minimizacijo z
  Lagrangianom
  <span id="eq:orig-L" class="math display"
    >\begin{equation}\mathcal{L}(v(t), \dot{v}(t)) :=\dot{v}^2 - \lambda v, \label{eq:orig-L}\end{equation}</span
  >
  tako da minimiziramo akcijo
  <span class="math display">\[S_\lambda = \int_0^T \dot{v}^2 \,\mathrm{d}t + \int_0^T v \,\mathrm{d}t.\]</span> Nalogo
  sem reševal s pomočjo Mathematica programskega okolja, to vljučuje reševanje enačb in risanje grafov.
</p>
<h3 id="brezdimenzijska-oblika">Brezdimenzijska oblika</h3>
<p>
  Za lažje reševanje problema vpeljemo brezdimenzijske količine
  <span id="eq:nondim" class="math display"
    >\begin{equation}\tau :=\frac{t}{T}, \quad u :=\frac{v}{v_0}, \quad \eta :=\frac{L}{v_0 T},
    \label{eq:nondim}\end{equation}</span
  >
  pri čemer ke <span class="math inline">\(v_0 T\)</span> nekakšna naravna hitrost, saj pri
  <span class="math inline">\(L = v_0 T\)</span> uvidimo trivialno optimalno rešitev v nepospešeni vožnji s konstantno
  hitrostjo (tako da je akcija kar <span class="math inline">\(S = 0\)</span>). V takih brezdimenzijskih koordinatah se
  Lagrangian glasi
  <span class="math display"
    >\[\mathcal{L}&#39;(u(\tau), \dot{u}(\tau)) :=\frac{v_0^2}{T^2} \left[ \dot{u}^2 - \left( \frac{T^2}{v_0} \lambda
    \right) u \right],\]</span
  >
  pri čemer so pike nad črko zdaj odvodi <span class="math inline">\(\frac{\mathrm{d}}{\mathrm{d}\tau}\)</span> namesto
  <span class="math inline">\(\frac{\mathrm{d}}{\mathrm{d}t}\)</span>. Lagrangian lahko še nekoliko reskalirano
  <span id="eq:L" class="math display"
    >\begin{equation}\mathcal{L}(u(\tau), \dot{u}(\tau)) :=\dot{u}^2 - \left( \frac{T}{v_0^2} \lambda \right) u =
    \dot{u}^2 - \widetilde{\lambda} u, \label{eq:L}\end{equation}</span
  >
  pri čemer je naš novi multiplikator
  <span class="math inline">\(\widetilde{\lambda} :=\frac{T^2}{v_0} \lambda\)</span>. Če za Lagrangian (<a
    href="#eq:L"
    data-reference-type="ref"
    data-reference="eq:L"
    >4</a
  >) zapišemo Euler-Lagrange enačbe, dobimo s kratkim računom navadno diferencialno enačbo
  <span id="eq:ODE1" class="math display"
    >\begin{equation}\ddot{u} = -\frac{\widetilde{\lambda}}{2}, \quad \tau \in [0, 1],
    \label{eq:ODE1}\end{equation}</span
  >
  z začetnim pogojem <span class="math inline">\(u(0) = 1\)</span>.
</p>
<h3 id="extremalna-hitrost-pri-semaforju">Extremalna hitrost pri semaforju</h3>
<figure id="fig:closed">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/closed.png" />
  </div>
  <figcaption>
    Rešitve <a href="#eq:open-w" data-reference-type="ref" data-reference="eq:open-w">11</a> za hitrost (levo) in pot
    (desno) pri določeni hitrosti <span class="math inline">\(w(1) = w_1\)</span> (zaprt robni pogoj). Imamo dva prosta
    parametra <span class="math inline">\(w_0\)</span>, <span class="math inline">\(w_1\)</span>. Spet opazimo nekaj
    primerov, kjer <em>overshoot</em>-amo semafor, kar naslovimo posebej v poglavju <a
      href="#sec:overshoots"
      data-reference-type="ref"
      data-reference="sec:overshoots"
      >2.7</a
    >.
  </figcaption>
</figure>
<p>
  Semafor želimo prevoziti z ekstremalno hitrostjo, tako da velja <span class="math inline">\(\dot{u}(T) = 0\)</span>.
  Če rešimo navadno diferencialno enačbo <a href="#eq:ODE1" data-reference-type="ref" data-reference="eq:ODE1">5</a> in
  apliciramo pogoja
  <span class="math display">\[\text{odprta robna pogoja: } u(0) = 1, \quad \dot{u}(1) = 0,\]</span> dobimo za rešitev
  družino krivulj
  <span class="math display"
    >\[u(\tau) = \frac{1}{4} \left( 4 + 2\widetilde{\lambda} t - \widetilde{\lambda} t^2 \right),\]</span
  >
  izmed katerih pa je ustrezna samo tista, ki ustreza vezi (<a
    href="#eq:vez"
    data-reference-type="ref"
    data-reference="eq:vez"
    >1</a
  >). S preprosto integracijo in obratom dobimo izraz za multiplikator
  <span class="math inline">\(\widetilde{\lambda} = 6(\eta - 1)\)</span>, s čimer zapišemo rešitev kar po parametru
  <span class="math inline">\(\eta\)</span> kot
  <span id="eq:open-u" class="math display"
    >\begin{equation}u(\tau) = 1 + (\eta - 1) \left( 3\tau - \frac{3\tau^2}{2} \right).
    \label{eq:open-u}\end{equation}</span
  >
</p>
<h3 id="ničelna-začetna-hitrost-degeneracija">Ničelna začetna hitrost, degeneracija</h3>
<figure id="fig:open">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/open.png" />
  </div>
  <figcaption>
    Rešitve (<a href="#eq:open-w" data-reference-type="ref" data-reference="eq:open-w">11</a>) za hitrost (levo) in pot
    (desno) pri ekstremalni hitrosti <span class="math inline">\(dot{w}(1) = 0\)</span> (odprt robni pogoj). Imamo le en
    prost parameter <span class="math inline">\(w_0\)</span>. Takoj tudi že opazimo, da za zadostno velik
    <span class="math inline">\(w_0\)</span> pravzaprav <em>overshoot</em>-amo semafor, ta problem naslovimo posebej v
    poglavju <a href="#sec:overshoots" data-reference-type="ref" data-reference="sec:overshoots">2.7</a>.
  </figcaption>
</figure>
<p>
  Pri uvedbi brezdimenzijskih količin v <a href="#eq:nondim" data-reference-type="ref" data-reference="eq:nondim">3</a>
  smo implicitno predpostavili, da sta <span class="math inline">\(T, v_0\)</span> neničelna. Za
  <span class="math inline">\(T\)</span> je to smiselna predpostavka (in bila bi tudi za
  <span class="math inline">\(L\)</span>), a povsem naraven je primer, ko je
  <span class="math inline">\(v_0 = 0\)</span>. Pri uporabi brezdimenzijskih količin
  <span class="math inline">\((\tau, u, \eta)\)</span> bi morali primer
  <span class="math inline">\(v_0 = 0\)</span> razrešiti posebej – a bolj elegantno lahko vpeljemo bolj robustne
  brezdimenzijske količine, ki se tej degeneraciji izognejo
  <span id="eq:nondim2" class="math display"
    >\begin{equation}\tau :=\frac{t}{T}, \quad w :=\frac{v}{L/T}, \quad w_0 :=\frac{v_0}{L/T}.
    \label{eq:nondim2}\end{equation}</span
  >
  V novih količninah <span class="math inline">\((\tau, w, w_0)\)</span> lahko Lagrangian zapišemo kot
  <span id="eq:L-new" class="math display"
    >\begin{equation}\mathcal{L}(w(\tau), \dot{w}(\tau)) :=\dot{w}^2 - \Lambda w, \label{eq:L-new}\end{equation}</span
  >
  pri čemer smo podobno kot pri starih količinah vpeljali nov multiplikator
  <span class="math inline">\(\Lambda :=\frac{T^3}{L}\lambda\)</span>. Sama diferencialna enačba za rešitve ostaja enaka
  kot (<a href="#eq:ODE1" data-reference-type="ref" data-reference="eq:ODE1">5</a>), le z
  <span class="math inline">\(\Lambda\)</span> namesto <span class="math inline">\(\widetilde{\lambda}\)</span> in z
  robnimi pogoji
  <span id="eq:open-boundary" class="math display"
    >\begin{equation}\text{odprta robna pogoja: } w(0) = w_0, \quad \dot{w}(1) = 0,
    \label{eq:open-boundary}\end{equation}</span
  >
  s čimer je rešitev oblike
  <span id="eq:open-lambda-ODE" class="math display"
    >\begin{equation}w(\tau) = w_0 + \frac{\Lambda}{4} \left(2\tau - \tau^2 \right),
    \label{eq:open-lambda-ODE}\end{equation}</span
  >
  izmed njih pa izberemo tisto, ki ustreza vezi <span class="math inline">\(\int_0^1 w \,\mathrm{d}\tau = 1\)</span>. Z
  vstavljanjem dobljenega <span class="math inline">\(\Lambda\)</span> nazaj v izraz za
  <span class="math inline">\(w(\tau)\)</span>, dobimo odvisnost hitrosti
  <span id="eq:open-w" class="math display"
    >\begin{equation}w(\tau) = w_0 + (1-w_0) \left( 3\tau - \frac{3\tau^2}{2} \right).
    \label{eq:open-w}\end{equation}</span
  >
  da smo z uvedbo drugih brezdimenzijskih enot, kjer je namesto brezdimenzijske poti
  <span class="math inline">\(\eta\)</span> ključni parameter brezdimenzijska začetna hitrost
  <span class="math inline">\(w_0\)</span>, pridobili lepše obnašanje v degeneriranem primeru
  <span class="math inline">\(v_0 = 0\)</span>. Na sliki <a
    href="#fig:open"
    data-reference-type="ref"
    data-reference="fig:open"
    >2</a
  >
  lahko vidimo obliko rešitve (<a href="#eq:open-w" data-reference-type="ref" data-reference="eq:open-w">11</a>), ko
  spreminjamo začetno hitrost <span class="math inline">\(w_0\)</span>.
</p>
<h3 id="fiksna-hitrost-pri-semaforju">Fiksna hitrost pri semaforju</h3>
<p>
  Alternativa odprtemu robnemu pogoju <span class="math inline">\(\dot{w}(1)=0\)</span> je t. i. zaprto robni pogoj,
  kjer je končna hitrost pri semaforju točno določena. Spet rešujemo navadno diferencialno enačbo (<a
    href="#eq:ODE1"
    data-reference-type="ref"
    data-reference="eq:ODE1"
    >5</a
  >), le z robnimi pogoji
  <span id="eq:closed-boundary" class="math display"
    >\begin{equation}\text{zaprta robna pogoja: }\quad w(0) = w_0, \quad \dot{w}(1) = w_1.
    \label{eq:closed-boundary}\end{equation}</span
  >
  Rešitev enačbe
  <span id="eq:closed-w" class="math display"
    >\begin{equation}w(\tau) = w_0 + 2\tau (3-2w_0-w_1) - 3\tau^{2} (2-w_0-w_1). \label{eq:closed-w}\end{equation}</span
  >
  Rešitev (<a href="#eq:closed-w" data-reference-type="ref" data-reference="eq:closed-w">13</a>) je parametrizirana z
  dvema prostima parametroma <span class="math inline">\(w_0, w_1\)</span>, poteke za nabor teh dveh parametrov narišemo
  na sliki <a href="#fig:closed" data-reference-type="ref" data-reference="fig:closed">1</a>.
</p>
<h3 id="višje-potence-pospeška">Višje potence pospeška</h3>
<p>
  Raziskati bi želeli še rešitve z Lagrangianom, ki kaznuje člen <span class="math inline">\({\dot{w}}^p\)</span> za
  splošno potenco <span class="math inline">\(p\)</span>, ne le za <span class="math inline">\(p=2\)</span>. Zapišemo
  <span id="eq:L-2p" class="math display"
    >\begin{equation}\mathcal{L}_p(w(\tau), \dot{w}(\tau)) :=\dot{w}^{p} - \Lambda w, \quad p \in \mathbb{N}.
    \label{eq:L-2p}\end{equation}</span
  >
  Lagrangian oblike <a href="#eq:L-2p" data-reference-type="ref" data-reference="eq:L-2p">14</a> nam preko
  Euler-Lagrange enačbe porodi diferencialno enačbo
  <span class="math display">\[p(p-1) \dot{w}^{(p-2)} \ddot{w} = -\Lambda.\]</span> Če enačbo rešujemo kar v tej obliki
  z <code>DSolve</code> in odprtim robnim pogojem (<a
    href="#eq:open-boundary"
    data-reference-type="ref"
    data-reference="eq:open-boundary"
    >9</a
  >), nam Mathematica izpljune zelo grdo rešitev. Pomagamo ji tako, da enačbo razdelimo na dve enačbi
  <span class="math display"
    >\[\begin{aligned} \dot{Z}(\tau) &amp;= -\Lambda, \quad\quad Z(1) = 0,\\ Z(\tau) &amp;= p \dot{w}^{(p-1)}, \quad
    w(0) = w_0, \end{aligned}\]</span
  >
  tako dobimo pomožno rešitev <span class="math inline">\(Z(t) = \Lambda (1-\tau)\)</span>, na podlagi tega pa
  Mathematica lepo reši drugo enačbo
  <span class="math display">\[\Lambda (1-\tau) = p \dot{w}^{(p-1)}, \quad w(0) = w_0.\]</span> Glede te enačbe lahko
  omenimo še en detajl. Ker je čas <span class="math inline">\(\tau \in [0, 1]\)</span>, mora biti za
  <span class="math inline">\(p &gt; 2\)</span> naš <span class="math inline">\(\Lambda &gt; 0\)</span>, drugače enačba
  ni rešljiva v <span class="math inline">\(\mathbb{R}\)</span>. Ta pomislek tudi upraviči, da ignoriramo opozorilo, ki
  nam ga vrne <code>DSolve</code>, sicer:
</p>
<p>
  <code
    >Solve: Inverse functions are being used by Solve, so some solutions may not be found; use Reduce for complete
    solution information.</code
  >
</p>
<p>
  Dobljeno rešitev malce poenostavimo na roke in zapišemo
  <span id="eq:2p-lambda-ODE" class="math display"
    >\begin{equation}w(\tau) = w_0 + \frac{p-1}{p} \left( \frac{\Lambda}{p} \right)^{\frac{1}{p-1}} \left( 1 - \left[
    1-\tau \right]^{\frac{p}{p-1}} \right). \label{eq:2p-lambda-ODE}\end{equation}</span
  >
  Takoj lahko preverimo, da je za <span class="math inline">\(p=2\)</span> enačba (<a
    href="#eq:2p-lambda-ODE"
    data-reference-type="ref"
    data-reference="eq:2p-lambda-ODE"
    >15</a
  >) kar enake oblike kot (<a href="#eq:open-lambda-ODE" data-reference-type="ref" data-reference="eq:open-lambda-ODE"
    >10</a
  >). Preostane nam le še vez <span class="math inline">\(\int_0^1 w\,\mathrm{d}\tau = 1\)</span>. Ko integiramo (<a
    href="#eq:2p-lambda-ODE"
    data-reference-type="ref"
    data-reference="eq:2p-lambda-ODE"
    >15</a
  >), upoštevamo že prej upravičeno predpostavko <span class="math inline">\(\Lambda &gt; 0\)</span>. Ko dobljeno enačbo
  rešimo za <span class="math inline">\(\Lambda\)</span> in vsavimo nazaj v (<a
    href="#eq:2p-lambda-ODE"
    data-reference-type="ref"
    data-reference="eq:2p-lambda-ODE"
    >15</a
  >), dobimo končno obliko rešitve
  <span id="eq:2p-w" class="math display"
    >\begin{equation}w(\tau) = w_0 + \frac{(2p-1)(1-w_0)}{p} \left( 1 - \left[ 1-\tau \right]^{\frac{p}{p-1}} \right).
    \label{eq:2p-w}\end{equation}</span
  >
  Na sliki <a href="#fig:L-p" data-reference-type="ref" data-reference="fig:L-p">3</a> vidimo, kako povečevanje
  eksponenta <span class="math inline">\(p\)</span> vpliva na optimalne rešitve. Ko se
  <span class="math inline">\(p\)</span> veča, postajajo rešitve vedno bolj podobne limitni premici
  <span class="math display">\[w(\tau) = w_0 + 2t(1-w_0).\]</span> Še vedno pa (vsaj v limitnem smislu) velja, da je
  <span class="math inline">\(\dot{w}(1) = 0\)</span>, čeprav je padec na
  <span class="math inline">\(\dot{w} = 0\)</span> vedno bolj oster za višje
  <span class="math inline">\(p\)</span> (slika <a href="#fig:L-p" data-reference-type="ref" data-reference="fig:L-p"
    >3</a
  >
  spodaj).
</p>
<figure id="fig:L-p">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/p-exponent.png" />
  </div>
  <figcaption>
    (Zgoraj) Potek hitrosti za odprte robne pogoje in za Lagrangian s splošnim eksponentom
    <span class="math inline">\(p\)</span>. (Spodaj) Potek pospeška. Za večje <span class="math inline">\(p\)</span> je
    potek vedno bolj linearen, a proti <span class="math inline">\(\tau \to 1\)</span> še vedno zavije tako, da je
    <span class="math inline">\(\dot{w}(1) = 0\)</span>.
  </figcaption>
</figure>
<h3 id="kvadratni-člen-v-hitrosti">Kvadratni člen v hitrosti</h3>
<figure id="fig:w2-triple">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/w2-triple.png" />
  </div>
  <figcaption>
    Poteki hitrosti za odprt robni pogoj z dodanim <span class="math inline">\(\chi^2 w^2\)</span> členom v
    Lagrangianu <a href="#eq:L-chi" data-reference-type="ref" data-reference="eq:L-chi">17</a>, ki kaznuje višjo
    hitrost, ne zgolj višjega pospeška. Z višanjem <span class="math inline">\(\chi^2\)</span> vidimo pojav skoraj
    konstantnih odsekov v <span class="math inline">\(w(\tau)\)</span>, saj je tako komulativni
    <span class="math inline">\(w^2\)</span> minimiziran.
  </figcaption>
</figure>
<p>
  Če poleg velikosti pospeška smatramo kot neuodobno tudi višjo absolutno hitrost, lahko zapišemo Lagrangian z dodatnim
  <span class="math inline">\(w^2\)</span> členom
  <span id="eq:L-chi" class="math display"
    >\begin{equation}\mathcal{L}_\chi(w(\tau), \dot{w}(\tau)) :=\dot{w}^2 + \chi^2 w^2 - \Lambda w.
    \label{eq:L-chi}\end{equation}</span
  >
  Euler-Lagrange enačbe za tak Lagrangian nam dajo
  <span id="eq:ODE2" class="math display"
    >\begin{equation}\ddot{w} - \chi^2 w = -\frac{\Lambda}{2}. \label{eq:ODE2}\end{equation}</span
  >
  Če diferencialno enačbo (<a href="#eq:ODE2" data-reference-type="ref" data-reference="eq:ODE2">18</a>) rešujemo z
  odprtim robnim pogojem, dobimo rešitev oblike
  <span class="math display"
    >\[w(\tau) = e^{-\Lambda\chi\tau} \frac{\Lambda e^{\chi\tau} + \Lambda e^{\chi(2+t)} - [\Lambda - 2\chi^2 w_0](1 +
    e^{\chi t})e^{\chi t} }{2\chi^2 (1+e^{2\chi})}.\]</span
  >
  Ko upoštevamo vez za razdaljo, dobimo za multiplikator vrednost
  <span class="math display">\[\Lambda = \frac{2\chi^2 (\chi - w_0 \tanh\chi)}{\chi - \tanh\chi}.\]</span> Tako dobljen
  <span class="math inline">\(w(\tau)\)</span> narišemo na sliki <a
    href="#fig:w2-triple"
    data-reference-type="ref"
    data-reference="fig:w2-triple"
    >4</a
  >. Na sliki <a href="#fig:w2-double" data-reference-type="ref" data-reference="fig:w2-double">5</a> še bolj
  eksplicitno pokažemo vpliv večjega <span class="math inline">\(\chi^2\)</span
  ><a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"><sup>1</sup></a> faktorja na potek
  <span class="math inline">\(w(\tau)\)</span>. Vidimo, da se ob večjem <span class="math inline">\(\chi\)</span> (bolj
  močno kaznovana hitrost) začne pojavljati v osrednjem delu <span class="math inline">\(\tau \in (0, 1)\)</span> vedno
  bolj izrazit plato (ang. <em>plateau</em>), kjer je <span class="math inline">\(w\)</span> konstantna. Ker zahtevamo
  neko določeno površino pod krivuljo <span class="math inline">\(w(\tau)\)</span>, hitrost
  <span class="math inline">\(w\)</span> kaznujemo s kvadratnim pribitkom <span class="math inline">\(w^2\)</span>, je
  optimalna oblika kar konstanta. Vse druge oblike so manj optimalne, saj je pribitek na posamezne dele, ki štrlijo ven
  iz platoja, kvadraten.
  <figure id="fig:w2-double">
    <div class="center">
      <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/w2-double.png" />
    </div>
    <figcaption>
      Vpliv velikosti parametra <span class="math inline">\(\chi\)</span> za odprt robni pogoj in z Lagrangianom <a
        href="#eq:L-chi"
        data-reference-type="ref"
        data-reference="eq:L-chi"
        >17</a
      >, ki kaznuje višjo hitrost, ne zgolj višjega pospeška.
    </figcaption>
  </figure>
  <figure id="fig:w2-triple-closed">
    <div class="center">
      <img width="600" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/w2-triple-closed.png" />
    </div>
    <figcaption>
      Poteki hitrosti za zaprt robni pogoj z dodanim <span class="math inline">\(\chi^2 w^2\)</span> členom v
      Lagrangianu <a href="#eq:L-chi" data-reference-type="ref" data-reference="eq:L-chi">17</a>, ki kaznuje višjo
      hitrost, ne zgolj višjega pospeška.
    </figcaption>
  </figure>
  <figure id="fig:w2-double-closed">
    <div class="center">
      <img width="600" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/w2-double-closed.png" />
    </div>
    <figcaption>
      Vpliv velikosti parametra <span class="math inline">\(\chi\)</span> za zaprt robni pogoj in z Lagrangianom <a
        href="#eq:L-chi"
        data-reference-type="ref"
        data-reference="eq:L-chi"
        >17</a
      >, ki kaznuje višjo hitrost, ne zgolj višjega pospeška. Tu še bolj vidimo tendenco k poteku hitrosti, ki je čim
      večji čas konstantna, saj to minimizira komulativni <span class="math inline">\(w^2\)</span>.
    </figcaption>
  </figure>
</p>
<p>
  Poglejmo si poteke hitrosti, ki ustrezajo Lagrangianu s členom <span class="math inline">\(\chi^2 w^2\)</span> še za
  zaprt robni pogoj (<a href="#eq:closed-boundary" data-reference-type="ref" data-reference="eq:closed-boundary">12</a
  >). Temu ustreza rešitev (<a href="#eq:ODE2" data-reference-type="ref" data-reference="eq:ODE2">18</a>) diferencialne
  enačbe
  <span class="math display"
    >\[\begin{aligned} w(\tau) &amp;= \Lambda e^{-\chi\tau} \frac{e^\chi - e^{2\chi} - e^{\chi t} + e^{2\chi t} +
    e^{2\chi + \chi \tau} - e^{\chi + 2\chi \tau}}{2\chi^2(e^{2\chi} - 1)}. \nonumber \\ &amp;+ e^{-\chi\tau} \frac{2w_0
    e^{2\chi} - 2w_0 e^{2\chi\tau} -2 w_1 e^{\chi} + 2 w_1 \chi^2 e^{\chi + 2\chi\tau}}{2(e^{2\chi} - 1)}.
    \end{aligned}\]</span
  >
  Ob upoštevanju vezi (<a href="#eq:vez" data-reference-type="ref" data-reference="eq:vez">1</a>) dobimo za
  multiplikator
  <span class="math display"
    >\[\Lambda = \frac{2\chi^2 \left( \chi - w_0 \tanh \frac{\chi}{2} - w_1 \tanh \frac{chi}{2} \right)}{\chi - 2\tanh
    \frac{\chi}{2}}.\]</span
  >
  Za kar nekaj vrednosti parametrov <span class="math inline">\((\chi^2, w_0, w_1)\)</span> narišemo poteke na slikah <a
    href="#fig:w2-triple-closed"
    data-reference-type="ref"
    data-reference="fig:w2-triple-closed"
    >6</a
  >, <a href="#fig:w2-double-closed" data-reference-type="ref" data-reference="fig:w2-double-closed">7</a>. Spet vidimo
  oblikovanje jasnih platojev za večje <span class="math inline">\(\chi\)</span> (bolj močno kaznovana hitrost). Če bi
  kaznovali le hitrost (limita <span class="math inline">\(\chi \to \infty\)</span>), bi optimalna oblika bila konstanta
  <span class="math inline">\(w = 1\)</span>, s koračnim skokom iz <span class="math inline">\(w_0\)</span> na
  <span class="math inline">\(1\)</span> pri <span class="math inline">\(\tau = 0\)</span> in spet skokom iz
  <span class="math inline">\(w = 1\)</span> na <span class="math inline">\(w_1\)</span> pri
  <span class="math inline">\(\tau = 1\)</span>. Ta dva koračna skoka bi predstavljala dve delta funkciji za pospešek,
  ko je v Lagrangianu prisoten še <span class="math inline">\(\dot{w}^2\)</span> člen, se to ne zgodi, temveč imamo
  namesto koračnega vseeno nek gladek prehod. Večji kot je <span class="math inline">\(\chi\)</span>, bolj oster je
  prehod in bolj podoben je koračnemu.
</p>
<aside id="footnotes" class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol>
    <li id="fn1">
      <p>
        Tega ni mešati z <span class="math inline">\(\chi^2\)</span> faktorjem iz statistike, moja izbira simbola je
        bila morda malce nesrečna.<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a>
      </p>
    </li>
  </ol>
</aside>
<h3 id="sec:overshoots">Preprečevanje overshootanja</h3>
<p>
  Kot smo to že videli na slikah <a href="#fig:open" data-reference-type="ref" data-reference="fig:open">2</a>, <a
    href="#fig:closed"
    data-reference-type="ref"
    data-reference="fig:closed"
    >1</a
  >, se dogaja, da avto pri nekem času <span class="math inline">\(\tau &lt; 1\)</span> pelje mimo semaforja, nato pa
  šele z vzvratno vožnjo pride na brezdimenzijsko razdaljo <span class="math inline">\(1\)</span>, da zadosti vezi (<a
    href="#eq:vez"
    data-reference-type="ref"
    data-reference="eq:vez"
    >1</a
  >). To bomo rešili tako, da bomo določili nekakšne meje na dovoljene parametre pri naši optimizaciji.
</p>
<h4 id="overshoot-z-odprtim-robnim-pogojem">Overshoot z odprtim robnim pogojem</h4>
<p>
  Iz slike <a href="#fig:open" data-reference-type="ref" data-reference="fig:open">2</a> je vidno, da so vso poteki
  <span class="math inline">\(w(\tau)\)</span> strogo monotoni (ali pa so konstanta). Tedaj je problem
  <em>overshoot</em>-anja semaforja rešen točno takrat, ko se izognemo negativnim hitrostim. Če za rešitev poteka za
  odprte robne pogoje (<a href="#eq:open-w" data-reference-type="ref" data-reference="eq:open-w">11</a>) izračunamo
  diskriminanto, dobimo <span class="math display">\[D = 3(3-4w_0+w_0^2),\]</span> iz česar lahko določimo, da mora biti
  začetna hitrost<a href="#fn2" class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a> avtomobila navzgor
  omejena kot
  <span class="math display">\[w_0 &lt; w_0^{(max.)} = 3, \; \text{da preprečimo overshoot}.\]</span>
</p>
<aside id="footnotes-2" class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol start="2">
    <li id="fn2">
      <p>
        Tega sicer nismo eksplicitno zapisali, a negativnih <span class="math inline">\(w_0\)</span> ne obravamo.<a
          href="#fnref2"
          class="footnote-back"
          role="doc-backlink"
          >↩︎</a
        >
      </p>
    </li>
  </ol>
</aside>
<h3 id="zaporedni-semaforji">Zaporedni semaforji</h3>
<p>
  Zanimajo nas še načini vožnje skozi več zaporednih semaforjev. Takoj očitna možnost, ki se ponuja, so zlepljene
  rešitve za odprt robni pogoj ali zlepljene rešitve za zaprt robni pogoj, pri čemer je
  <span class="math inline">\(w_1\)</span> (tako se vožnja ustali takoj po prvem odseku). Grafično ta dva poteka vidimo
  na <a href="#fig:zlepki-closed" data-reference-type="ref" data-reference="fig:zlepki-closed">9</a> in <a
    href="#fig:zlepki-closed"
    data-reference-type="ref"
    data-reference="fig:zlepki-closed"
    >9</a
  >.
</p>
<p>
  Alternativno enačbo rešujemo tako, da robne pogoje določimo kar iz zveznosti in zvezne odvedljivosti. To dosežemo
  tako, da izberemo nek <span class="math inline">\(w_{00}\)</span> in nek
  <span class="math inline">\(\dot{w}_{00}\)</span>, nato pa rešimo enačbo (<a
    href="#eq:ODE1"
    data-reference-type="ref"
    data-reference="eq:ODE1"
    >5</a
  >), apliciramo vez (<a href="#eq:vez" data-reference-type="ref" data-reference="eq:vez">1</a>), nato pa začetne pogoje
  za naslednji odsek razberemo kar iz te funkcije na naslednjem robu <span class="math inline">\(\tau_n + 1\)</span>.
  Tako rešitev za <span class="math inline">\(w_0 = 2\)</span> si pogledamo za nekaj različnih
  <span class="math inline">\(\dot{w}_{00}\)</span> na sliki <a
    href="#fig:periodic"
    data-reference-type="ref"
    data-reference="fig:periodic"
    >10</a
  >. Vidimo, da rešitev zna kar podivjati, razen za en ozek obseg parametrov.
</p>
<figure id="fig:zlepki-open">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/zlepki-open.png" />
    <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/zlepki-open-s.png" />
  </div>
  <figcaption>
    (Zgoraj) Zlepljene rešitve za odprt robni pogoj in, t. j. funkcije oblike (<a
      href="#eq:open-w"
      data-reference-type="ref"
      data-reference="eq:open-w"
      >11</a
    >). (Spodaj) Potek poti za isto rešitev. Vidimo, da hitrost pri semaforju oscilira in se alternirajoče približuje
    ravnovesni legi <span class="math inline">\(w=1\)</span>
  </figcaption>
</figure>
<figure id="fig:zlepki-closed">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/zlepki-closed.png" />
    <img width="500" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/zlepki-closed-s.png" />
  </div>
  <figcaption>
    (Zgoraj) Zlepljene rešitve za zaprt robni pogoj, <span class="math inline">\(w_1 = 1\)</span> in
    <span class="math inline">\(w_0 = 5\)</span>, t. j. funkcije oblike (<a
      href="#eq:closed-w"
      data-reference-type="ref"
      data-reference="eq:closed-w"
      >13</a
    >). (Spodaj) Potek poti za isto rešitev. Ta rešitev je relativno nezanimiva, saj se dinamika hitrosti ustali takoj
    po prvem odseku <span class="math inline">\([0, 1]\)</span> (ker je na vseh odsekih
    <span class="math inline">\(w_1 = 1\)</span>), nato pa vožnjo nadaljujemo s konstantno hitrostjo.
  </figcaption>
</figure>
<figure id="fig:periodic">
  <div class="center">
    <img width="520" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/periodic.png" />
    <img width="490" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/smooth-narrow.png" />
  </div>
  <figcaption>
    (Zgoraj) Gladko zlepljena rešitev za <span class="math inline">\(w_{00} = 2\)</span> in nekaj različnih vrednosti
    <span class="math inline">\(\dot{w}_{00}\)</span>. (Spodaj) Gladko zlepljene rešitve za
    <span class="math inline">\(w_{00} = 2\)</span> in za ožji nabor parametra
    <span class="math inline">\(\dot{w}_{00} \in [-3.5, 3]\)</span> (barve gredo od vijolične za
    <span class="math inline">\(\dot{w}_{00} = -3.5\)</span> do rdeče za
    <span class="math inline">\(\dot{w}_{00} = -3\)</span>).
  </figcaption>
</figure>
<h4 id="overshoot-z-zaprtim-robnim-pogojem">Overshoot z zaprtim robnim pogojem</h4>
<p>
  Pojav <em>overshoot</em>-anja se prav tako kot pri odprtih pogojih pojavi tudi pri zaprtih robnih pogojih (slika <a
    href="#fig:closed"
    data-reference-type="ref"
    data-reference="fig:closed"
    >1</a
  >). A ker imamo zdaj dva prosta parametra <span class="math inline">\(w_0, w_1\)</span> (namesto le enega), je
  določitev omejitve za preprečevanje <em>overshoot</em>-anja nekoliko težje. Ker poznamo potek hitrosti (<a
    href="#eq:closed-w"
    data-reference-type="ref"
    data-reference="eq:closed-w"
    >13</a
  >), lahko zapišemo tudi <span class="math inline">\(s(\tau)\)</span>, ki je nek polinom 3. stopnje. Ta polinom vedno
  poteka skozi točko <span class="math inline">\((\tau, s) = (1, 1)\)</span>, zato lahko njegovo obliko poenostavimo kot
  <span class="math display">\[s(\tau) - 1 = (\tau - 1) Q(\tau),\]</span> pri čemer je
  <span class="math inline">\(Q(\tau)\)</span> nek kvadratični polinom
  <span class="math display">\[Q(\tau) = 1 - t(1-w_0) - t^2(2 -w_0 - w_1),\]</span> z ničlami tam, kjer je dosežena
  razdalja <span class="math inline">\(s(\tau) = 1\)</span>. Če je katera od teh dveh ničel
  <span class="math inline">\(\tau_{1,2}^{(Q)} \in (0, 1)\)</span>, je potek problematičen, saj semafor prevozimo pred
  <span class="math inline">\(\tau = 1\)</span>. Na sliki <a
    href="#fig:discriminant"
    data-reference-type="ref"
    data-reference="fig:discriminant"
    >11</a
  >
  je narisana diskriminanta <span class="math inline">\(Q(\tau)\)</span> po parametrih
  <span class="math inline">\((w_0, w_1)\)</span>.
</p>
<figure id="fig:discriminant">
  <div class="center">
    <img width="300" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/closed-discriminant.png" />
  </div>
  <figcaption>
    Diskriminanta polinoma <span class="math inline">\(Q(\tau)\)</span> za parametra
    <span class="math inline">\(w_0, w_1\)</span>. Z modro črtkano je narisana ničelna diskriminanta, ničle
    <span class="math inline">\(Q(\tau)\)</span> so možne le pod to krivuljo. Z rdečo šrafirano je označeno območje,
    kjer dejansko opazimo <em>overshoot</em> obnašanje. Tega območja se moramo izogibati, če naj semaforja ne bi
    prevozili pred časom <span class="math inline">\(\tau = 1\)</span>.
  </figcaption>
</figure>
<p>
  Zanima nas območje oz. pogoj za parametre, kjer je prisotno <em>overshoot</em> obnašanje. Prvi pogoj dobimo iz
  diskriminante <span class="math inline">\(Q(\tau)\)</span> – če naj bo prisoten <em>overshoot</em>, bo
  <span class="math inline">\(Q(\tau)\)</span> imel dve ničli. Pogoj, da ima
  <span class="math inline">\(Q(\tau)\)</span> dve ničji, je
  <span class="math display">\[w_1 &lt; \frac{1}{4} \big(9 - 6w_0 + w_0^2\big).\]</span> Potencialno območje je torej
  pod to krivuljo (modra črtkana parabola na sliki <a
    href="#fig:discriminant"
    data-reference-type="ref"
    data-reference="fig:discriminant"
    >11</a
  >). Kot opisano na sliki <a href="#fig:proof-by-calc" data-reference-type="ref" data-reference="fig:proof-by-calc"
    >12</a
  >, pa tudi območje <span class="math inline">\(w_0 &lt; 3\)</span> pod krivuljo ni problematično. Območje
  <em>overshoot</em> obnašanja je torej le območje, označeno z rdečo šrafirano na sliki <a
    href="#fig:discriminant"
    data-reference-type="ref"
    data-reference="fig:discriminant"
    >11</a
  >. Komplement tega pogoja nam omogoči, da se <em>overshoot</em>-anju izognemo, sicer pod pogojem
  <span class="math display"
    >\[w_0 &lt; 3 \quad \text{ali} \quad w_1 \ge \frac{1}{4} \big(9 - 6w_0 + w_0^2\big).\]</span
  >
</p>
<figure id="fig:proof-by-calc">
  <div class="center">
    <img width="250" src="/imgs/Fizika/mod1-01-voznja-skozi-semafor/proof-by-calculator.png" />
  </div>
  <figcaption>
    Graf območja, kjer <span class="math inline">\(Q(\tau)\)</span> ima vsaj eno ničlo in je vsaj eden od
    <span class="math inline">\(\tau^{(Q)}_{1,2} \in (0, 1)\)</span>. Kot vidimo, je tak nabor parameter prisoten le za
    <span class="math inline">\(w_0 \ge 3\)</span>. Ker je to določeno z grafičnim izrisom, ostaja možnost, da vseeno
    obstaja nabor parametrov <span class="math inline">\(w_0, w_1\)</span>, ki <em>overshoot</em>-ajo semafor, a
    obstajajo le na neki krivulji ali sporadičnih točkah v <span class="math inline">\((w_0, w_1)\)</span> in zato niso
    vidni. A ta možnost se mi zdi le malo verjetna, za dokaz pa nimam časa.
  </figcaption>
</figure>
