<h1>
  Modelska analiza 104
</h1>
<h1 class="subtitle">Populacijski modeli, SIR model epidemije, Lotka-Volterra in črpanje laserja</h1>
<h2 id="navodila">Navodila</h2>
<ol>
  <li>
    <p>
      Razišči preprost <a href="https://en.wikipedia.org/wiki/Compartmental_models_in_epidemiology">SIR</a> model epidemije. V modelu populacijo razdelimo v tri razrede: (D) zdravi in dovzetni, (B) bolni
      in kliconosni, (I) imuni: nedovzetni in nekliconosni. Bolezen se širi s stiki med zdravimi in bolnimi. Bolnik
      preide s konstantno verjetnostjo med imune (ozdravi ali umre).
    </p>
  </li>
  <li><p>Preuči standardni standardni deterministični model zajci-lisice (model Lotka-Volterra).</p></li>
  <li><p>Analiziraj fazni portret za populacijski model laserja s konstantnim črpanjem.</p></li>
</ol>
<h2 id="model-epidemije">Model epidemije</h2>
<figure id="fig:base">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/base_03_03.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/base_03_01.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/base_08_01.plot.png" />
  </div>
  <figcaption>
    Poteki epidemije za <span class="math inline">\(B_0 = 1/100\)</span> in za tri različne parametre
    <span class="math inline">\(\alpha, \beta\)</span>. Vidimo, da večji <span class="math inline">\(\alpha\)</span> (t.
    j. večji <span class="math inline">\(R_0\)</span>) povzroči hitrejše širjenje in višji vrh. Manjši
    <span class="math inline">\(\beta\)</span> (večji čas okrevanja
    <span class="math inline">\(\tau_\mathrm{preboli}\)</span>) prav tako povzroči višji vrh, a pandemija potem traja
    dlje časa.
  </figcaption>
</figure>
<p>
  Preprost model epidemije modeliramo kot sistem navadnih diferencialnih enačb
  <span id="eq:SIR" class="math display"
    >\begin{equation}\begin{aligned} \dot{D} &= -\alpha DB, \nonumber \\ \dot{B} &= \alpha DB - \beta B, \label{eq:SIR}
    \\ \dot{I} &= \beta B. \nonumber \end{aligned}\end{equation}</span
  >
  Faktor <span class="math inline">\(\alpha\)</span> je pri tem t. i. reproduktivni faktor bolezni, ki narekuje hitrost
  njenega širjenja. Takoj v prvi enačbi v sistemu vidimo, da se bo število dovzetnih le zmanjševalo
  <span class="math display">\[D(t) \le D_0,\]</span> posledično pa to, ali se bo epidemija sploh širila, narekuje pogoj
  <span id="eq:ineq" class="math display"
    >\begin{equation}\dot{B} \le I(\alpha D_0 - \beta). \label{eq:ineq}\end{equation}</span
  >
  Če želimo, da se bolezen vsaj na neki točki širi (da je <span class="math inline">\(\dot{B} &gt; 0\)</span>), mora
  biti desna stran neenakosti (<a href="#eq:ineq" data-reference-type="ref" data-reference="eq:ineq">2</a>) pozitivna,
  torej mora veljati
  <span id="eq:R" class="math display"
    >\begin{equation}R :=\frac{\alpha D_0}{\beta} > 1, \label{eq:R}\end{equation}</span
  >
  pri čemer smo uvedli t. i. reproduktivni faktor <span class="math inline">\(R\)</span>. Če je na začetku dovzetna vsa
  populacija, je to t. i. osnovni reproduktivni faktor.
  <span class="math display">\[R_0 :=R\vert_{D_0 = 1} = \frac{\alpha}{\beta}\]</span> Ta parameter je široko
  uporabljen v imunološki literaturi in tudi poročan tekom bolezni kot je bil npr. Covid-19 (glej tabelo <a
    href="#tab:R0"
    data-reference-type="ref"
    data-reference="tab:R0"
    >1</a
  >). Za neke smiselne začetne parametre bomo predpostavili, da tipično ljudje bolezen prebolijo (ali pa umrejo) v času
  10-ih dni
  <span class="math display">\[\beta = \frac{1}{\tau_\text{preboli}} \approx \frac{1}{10\,\text{dni}} = 0.1.\]</span> Če
  torej vzamemo nek smiseln <span class="math inline">\(R_0 \approx 3\)</span> za SARS-CoV, lahko izberemo za
  <span class="math inline">\(\alpha \approx 0.3\)</span>. Narišemo primere poteke epidemije za različne
  <span class="math inline">\(\alpha, \beta\)</span> (glej sliko <a
    href="#fig:base"
    data-reference-type="ref"
    data-reference="fig:base"
    >1</a
  >). Kako točno je vrh <span class="math inline">\(B_\text{max}\)</span> in čas njegovega nastopa odvisen od parametrov
  epidemije, lahko vidimo na sliki <a
    href="#fig:by_R0_and_tau"
    data-reference-type="ref"
    data-reference="fig:by_R0_and_tau"
    >2</a
  >, kjer namesto parametrov <span class="math inline">\(\alpha, \beta\)</span> uporabimo ekvivalentna
  <span class="math inline">\(R_0, \tau_\text{preboli}\)</span>. Vidimo, da večji
  <span class="math inline">\(\alpha\)</span> epidemijo ojača (večji <span class="math inline">\(B_\text{max}\)</span>)
  in pospeši (manjši <span class="math inline">\(t(B_\text{max})\)</span>), medtem pa manjši
  <span class="math inline">\(\beta\)</span> epidemijo zgolj ojača (večji
  <span class="math inline">\(B_\text{max}\)</span>), časa njenega vrha pa ne spremeni.
</p>
<figure id="fig:by_R0_and_tau">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-04-populacije/B_max_by_R0.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-04-populacije/B_max_by_tau.plot.png" alt="image" />
  </div>
  <figcaption>
    Odvisnost vrha epidemije <span class="math inline">\(B_\mathrm{max}\)</span> in časa, ob katerem se vrh pojavi
    <span class="math inline">\(t(B_\mathrm{max})\)</span> od reproduktivnega faktorja
    <span class="math inline">\(R_0\)</span> in časa trajanja bolezni
    <span class="math inline">\(\tau_\text{preboli}\)</span>. (Zgoraj) Preseki za konstantne
    <span class="math inline">\(\tau_\text{preboli}\)</span>. (Spodaj) Preseki za konstantne
    <span class="math inline">\(R_0\)</span>.
  </figcaption>
</figure>
<div id="tab:R0">
  <figure>
    <div class="center">
  <table>
    <thead>
      <tr class="header">
        <th style="text-align: center"></th>
        <th style="text-align: right"><span class="math inline">\(R_0\)</span></th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td style="text-align: center">Wuhan</td>
        <td style="text-align: right">2.4-2.6</td>
      </tr>
      <tr class="even">
        <td style="text-align: center">EU</td>
        <td style="text-align: right">3</td>
      </tr>
      <tr class="odd">
        <td style="text-align: center"><span class="math inline">\(\alpha\)</span></td>
        <td style="text-align: right">4-5</td>
      </tr>
      <tr class="even">
        <td style="text-align: center"><span class="math inline">\(\delta\)</span></td>
        <td style="text-align: right">5-8</td>
      </tr>
      <tr class="odd">
        <td style="text-align: center">ošpice</td>
        <td style="text-align: right">12-18</td>
      </tr>
    </tbody>
  </table>
    <figcaption>
      Osnovni reproduktivni faktorji za variante SARS-CoV (Covid-19) virusa in za ošpice. Vzeto iz <span
        class="citation"
        data-cites="bbc2021"
        >[<a href="#ref-bbc2021" role="doc-biblioref">1</a>]</span
      >.
    </figcaption>
    </div>
  </figure>
</div>
<h3 id="odvisnost-vrha-epidemije">Odvisnost vrha epidemije</h3>
<p>
  Zanima nas tudi, koliko je maksimalno število bolnih <span class="math inline">\(B_\mathrm{max}\)</span> in kdaj tak
  vrh epidemije nastopi, t. j. čas <span class="math inline">\(t(B_\mathrm{max})\)</span>. To odvisnost narišemo na
  sliki <a href="#fig:by_R0_and_tau" data-reference-type="ref" data-reference="fig:by_R0_and_tau">2</a> po parametrih
  <span class="math inline">\((R_0, \tau_\text{preboli})\)</span> (namesto
  <span class="math inline">\((\alpha, \beta)\)</span>).
</p>
<figure id="fig:segments">
  <div class="center">
    <img width="450" src="/imgs/Fizika/mod1-04-populacije/segments.plot.png" />
  </div>
  <figcaption>
    Potek bolezni, če ob nekem času (v 60. dnevu za prikazan primer) virus mutira in se mu spremeni reproduktivni faktor
    <span class="math inline">\(R_0\)</span>. Vidimo, da lahko iz upadanja preidemo v ponovno rast števila bolnih,
    dobimo drugotni vrh epidemije.
  </figcaption>
</figure>
<figure id="fig:immunity">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-04-populacije/immunity.plot.png" />
  </div>
  <figcaption>
    Poteki bolezni za različne začetne deleže imunih <span class="math inline">\(I_0\)</span>. Z večjim številom imunih
    osebkov se vrh epidemije <span class="math inline">\(B_\mathrm{max}\)</span> manjša, za
    <span class="math inline">\(I_0 &gt; I_0^{(\text{krit})}\)</span> pa se epidemija sploh ne začne, saj je
    reproduktivni faktor po (<a href="#eq:R" data-reference-type="ref" data-reference="eq:R">3</a>) že takoj manjši od
    1.
  </figcaption>
</figure>
<h3 id="mutacija-virusa-in-cepljenje">Mutacija virusa in cepljenje</h3>
<p>
  Če virus med potekom epidemije mutira, se mu lahko spremeni npr. reproduktivni faktor (glej tabelo <a
    href="#tab:R0"
    data-reference-type="ref"
    data-reference="tab:R0"
    >1</a
  >). To lahko povzroči sekundarni vrh epidemije, ki je višji od začetno pričakovanega (slika <a
    href="#fig:segments"
    data-reference-type="ref"
    data-reference="fig:segments"
    >3</a
  >).
</p>
<p>
  V model bomo poskusili vključiti tudi pojav cepljenja. V nekem trenutku
  <span class="math inline">\(\tau_\text{cep.}\)</span> bomo precepili
  <span class="math inline">\(\Delta I_\text{cep.}\)</span> delež populacije (slika <a
    href="#fi5:vaccine"
    data-reference-type="ref"
    data-reference="fig:vaccine"
    >5</a
  >
  zgoraj). Kako čas cepljenja in delež cepljenja vpliva na vrh epidemije vidimo na sliki <a
    href="#fig:vaccine"
    data-reference-type="ref"
    data-reference="fig:vaccine"
    >5</a
  >
  spodaj.
</p>
<h3 id="inkubacijska-doba-in-popuščanje-imunosti">Inkubacijska doba in popuščanje imunosti</h3>
<p>
  Po vzoru <span class="citation" data-cites="ebraheem2021delayed"
    >[<a href="#ref-ebraheem2021delayed" role="doc-biblioref">2</a>]</span
  >
  dodamo našemu modelu (<a href="#eq:SIR" data-reference-type="ref" data-reference="eq:SIR">1</a>) še inkubacijsko dobo
  <span class="math inline">\(\tau_\text{DB}\)</span> in pa člen
  <span class="math inline">\(\gamma I_{(t - \tau_\text{ID})}\)</span>, ki opisuje popuščanje imunosti z specifično
  verjetnostjo <span class="math inline">\(\gamma\)</span> po času <span class="math inline">\(\tau_\text{ID}\)</span>.
  Po novem se sistem diferencialnih enačb glasi
  <span id="eq:dde" class="math display"
    >\begin{equation}\begin{aligned} \dot{D} &= -\alpha D_{(t - \tau_\text{DB})} B_{(t - \tau_\text{DB})} + \gamma I_{(t
    - \tau_\text{ID})}, \nonumber \\ \dot{B} &= \alpha D_{(t - \tau_\text{DB})} B_{(t - \tau_\text{DB})} - B_{(t -
    \tau_\text{BI})}, \label{eq:dde} \\ \dot{I} &= B_{(t - \tau_\text{BI})} - \gamma I_{(t - \tau_\text{ID})}. \nonumber
    \end{aligned}\end{equation}</span
  >
  Rešitve takšnega sistema nam zdaj ponudijo novo oscilatorno dinamiko (slike <a
    href="#fig:oscillations_A"
    data-reference-type="ref"
    data-reference="fig:oscillations_A"
    >6</a
  >, <a href="#fig:oscillations_B" data-reference-type="ref" data-reference="fig:oscillations_B">7</a> in <a
    href="#fig:oscillations_B2"
    data-reference-type="ref"
    data-reference="fig:oscillations_B2"
    >8</a
  >). Ob pravi izbiri parametrov
</p>
<figure id="fig:vaccine">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-04-populacije/vaccination.plot.png" />
    <br>
    <img width="400" src="/imgs/Fizika/mod1-04-populacije/vaccination_params.plot.png" />
  </div>
  <figcaption>
    Pulzni model cepljenja, kjer ob času <span class="math inline">\(t_\text{cep.}\)</span> naenkrat precepimo
    <span class="math inline">\(\Delta I_\text{cep.}\)</span> delež populacije. (Zgoraj) Potek ob pulznem cepljenju
    <span class="math inline">\(30\%\)</span> populacije tik pred vrhom epidemije (na 18. dan). (Spodaj) Vpliv cepljenja
    na vrh epidemije <span class="math inline">\(B_\text{max}\)</span> glede na čas in delež pulznega cepljenja. Vidimo,
    da je efekt znatno večji, če cepimo pred vrhom epidemije (za
    <span class="math inline">\((\alpha, \beta) = (0.3, 0.1)\)</span> je ta ob
    <span class="math inline">\(t \approx 26.6\,\mathrm{dni}\)</span>).
  </figcaption>
</figure>
<h2 id="zajci-in-lisice">Zajci in lisice</h2>
<p>
  Zdaj si bomo pogledali še populacijski model Lotka-Volterra, ki opisuje dinamiko plena (zajci
  <span class="math inline">\(Z\)</span>) in plenilcev (lisice <span class="math inline">\(L\)</span>)
  <span id="eq:LV" class="math display"
    >\begin{equation}\begin{aligned} \dot{Z} &= \alpha Z - \beta ZL, \nonumber \\ \dot{L} &= -\gamma L + \delta ZL.
    \label{eq:LV} \end{aligned}\end{equation}</span
  >
  Uvedli bomo brezdimenzijske količine
  <span class="math display"
    >\[\mathcal{Z}= \frac{Z}{Z_0}, \quad \mathcal{L}= \frac{L}{L_0}, \quad \tau = \frac{t}{t_0},\]</span
  >
  pri čemer sta <span class="math inline">\(Z_0, L_0\)</span> t. i. ravnovesni populaciji plena
  <span id="eq:units" class="math display"
    >\begin{equation}Z_0 = \frac{\delta}{\gamma}, \qquad L_0 = \frac{\alpha}{\beta}.
    \label{eq:units}\end{equation}</span
  >
  Če ju vstavimo v (<a href="#eq:LV" data-reference-type="ref" data-reference="eq:LV">5</a>), ne bo nobene dinamike,
  sistem bo preprosto ostal v tem stanju s konstantnima populacijama zajcev in lisic. V količinah
  <span class="math inline">\((\mathcal{Z}, \mathcal{L}, \tau)\)</span> dobimo nov zapis Lotka-Volterra sistema
  <span class="math display"
    >\[\begin{aligned} \dot{\mathcal{Z}} &amp;= \alpha t_0 \left( \mathcal{Z}- \mathcal{Z}\mathcal{L}\right), \\
    \dot{\mathcal{L}} &amp;= \gamma t_0 \left( \mathcal{Z}\mathcal{L}- \mathcal{L}\right). \end{aligned}\]</span
  >
  Tedaj lahko vpeljemo brezdimenzijski parameter <span class="math inline">\(r\)</span> in karakteristični čas
  <span id="eq:r" class="math display"
    >\begin{equation}r :=\sqrt{\frac{\alpha}{\gamma}}, \qquad t_0 = \frac{1}{\sqrt{\alpha \gamma}}.
    \label{eq:r}\end{equation}</span
  >
</p>
<figure id="fig:oscillations_A">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_A_099.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_A_095.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_A_080.plot.png" />
  </div>
  <figcaption>
    Oscilacije iz (<a href="#eq:dde" data-reference-type="ref" data-reference="eq:dde">4</a>) v vrhu epidemije in
    pojemanje za različne faktorje <span class="math inline">\(\gamma\)</span>. Ko se bližamo
    <span class="math inline">\(\gamma \to \beta\)</span>, epidemija vedno bolj počasi zamira (glej od prve proti
    zadnji sliki). Če je <span class="math inline">\(\gamma = \beta\)</span>, bi se število bolnih preprosto ustalilo pri nekem
    ravnovesju.
  </figcaption>
</figure>
<figure id="fig:oscillations_B">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_B_12d.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_B_24d.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_B_36d.plot.png" />
  </div>
  <figcaption>
    Različno divje oscilacije glede na trajanje imunosti po prebolelosti (zamik
    <span class="math inline">\(\tau_\mathrm{ID}\)</span>). Daljša trajanja imunosti povzročijo oscilatorno obnašanje,
    ki počasneje izzveni.
  </figcaption>
</figure>
<figure id="fig:oscillations_B2">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_B_100d_02.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/oscillations_B_100d_03.plot.png" />
  </div>
  <figcaption>
    Poteka za dve zanimivi izbiri parametrov, kjer jasno opazimo valove v <span class="math inline">\(B(t)\)</span>,
    nekoliko podobno poteku dejanske SARS-CoV epidemije. S primerjavo slik vidimo tudi, da bolj nalezljiv
    virus sproži večje število takšnih valov.
  </figcaption>
</figure>
<p>
  Parameter <span class="math inline">\(r\)</span> označuje razmerje med plodnostjo plena in uspešnostjo plenilcev.
  Majhen <span class="math inline">\(r\)</span> označuje plen, ki se množi relativno počasi, in plenilce, ki so izjemno
  uspešni v lovi na njih. Lotka-Volterra enačbi pa zdaj zavzameta obliko
  <span id="eq:LV-nondim" class="math display"
    >\begin{equation}\begin{aligned} \dot{\mathcal{Z}} &= r \left( \mathcal{Z}- \mathcal{Z}\mathcal{L}\right), \nonumber
    \\ \dot{\mathcal{L}} &= r^{-1} \left( \mathcal{Z}\mathcal{L}- \mathcal{L}\right). \label{eq:LV-nondim}
    \end{aligned}\end{equation}</span
  >
  Za ta sistem lahko zapišemo Jakobian (linearizacijo sistema) za Lotka-Volterra sistem (<a
    href="#eq:LV-nondim"
    data-reference-type="ref"
    data-reference="eq:LV-nondim"
    >8</a
  >)
  <span class="math display"
    >\[J(r, \mathcal{Z}, \mathcal{L}) = \begin{bmatrix} r(1 - \mathcal{L}) &amp; -r\mathcal{Z}\\ r^{-1}\mathcal{L}&amp;
    r^{-1}(\mathcal{Z}- 1) \end{bmatrix}.\]</span
  >
  V stacionarni točki <span class="math inline">\((\mathcal{Z}, \mathcal{L}) = (0, 0)\)</span> je ta Jakobian
  <span class="math display">\[J(r, 0, 0) = \begin{bmatrix} r &amp; 0 \\ 0 &amp; -r^{-1} \end{bmatrix}.\]</span> Vidimo,
  da sta lastni vrednosti <span class="math inline">\(r\)</span> in <span class="math inline">\(-r^{-1}\)</span> vedno
  nasprotnih predznakov, torej imamo v tej točki sedlo. Še posebej za majhne <span class="math inline">\(r\)</span> je
  ob bližanju <span class="math inline">\((0, 0)\)</span> značilna dinamika skorajšnjega izumrtja, kjer plenilci
  praktično iztrebijo plen in od stradanja tudi sami skoraj sami izumrejo (prva slika <a
    href="#fig:phase"
    data-reference-type="ref"
    data-reference="fig:phase"
    >9</a
  >), nato pa sledi dolga faza počasne obnove zaloge plena. V faznem diagramu se vedno bolj bližamo t. i. točki
  izumrtja <span class="math display">\[\text{izumrtje: } T^{-} = (0, 0).\]</span>
</p>
<figure id="fig:phase">
  <div class="center">
    <img width="320"src="/imgs/Fizika/mod1-04-populacije/nondim_phase_01.plot.png" />
    <img width="320"src="/imgs/Fizika/mod1-04-populacije/nondim_phase_10.plot.png" />
    <img width="320"src="/imgs/Fizika/mod1-04-populacije/nondim_phase_100.plot.png" />
  </div>
  <figcaption>
    Fazni diagrami dinamike zajcev in lisic za različne faktorje <span class="math inline">\(r\)</span> (izraz <a
      href="#eq:r"
      data-reference-type="ref"
      data-reference="eq:r"
      >7</a
    >).
  </figcaption>
</figure>
<p>
  To je stacionarna točka, kjer izumrejo tako plen kot tudi plenilci (<span class="math inline"
    >\(\mathcal{Z}= 0\)</span
  >
  in <span class="math inline">\(\mathcal{L}= 0\)</span>, prva slika <a
    href="#fig:phase"
    data-reference-type="ref"
    data-reference="fig:phase"
    >9</a
  >). Če smo točno v <span class="math inline">\((\mathcal{Z}, \mathcal{L}) = (0, 0)\)</span>, nimamo več dinamike,
  saj sta obe vrsti izumrli. A če ostane le en zajec, se bo dinamika ponovila. Taka stacionarna točka je nestabilna, saj
  se za nek poljubno majhen <span class="math inline">\(\varepsilon &gt; 0\)</span> začetna točka
  <span class="math inline">\(T = T^{-} + \varepsilon\)</span> odpelje daleč stran od začetne točka. Za razliko od tega
  je <span class="math display">\[\text{ravnovesje: } T^{+} = (1, 1),\]</span> ki označuje ravnovesje populacij plenilca
  in plena, stabilna stacionarna točka.
  <span id="eq:ravnovesje" class="math display"
    >\begin{equation}\text{ravnovesje: } Z = \frac{\delta}{\gamma}, \quad L = \frac{\alpha}{\beta}.
    \label{eq:ravnovesje}\end{equation}</span
  >
  Za vsak <span class="math inline">\(\delta &gt; 0\)</span> namreč obstaja tak
  <span class="math inline">\(\varepsilon &gt; 0\)</span>, da bo dinamika, ki jo porodi začetna točka
  <span class="math inline">\(T = T^{+} + \varepsilon\)</span> ostala v
  <span class="math inline">\(\delta\)</span> okolici <span class="math inline">\(T^{+}\)</span>. Pripadajoč Jakobian je
  <span class="math display">\[J(r, 0, 0) = \begin{bmatrix} 0 &amp; -r \\ r^{-1} &amp; 0 \end{bmatrix},\]</span> in ker
  so njegove lastne vrednosti iz <span class="math inline">\(\lambda^2 + 1 = 0\)</span> le imaginarne
  <span class="math inline">\(\lambda = \pm i\)</span>, so po teoriji (glej npr. 4. poglavje v <span
    class="citation"
    data-cites="ode-theory1979"
    >[<a href="#ref-ode-theory1979" role="doc-biblioref">3</a>]</span
  >) trajektorije v okolici te točke cikli podobni krožnicam. To tudi vidimo na slikah <a
    href="#fig:phase"
    data-reference-type="ref"
    data-reference="fig:phase"
    >9</a
  >. Časovne poteke takih trajektorij vidimo v drugi (časovni) obliki na <a
    href="#fig:by_t"
    data-reference-type="ref"
    data-reference="fig:by_t"
    >11</a
  >.
</p>
<h3 id="odvisnost-časovne-periode">Odvisnost časovne periode</h3>
<p>
  Različne trajektorije, ki označujejo različne <span class="math inline">\(r\)</span> oz. različne začetne pogoje imajo
  različne obhodne čase. Seveda je v analogiji z krožnico pričakovano, da je bodo zaključene trajektorije, ki potekajo
  dlje od stacionarne točke <span class="math inline">\((1, 1)\)</span>, imele daljši obhodni čas (manjši
  <span class="math inline">\(\mathcal{Z}_0\)</span> ob <span class="math inline">\(\mathcal{L}_0 = 1\)</span> pomeni
  večji obhodni čas, glej sliko <a href="#fig:periods" data-reference-type="ref" data-reference="fig:periods">10</a>).
  Poleg tega pa je ta odvisnost mnogo bolj izražena (obhodni časi so večji in predvsem hitreje naraščajo z manjšim
  <span class="math inline">\(\mathcal{Z}_0\)</span> ob <span class="math inline">\(\mathcal{L}_0 = 1\)</span>, spet
  glej sliko <a href="#fig:periods" data-reference-type="ref" data-reference="fig:periods">10</a>).
</p>
<h3 id="poseg-v-okolje-časovno-odvisni-parametri">Poseg v okolje, časovno odvisni parametri</h3>
<p>
  Poglejmo si, kako se sistem odzove na poseg v okolje, npr. večje izobilje hrane za plen. Pri tem se poveča
  <span class="math inline">\(\alpha\)</span> faktor, kar bomo v brezdimenzijskem sistemu modelirali z časovno odvisnim
  <span class="math inline">\(A(\tau)\)</span>, kot v enačbi
  <span id="eq:LV-nondim-A" class="math display"
    >\begin{equation}\begin{aligned} \dot{\mathcal{Z}} &= r \left( A(\tau) \mathcal{Z}- \mathcal{Z}\mathcal{L}\right),
    \nonumber \\ \dot{\mathcal{L}} &= r^{-1} \left( \mathcal{Z}\mathcal{L}- \mathcal{L}\right). \label{eq:LV-nondim-A}
    \end{aligned}\end{equation}</span
  >
  Že iz brezdimenzijskih enot <span class="math inline">\(L_0\)</span> in
  <span class="math inline">\(Z_0\)</span> (enačba (<a
    href="#eq:units"
    data-reference-type="ref"
    data-reference="eq:units"
    >6</a
  >)), še lepše pa iz faznega diagrama (prva slika <a
    href="#fig:equillibrium_shift"
    data-reference-type="ref"
    data-reference="fig:equillibrium_shift"
    >12</a
  >) se vidi, da bo sprememba <span class="math inline">\(\alpha\)</span> (ali pa
  <span class="math inline">\(\beta\)</span>) nekoliko neintuitivno vplivala le pa populacijo plenilcev. Boljši pogoji
  za plen se torej prevedejo le na boljše pogoje za plenilce. Obratno bi bolj dolgoživ plenilec pomenil le povečanje
  populacije plena.
</p>
<h3 id="nosilnost-okolja-za-plen-in-sitost-plenilcev">Nosilnost okolja za plen in sitost plenilcev</h3>
<p>
  V model želimo vključiti nekaj dodatnih realističnih obnašanj, ki bi jih lahko pričakovali v takem biološkem sistemu.
  Prvo upoštevamo končno nosilnost (ang. <em>carrying capacity</em>) okolja za populacijo plena
  <span class="math inline">\(K\)</span>. Člen, ki označuje razmnoževanje plena torej dopolnimo kot
  <span class="math display">\[\mathcal{Z}\to \mathcal{Z}\left( 1 - \frac{\mathcal{Z}}{K} \right).\]</span> Tako se bo
  za <span class="math inline">\(\mathcal{Z}\to K\)</span> plen vedno manj učinkovito množil, saj morajo posamezniki
  (zajci) v populaciji tekmovati med sabo za potrebne vire.
  <span class="math display"
    >\[\mathcal{Z}\mathcal{L}\to \mathcal{Z}\mathcal{L}\left( \frac{1}{1 + \mathcal{Z}/ C} \right),\]</span
  >
  pri čemer smo dodali faktor <span class="math inline">\(\left( \frac{1}{1 + \mathcal{Z}/C} \right)\)</span>, ki se
  zasiči za <span class="math inline">\(\mathcal{Z}\ll C\)</span> in tako modelira <em>diminishing return</em> vrednost
  dodatnega plena, ko je plenilec že sit. Lotka-Volterra sistem zdaj dobi obliko
  <span id="eq:LV-improved" class="math display"
    >\begin{equation}\begin{aligned} \dot{\mathcal{Z}} &= r \left( \mathcal{Z}\left( 1 - \frac{\mathcal{Z}}{K} \right) -
    \frac{\mathcal{Z}\mathcal{L}}{1 + \mathcal{Z}/ C} \right), \nonumber \\ \dot{\mathcal{L}} &= r^{-1} \left(
    \frac{\mathcal{Z}\mathcal{L}}{1 + \mathcal{Z}/ C} - \mathcal{L}\right). \label{eq:LV-improved}
    \end{aligned}\end{equation}</span
  >
  Za tako modificiran Lotka-Volterra sistem imamo namesto dveh stacionarnih točk
  <span class="math inline">\((0, 0)\)</span> in <span class="math inline">\((1, 1)\)</span> zdaj nov set treh
  stacionarnih točk. Še vedno je prisotna fiksna točka izumrtja <span class="math inline">\((0, 0)\)</span>, prisotna pa
  je tudi stacionarna točka <span class="math inline">\((K, 0)\)</span>, kjer je populacija zajcev
  <span class="math inline">\(\mathcal{Z}= K\)</span> enaka nosilnosti okolja, plenilca pa ni. Za dinamiko sistema pa je
  pomembna stacionarna točka
  <span id="eq:B" class="math display"
    >\begin{equation}B = \left( \frac{C}{C - 1}, \frac{C (KC - K - C)}{K(C-1)^2} \right),
    \label{eq:B}\end{equation}</span
  >
  ki v grobem prevzame vlogo stacionarne točke ravnovesja (točka <span class="math inline">\(+\)</span> oz.
  <span class="math inline">\((1, 1)\)</span>, glej enačbo (<a
    href="#eq:ravnovesje"
    data-reference-type="ref"
    data-reference="eq:ravnovesje"
    >9</a
  >)). A točka <span class="math inline">\(B\)</span> je zdaj odvisna od parametrov
  <span class="math inline">\(K, C\)</span>, dinamika v njeni okolici pa je bolj zanimiva. Zapišemo njen Jakobian
  <span class="math display"
    >\[J_B = J(r, \mathcal{Z}_B, \mathcal{L}_B) = \begin{bmatrix} r \left( 1 - \frac{2\mathcal{Z}}{K} - \frac{C^2
    \mathcal{L}}{(\mathcal{Z}+ C)^2} \right) &amp; -\frac{rC \mathcal{Z}}{\mathcal{Z}+ C} \\ \frac{C^2 \mathcal{L}}{r (C
    + \mathcal{Z})^2} &amp; \frac{C\mathcal{Z}- C - \mathcal{Z}}{r(C + \mathcal{Z})} \end{bmatrix}.\]</span
  >
</p>
<figure id="fig:periods">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-04-populacije/periods.plot.png" style="width: 95%" />
  </div>
  <figcaption>
    Odvisnost obhodne periode od začetnega pogoja <span class="math inline">\(\mathcal{Z}_0\)</span>, pri tem da je
    <span class="math inline">\(\mathcal{L}_0\)</span> stalno ravnovesni
    <span class="math inline">\(\mathcal{L}_0 = 1\)</span>. Za velik <span class="math inline">\(r\)</span> ali
    <span class="math inline">\(\mathcal{Z}_0 \to 1^{-}\)</span> so trajektorije v faznem prostoru skoraj krožnice, in
    obhodni čas je tedaj <span class="math inline">\(T_{2\pi} \to 2\pi\)</span>.
  </figcaption>
</figure>
<p>
  Na podlagi lastnih vrednosti <span class="math inline">\(\lambda_i\)</span> tega Jakobiana bomo karakterizirali
  obnašanje okoli točke <span class="math inline">\(B\)</span>. Glede na rešitve karakterističnega polinoma
  <span id="eq:quadratic" class="math display"
    >\begin{equation}p_B(\lambda) = 1 - \frac{1}{C} - \frac{1}{K} + \frac{r(C + C^2 + K - CK)\lambda}{(C-1)CK} +
    \lambda^2 = 0, \label{eq:quadratic}\end{equation}</span
  >
  ločimo tri možnosti <span class="citation" data-cites="ode-theory1979"
    >[<a href="#ref-ode-theory1979" role="doc-biblioref">3</a>]</span
  >
</p>
<ol>
  <li>
    <p>
      Vse lastne vrednosti vrednosti <span class="math inline">\(\lambda_i \in \mathbb{R}\)</span>. Tedaj je točka
      fiksna točka, njena stabilnost pa je določena s pozitivno definitnostjo Jakobiana. Za kvadratni karakteristični
      polinom <span class="math inline">\(p_B(\lambda)\)</span> je to ekvivalentno
      <span class="math inline">\(D &gt; 0\)</span> (izraz (<a
        href="#eq:disc"
        data-reference-type="ref"
        data-reference="eq:disc"
        >14</a
      >), območje narisano z rdečo na tretji sliki <a href="#fig:big" data-reference-type="ref" data-reference="fig:big">14</a>).
    </p>
  </li>
  <li>
    <p>
      Vse lastne vrednosti <span class="math inline">\(\lambda_i \in \mathbb{C}\)</span> in
      <span class="math inline">\(\Re(\lambda_i) &gt; 0\)</span>. Tedaj so trajektorije
      <strong>spirale navzven iz fiksne točke</strong>. Ravno tu opazimo limitne cikle, kot je to jasno ilustrirano na
      sliki <a href="#fig:big" data-reference-type="ref" data-reference="fig:big">14</a> za modro pobarvano območje.
    </p>
  </li>
  <li>
    <p>
      Vse lastne vrednosti <span class="math inline">\(\lambda_i \in \mathbb{C}\)</span> in
      <span class="math inline">\(\Re(\lambda_i) &lt; 0\)</span>. Tedaj so trajektorije
      <strong>spirale v fiksno točko</strong>. To je spet jasno ilustrirano na tretji sliki <a
        href="#fig:big"
        data-reference-type="ref"
        data-reference="fig:big"
        >14</a
      >
      za nepobarvano območje med rdečim in modrim.
    </p>
  </li>
</ol>
<p>
  Te tri možnosti bomo ločili z uporabi diskriminante za (<a
    href="#eq:quadratic"
    data-reference-type="ref"
    data-reference="eq:quadratic"
    >13</a
  >)
  <span id="eq:disc" class="math display"
    >\begin{equation}D = \frac{4CK(C+K - CK) + \frac{r^2}{(C-1)^2} (C + C^2 + K - CK)}{C^2 K^2},
    \label{eq:disc}\end{equation}</span
  >
  ki jo uprizorimo na sliki <a href="#fig:big" data-reference-type="ref" data-reference="fig:big">14</a> desno spodaj z
  rdečim območjem <span class="math inline">\(D &gt; 0\)</span>. Da ločimo spirale navznoter in spirale navzven bomo
  uporabili tudi količino, ki je sorazmerna <span class="math inline">\(\Re(\lambda_i)\)</span>, sicer
  <span class="math display">\[\Re(\lambda_i) \propto - C- K + CK + C^2,\]</span> kar narišemo kot modro območje
  <span class="math inline">\(\Re(\lambda_i) &lt; 0\)</span> na sliki <a
    href="#fig:big"
    data-reference-type="ref"
    data-reference="fig:big"
    >14</a
  >
  desno spodaj.
</p>
<h3 id="limitni-cikli">Limitni cikli</h3>
<p>
  Na podlagi diskriminante in kriterija <span class="math inline">\(\Re(\lambda_i) &lt; 0\)</span> lahko zdaj opazimo,
  kdaj se v faznem poteku pojavijo limitni cikli. Na sliki <a
    href="#fig:big"
    data-reference-type="ref"
    data-reference="fig:big"
    >14</a
  >
  so narisani fazni diagrami , t. j. izven območje <span class="math inline">\(D &gt; 0\)</span> in hkrati v območju
  <span class="math inline">\(\Re(\lambda_i) &lt; 0\)</span>.
</p>
<figure id="fig:by_t">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/nondim1.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/nondim2.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/nondim3.plot.png" />
  </div>
  <figcaption>
    Časovni poteki za konkretne začetne pogoje in parametre <span class="math inline">\(r\)</span> iz slik <a
      href="#fig:phase"
      data-reference-type="ref"
      data-reference="fig:phase"
      >9</a
    >. Pri vsakem je zgoraj desno prikazana tudi trajektorija v faznem prostoru.
  </figcaption>
</figure>
<figure id="fig:equillibrium_shift">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/phase_equillibrium_shift.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/nondim4.plot.png" />
  </div>
  <figcaption>
    (Prvo) Fazne trajektorije ob časovno odvisnem reproduktivnem faktorju člena
    <span class="math inline">\(A(\tau) = 1 + \frac{1}{1 + e^{-10(\tau - 5)}}\)</span>. Vidimo, da se fiksna točka
    (ekvilibrijska) zamakne za faktor <span class="math inline">\(A\)</span> proti večji koncentraciji plenilcev.
    (Drugo) Časovni potek za en začetni pogoj.
  </figcaption>
</figure>
<figure id="fig:limit_cycle">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/phase_improved.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/phase_spiral.plot.png" />
  </div>
  <figcaption>
    Fazna poteka za izboljšan model (<a href="#eq:LV-improved" data-reference-type="ref" data-reference="eq:LV-improved"
      >11</a
    >). (Prvo) Približevanje limitnemu ciklu (parametri <span class="math inline">\((r, K, C) = (0.5, 7, 3)\)</span>) za
    dva začetna pogoja. (Drugo) Spiralo približevanje fiksni točki <span class="math inline">\(B\)</span> za dva začetna
    pogoja (parametri <span class="math inline">\((r, K, C) = (0.5, 4, 3)\)</span>).
  </figcaption>
</figure>
<figure id="fig:big">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-04-populacije/big.plot.png" />
  </div>
  <figcaption>
    Prikaz potekov v faznem prostoru za različne <span class="math inline">\((K,C)\)</span> in za
    <span class="math inline">\(r = 0.5\)</span>. Označene so fiksne točke
    <span class="math inline">\(B = B(K, C)\)</span> (enačba (<a
      href="#eq:B"
      data-reference-type="ref"
      data-reference="eq:B"
      >12</a
    >)), kateri se nekateri fazne trajektorije spiralno približujejo, druge pa se ji oddaljujejo. Za tiste, ki se točki
    <span class="math inline">\(B\)</span> oddaljujejo, opazimo limitne cikle (označeni z rdečo). (Desno spodaj)
    Označene točke <span class="math inline">\((K, C)\)</span>, za katere smo narisali fazne diagrame. Z rdečo je
    označeno področje pozitivne diskriminante karakterističnega polinoma (<a
      href="#eq:quadratic"
      data-reference-type="ref"
      data-reference="eq:quadratic"
      >13</a
    >). Z modro je označeno območje, kjer ima (<a
      href="#eq:quadratic"
      data-reference-type="ref"
      data-reference="eq:quadratic"
      >13</a
    >) realen del rešitve pozitiven.
  </figcaption>
</figure>
<figure id="fig:categorisation">
  <div class="center">
    <div class="center">
      <img width="400" src="/imgs/Fizika/mod1-04-populacije/categorisation.plot.png" />
      <img width="400" src="/imgs/Fizika/mod1-04-populacije/categorisation_mean.plot.png" />
      <img width="400" src="/imgs/Fizika/mod1-04-populacije/categorisation_dev.plot.png" />
    </div>
  </div>
  <figcaption></figcaption>
</figure>
<h2 id="fotoni-v-laserju">Fotoni v laserju</h2>
<p>
  Laser opišemo kot snov, sestavljeno iz števila atomov <span class="math inline">\(a\)</span>, ki jo stalno vzbujamo,
  pri tem pa vzbujena stanja <span class="math inline">\(a\)</span> stalno prehajajo nazaj v osnovna stanja s tem, da
  oddajo fotone svetlobe <span class="math inline">\(f\)</span>. To opisuje sistem dveh navadnih diferencialnih enačb
  <span id="eq:laser" class="math display"
    >\begin{equation}\begin{aligned} \dot{a} &= R - B_2 fa - \beta a, \nonumber \\ \dot{f} &= -\alpha f + B_1 fa.
    \label{eq:laser} \end{aligned}\end{equation}</span
  >
  Ta sistem ima dve fiksni točki. Prva je točka, kjer imamo zgolj atome (<span class="math inline">\(f = 0\)</span>),
  saj vzbujena stanja ustvarjamo ravno dovolj hitro, da kompenziramo razpadanje
  <span class="math display">\[\text{nezadostno črpanje brez fotonov: } \left( \frac{R}{\beta}, 0 \right).\]</span>
  Druga kritična točka <span class="math inline">\((a, f)\)</span> je
  <span class="math display"
    >\[\text{ravnovesna fiksna točka } C = \left( \frac{B_1 R - \alpha\beta}{B_2 \alpha}, \frac{\alpha}{B_1}
    \right),\]</span
  >
  na podlagi katere bomo izbrali nove karakteristične dimenzije
  <span class="math display"
    >\[R_0 = \frac{\alpha\beta}{B_1}, \quad A_0 = \frac{\alpha}{B_1}, \quad F_0 = \frac{\beta}{B_2}, \quad t_0 =
    \frac{1}{\beta},\]</span
  >
  s katerimi vpeljemo brezdimenzijske količine
  <span class="math display"
    >\[R = R_0 r, \quad a = A_0 \mathcal{A}, \quad f = F_0 \mathcal{F}, \quad t = t_0 \tau,\]</span
  >
  v katerih sistem enačb (<a href="#eq:laser" data-reference-type="ref" data-reference="eq:laser">15</a>) ob uvedbi
  <span class="math display">\[q = \frac{\alpha}{\beta},\]</span> zavzame obliko
  <span id="eq:laser-nondim" class="math display"
    >\begin{equation}\begin{aligned} \dot{\mathcal{A}} = r - \mathcal{F}\mathcal{A} - \mathcal{A}, \nonumber \\
    \dot{\mathcal{F}} = q \left( \mathcal{F}\mathcal{A} - \mathcal{F} \right). \label{eq:laser-nondim}
    \end{aligned}\end{equation}</span
  >
</p>
<figure id="fig:laser_rsub">
  <div class="center">
    <img width="280" src="/imgs/Fizika/mod1-04-populacije/laser_rsub1.plot.png" />
    <img width="280" src="/imgs/Fizika/mod1-04-populacije/laser_rsub3.plot.png" />
    <img width="280" src="/imgs/Fizika/mod1-04-populacije/laser_rsub2.plot.png" />
  </div>
  <figcaption>
    Fazni poteki sistema (<a href="#eq:laser-nondim" data-reference-type="ref" data-reference="eq:laser-nondim">16</a>)
    za <span class="math inline">\(q = 2\)</span> in različne <span class="math inline">\(r\)</span>. Slika je narisana
    tako, da za naključne začetne točke v faznem prostoru enačbo rešujemo naprej, nato pa še nazaj v času. Rešitve v
    času naprej so narisane v modro-zelenih, časovno obrnjene rešitve pa v oranžno-vijoličnih barvah. Tako je po zelenih
    barvah takoj vizualno jasno, kam se sistem razvija. (Prvo) Primer za
    <span class="math inline">\(r = 5 &gt; 1\)</span>. Vidimo, da se sistem razvija k ravnovesnemu
    <span class="math inline">\(C\)</span>, kjer imamo število fotonov <span class="math inline">\(f \propto R\)</span>.
    (Drugo) Primer za <span class="math inline">\(r = 0.5 &lt; 1\)</span>. Za razliko od
    <span class="math inline">\(r &gt; 1\)</span> se sistem razvija k ravnovesni fiksni točki
    <span class="math inline">\((r, 0)\)</span>, kjer ni prisotnih nobenih fotonov. (Tretje) Prehodni primer z
    <span class="math inline">\(r = 1\)</span>.
  </figcaption>
</figure>
<p>
  V novih brezdimenzijskih <span class="math inline">\((\mathcal{A}, \mathcal{F})\)</span> sta fiksni točki podani kot
  <span class="math display"
    >\[\begin{aligned} \text{nezadostno črpanje brez fotonov: } \left( r, 0 \right), \\ \text{ravnovesna fiksna točka }
    C = \left( 1, r-1 \right). \end{aligned}\]</span
  >
  Jakobian v fiksni točki <span class="math inline">\((r, 0)\)</span> je
  <span class="math display">\[J(r, 0) = \begin{bmatrix} -1 &amp; -r \\ 0 &amp; q(r-1) \end{bmatrix},\]</span> za kar
  preprosto izračunamo diagonalizacijo
  <span class="math display"
    >\[J(r, 0) = P \begin{bmatrix} -1 &amp; 0 \\ 0 &amp; q(r-1) \end{bmatrix} P^{-1}, \quad P = \begin{bmatrix} 1 &amp;
    0 \\ \frac{-r}{1 - q + qr} &amp; 1 \end{bmatrix},\]</span
  >
  na podlagi katere lahko za fiksno točko ločimo naslednje možnosti:
</p>
<ol>
  <li>
    <p>
      Če je <span class="math inline">\(r &gt; 1\)</span>, je <span class="math inline">\((r, 0)\)</span> sedlo in
      nestabilna fiksna točka sistema (<a
        href="#eq:laser-nondim"
        data-reference-type="ref"
        data-reference="eq:laser-nondim"
        >16</a
      >). Glej prvo sliko <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub">16</a>.
    </p>
  </li>
  <li>
    <p>
      Če je <span class="math inline">\(r &lt; 1\)</span>, je <span class="math inline">\((r, 0)\)</span> stabilna
      fiksna točka sistema (<a href="#eq:laser-nondim" data-reference-type="ref" data-reference="eq:laser-nondim">16</a
      >). Glej drugo sliko <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub">16</a>.
    </p>
  </li>
  <li>
    <p>
      Če je <span class="math inline">\(r = 1\)</span>, je <span class="math inline">\((1, 0)\)</span> sedlo za
      Gaussovsko ukrivljenostjo 0. Tedaj je tudi druga fiksna točka <span class="math inline">\(C\)</span> ista točka.
      Glej tretjo sliko <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub">16</a>.
    </p>
  </li>
</ol>
<figure id="fig:qset">
  <div class="center">
      <img width="600" src="/imgs/Fizika/mod1-04-populacije/laser_qset.plot.png"  />
      <img width="600" src="/imgs/Fizika/mod1-04-populacije/laser_qset2.plot.png" />
  </div>
  <figcaption>
    (Zgoraj) Poteka za različne <span class="math inline">\(q\)</span> pri
    <span class="math inline">\(r = 1.5\)</span> in <span class="math inline">\(r = 5\)</span> in pri začetnemu pogoju
    <span class="math inline">\((\mathcal{A}_0, \mathcal{F}_0) = (3, 10^{-6})\)</span>. Tak potek predstavlja vklop
    laserja, kjer začnemo z majhno populacijo fotonov. V modri, črni in rdeči barvi so narisani poteki za
    <em>underdamped</em>, <em>critically damped</em> in <em>overdamped</em> potek, ki ustreza
    <span class="math inline">\(q\)</span> vrednostim okoli kritičnega <span class="math inline">\(q = 1\)</span>. To
    lahko vidimo tudi na sliki <a href="#fig:rsub2" data-reference-type="ref" data-reference="fig:rsub2">18</a>.
    (Spodaj) Poteka za različne <span class="math inline">\(q\)</span> pri
    <span class="math inline">\(r = 1.5\)</span> in <span class="math inline">\(r = 5\)</span> in pri začetnemu pogoju
    <span class="math inline">\((\mathcal{A}_0, \mathcal{F}_0) = (0, 5)\)</span>.
  </figcaption>
</figure>
<p>
  Iz slike <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub">16</a> lahko vidimo, da
  ima sistem v točkah <span class="math inline">\((r, 0)\)</span> in točki <span class="math inline">\(C\)</span> dve
  ravnovesji. Kateremu ravnovesju se približuje v <span class="math inline">\(t \to \infty\)</span> pa je odvisno
  predvsem od moči črpanja. Za črpanja <span class="math inline">\(r &gt; 1\)</span> se bo laser približeval točki
  <span class="math inline">\(C\)</span>, v kateri imamo neko število fotonov
  <span class="math inline">\(\mathcal{F} = r-1\)</span>. Potek približevanja temu ravnovesju za različne
  <span class="math inline">\(q\)</span> lahko vidimo na sliki <a
    href="#fig:qset"
    data-reference-type="ref"
    data-reference="fig:qset"
    >17</a
  >. Nasprotno bo za šibko črpanje <span class="math inline">\(r &lt; 1\)</span> pa bo populacija fotonov ne glede na
  začetno zamrla proti 0 (npr. slika <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub"
    >16</a
  >).
</p>
<p>
  To lahko vidimo tudi iz analize fiksne točke <span class="math inline">\(C = (1, r-1)\)</span>, v kateri je
  karakteristični polinom Jakobiana <span class="math display">\[\lambda^2 + r\lambda + qr - q = 0,\]</span> iz česar
  lahko določimo lastni vrednosti
  <span class="math display">\[\lambda_{1,2} = -\frac{r}{2} \pm \sqrt{q - qr + \frac{q^2}{4}}.\]</span> Prvo
  predpostavimo, da je diskriminanta v tej rešitvi pozitivna. Če zapišemo diskriminanto pod korenom kot
  <span class="math inline">\(r^2 - q(r-1)\)</span>, je jasno, da velja:
</p>
<ol>
  <li>
    <p>
      Za <span class="math inline">\(r &gt; 1\)</span> sta <span class="math inline">\(\lambda_{1,2} &lt; 0\)</span> in
      je <span class="math inline">\(C\)</span> stabilna fiksna točka. Glej prvo sliko <a
        href="#fig:laser_rsub"
        data-reference-type="ref"
        data-reference="fig:laser_rsub"
        >16</a
      >.
    </p>
  </li>
  <li>
    <p>
      Za <span class="math inline">\(r &lt; 1\)</span> sta <span class="math inline">\(\lambda_{1} &gt; 0\)</span>,
      <span class="math inline">\(\lambda_{2} &lt; 0\)</span> in je <span class="math inline">\(C\)</span> nestabilna
      fiksna točka. Glej drugo sliko <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub"
        >16</a
      >.
    </p>
  </li>
  <li>
    <p>
      Za <span class="math inline">\(r = 1\)</span> imamo zopet degenerirani primer, kjer sta obe fiksni točki enaki
      (tretja slika <a href="#fig:laser_rsub" data-reference-type="ref" data-reference="fig:laser_rsub">16</a>).
    </p>
  </li>
</ol>
<p>
  Kako pa interpretiramo Jakobian, če je diskriminanta negativna, t. j. da je
  <span class="math display">\[q &gt; \frac{r^2}{4(r-1)}.\]</span> Tedaj imamo lastni vrednosti z
  <span class="math inline">\(\Re(\lambda_{1,2}) &lt; 0\)</span> in neničelnim imaginarnim delom
  <span class="math inline">\(\Im(\lambda_{1,2}) \ne 0\)</span>. Taka lastna vrednost narekuje, se trajektorije točki
  <span class="math inline">\(C\)</span> približujejo spiralno, ne več kot trajektorije ki so asimptotsko vzporedne z
  enim od lastnih vektorjev Jakobiana v <span class="math inline">\(C\)</span>. Ta sprememba je vidna na sliki <a
    href="#fig:rsub2"
    data-reference-type="ref"
    data-reference="fig:rsub2"
    >18</a
  >.
</p>
<figure id="fig:rsub2">
  <div class="center">
    <img width="280" src="/imgs/Fizika/mod1-04-populacije/laser_rsub_S4.plot.png" />
    <img width="280" src="/imgs/Fizika/mod1-04-populacije/laser_rsub_S1.plot.png" />
    <img width="280" src="/imgs/Fizika/mod1-04-populacije/laser_rsub_S2.plot.png" />
  </div>
  <figcaption>
    Vpliv različnih <span class="math inline">\(q\)</span> na fazne poteke pri
    <span class="math inline">\(r =5\)</span>. Pri <span class="math inline">\(q = 1\)</span> se zgodi prehod med
    <span class="math inline">\(q &gt; 1\)</span> režimom (Tretja slika), kjer overshootamo in iznihamo v ravnovesje in režimom
    <span class="math inline">\(q &lt; 1\)</span> (Prva slika), kjer nihanja sploh ni (nekakšno podkritično dušeno,
    <em>underdamped</em> obnašanje).
  </figcaption>
</figure>
<figure id="fig:rset">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-04-populacije/laser_rset.plot.png" />
  </div>
  <figcaption>
    Časovni poteki za <span class="math inline">\(q = 3\)</span> in <span class="math inline">\(q = 8\)</span> in
    različne moči črpanja <span class="math inline">\(r\)</span>. Vidimo, kako se spreminja ravnovesna vrednost
    <span class="math inline">\(\mathcal(\tau \to \infty) = r - 1\)</span>.
  </figcaption>
</figure>
<figure id="fig:envelope">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-04-populacije/envelope.plot.png" />
    <img width="340" src="/imgs/Fizika/mod1-04-populacije/beats_by_qr.plot.png" />
  </div>
  <figcaption>
    Analiza nihanj ob vklopu laserja. (Prvo) V črni vidimo za
    <span class="math inline">\((q, r) = (10, 2)\)</span> funkcijo
    <span class="math inline">\(\widetilde{\mathcal{F}}(\tau) :=\mathcal{F}(\tau) - r + 1\)</span>, ki opisuje
    tranzitivni presežek nad ravnovesno vrednost <span class="math inline">\(r - 1\)</span>. To funkcijo nato razstavimo
    preko Hilbertove transformacije <span class="math inline">\(\mathcal{H}\)</span> na oscilatorno fazo in ovojnico
    (magnitudo). (Druga slika zgoraj) Za parametra <span class="math inline">\((q, r)\)</span> prešteto število
    <span class="math inline">\(6\pi\)</span> skokov v fazi
    <span class="math inline">\(\mathcal{H}(\widetilde{\mathcal{F}}(\tau))\)</span>. (Druga slika spodaj) Za parametra
    <span class="math inline">\((q, r)\)</span> povprečna perioda med posameznimi
    <span class="math inline">\(6\pi\)</span> skoki v fazi
    <span class="math inline">\(\mathcal{H}(\widetilde{\mathcal{F}}(\tau))\)</span>.
  </figcaption>
</figure>
<h1 class="unnumbered" id="bibliography">Viri</h1>
<div id="refs" class="references csl-bib-body" data-entry-spacing="0" role="list">
  <div id="ref-bbc2021" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[1]</div>
    <div class="csl-right-inline">
      J. Gallagher, <span>„Covid: Is there a limit to how much worse variants can get?“</span>, <em>BBC</em>, jun. 2021,
      Dostopno na: <a href="https://www.bbc.com/news/health-57431420">https://www.bbc.com/news/health-57431420</a>.
      [Pridobljeno: 25. oktober 2024]
    </div>
  </div>
  <div id="ref-ebraheem2021delayed" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[2]</div>
    <div class="csl-right-inline">
      H. K. Ebraheem, N. Alkhateeb, H. Badran, in E. Sultan, <span>„Delayed dynamics of SIR model for COVID-19“</span>,
      <em>Open Journal of Modelling and Simulation</em>, let. 9, št. 2, str. 146–158, 2021.
    </div>
  </div>
  <div id="ref-ode-theory1979" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[3]</div>
    <div class="csl-right-inline">
      D. A. Sanchez, <em>Ordinary differential equations and stability theory: An introduction</em>. Dover Publications,
      1979.
    </div>
  </div>
</div>
