<h1>Modelska analiza 102</h1>
<h1 class="subtitle">Linearno programiranje za reševanje problema idealna diete</h1>
<h2 id="navodila">Navodila</h2>
<p>
  Med tipične primere, ki jih lahko učinkovito rešimo z metodami linearnega programiranja, sodi sestavljanje diet za
  hujšanje, zdravljenje ali športne aktivnosti. Za dani nabor živil določamo njihove količine, pri čemer moramo
  zadostiti različnim omejitvam. Med drugim moramo zagotoviti priporočene dnevne odmerke mineralov, vitaminov in
  hranilnih snovi, omejiti pri vnos maščob, ogljikovih hidratov ter telesu škodljivih snovi, hkrati pa zagotoviti, da
  energijska vrednost ustreza zahtevam posameznika. Vnos vsake izmed hranilnih snovi je linearna funkcija količin živil
  in je natanko določena z njihovo sestavo. Od vrste diete pa je odvisno, katere parametre omejimo in katere
  minimiziramo. Datoteka <code>tabela-zivil.dat</code> vsebuje podatke o energijski vrednosti ter vsebnosti maščob,
  ogljikovih hidratov, proteinov, kalcija in železa v nekaj živilih, skupaj z okvirnimi podatki o njihovi ceni.
</p>
<h2 id="rešitev">Rešitev</h2>
<p>
  Sestava diete je povsem specificirana z masami vsakega izmed tipov hrane, ki jih uživamo. Imenujmo to za vektor
  <span class="math display"
    >\[\mathbf{x} = \begin{bmatrix} x_1 \\ x_2 \\ x_3 \\ \vdots \end{bmatrix} = \begin{bmatrix} m_\mathrm{jabolko} \\
    m_\mathrm{pomfri} \\ m_\mathrm{govedina} \\ \vdots \end{bmatrix}.\]</span
  >
  Za našo dieto imamo nekaj linearnih zahtev, npr. želimo, da dieta zagotovi zadosten vnos železa. To izrazimo kot
  linearno vez
  <span id="eq:vez" class="math display"
    >\begin{equation}\begin{aligned} m_{\mathrm{Fe}} &= w^\mathrm{Fe}_\mathrm{jabolko} m_\mathrm{jabolko} +
    w^\mathrm{Fe}_\mathrm{pomfri} m_\mathrm{pomfri} + w^\mathrm{Fe}_\mathrm{govedina} m_\mathrm{govedina} + \dots
    \nonumber \\ &\le 18\,\mathrm{mg}, \label{eq:vez} \end{aligned}\end{equation}</span
  >
  pri čemer so <span class="math inline">\(w^\mathrm{Fe}\)</span> specifične (na
  <span class="math inline">\(100\,\mathrm{g}\)</span>) vsebnosti železa v tem konkretnem živilu (npr.
  <span class="math inline">\(1.94\,\mathrm{mg}/100\,\mathrm{g}\)</span> za govedino). Take specifične vsebnosti
  <span class="math inline">\(w^i_j\)</span> za hranilne snovi <span class="math inline">\(i\)</span> in živila, ki jih
  vsebujejo <span class="math inline">\(j\)</span>, imamo podane v <code>tabela-zivil.dat</code>, ilustrirano pa z nekaj
  podatki v tabeli <a href="#tab:data" data-reference-type="ref" data-reference="tab:data">1</a>.
</p>
<figure>
  <div class="center">
    <table>
      <thead>
        <tr class="header">
          <th style="text-align: center">živilo</th>
          <th style="text-align: right">energija <span class="math inline">\([\mathrm{kcal}]\)</span></th>
          <th style="text-align: right">maščobe <span class="math inline">\([\mathrm{g}]\)</span></th>
          <th style="text-align: right"><span class="math inline">\(\mathrm{Fe}\,[\mathrm{mg}]\)</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="odd">
          <td style="text-align: center">Jabolko</td>
          <td style="text-align: right">52</td>
          <td style="text-align: right">0.17</td>
          <td style="text-align: right">0.12</td>
        </tr>
        <tr class="even">
          <td style="text-align: center">Pomfri</td>
          <td style="text-align: right">93</td>
          <td style="text-align: right">12</td>
          <td style="text-align: right">0.35</td>
        </tr>
        <tr class="odd">
          <td style="text-align: center">Govedina</td>
          <td style="text-align: right">254</td>
          <td style="text-align: right">20</td>
          <td style="text-align: right">1.94</td>
        </tr>
      </tbody>
    </table>
  </div>
  <figcaption>Majhen vzorec podatkov iz tabele <code>tabela-zivil.dat</code>.</figcaption>
</figure>
<p>
  Vez (<a href="#eq:vez" data-reference-type="ref" data-reference="eq:vez">1</a>) lahko izrazimo tudi kot skalarni
  produkt <span class="math display">\[\mathbf{w}_\mathrm{Fe}^T \mathbf{x} \le 18\,\mathrm{mg},\]</span> pri čemer je
  <span class="math inline">\(\mathbf{w}_\mathrm{Fe}\)</span> vektor vsebnosti železa za vsa popisana živila (torej
  stolpec tabele <a href="#tab:data" data-reference-type="ref" data-reference="tab:data">1</a> pod
  <span class="math inline">\(\mathrm{Fe}\)</span>). Pravzaprav specificiramo poljubno takih vezi, skupno pa to zapišemo
  v matrični obliki. Npr. če želimo omejiti železo in natrij kot
  <span class="math display"
    >\[m_\mathrm{Fe} \ge 18\,\mathrm{mg}, \qquad 500\,\mathrm{mg} \le m_\mathrm{Na} \le 2400\,\mathrm{mg},\]</span
  >
  lahko vse to izrazimo ekvivalentno v matrični obliki<a href="#fn1" class="footnote-ref" id="fnref1" role="doc-noteref"
    ><sup>1</sup></a
  >
  kot
  <span class="math display"
    >\[\begin{bmatrix} -\mathbf{w}_\mathrm{Fe}^T \\ -\mathbf{w}_\mathrm{}^T \\ \mathbf{w}_\mathrm{}^T \\ \end{bmatrix}
    \le \begin{bmatrix} -18\,\mathrm{mg} \\ -500\,\mathrm{mg} \\ 2400\,\mathrm{mg} \\ \end{bmatrix},\]</span
  >
  pri čemer razumemo, da omejitev velja za vsak element vektorja posebej.
</p>
<h3 id="dieta-za-hujšanje">Dieta za hujšanje</h3>
<figure id="fig:min-calories">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_calories.2000.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_calories.500.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_calories.200.plot.png" alt="image" />
  </div>
  <figcaption>
    Dieta z omejitvami (<a href="#eq:manj-omejitev" data-reference-type="ref" data-reference="eq:manj-omejitev">3</a>)
    in kriterijem najmanjše količine zaužitih kalorij. (Zgoraj) Dieta z neomejeno količino posameznih živil. (Sredinsko
    in Spodaj) Dieta, kjer dovolimo največ <span class="math inline">\(500\,\mathrm{g}\)</span> oz. največ
    <span class="math inline">\(200\,\mathrm{g}\)</span> posameznega živila.
  </figcaption>
</figure>
<p>
  Prav tako kot vez (<a href="#eq:vez" data-reference-type="ref" data-reference="eq:vez">1</a>), mora biti tudi
  funkcija, ki jo minimiziramo, linearna funkcija. Če recimo minimiziramo zaužite kalorije, je minimizacijska funkcija
  (ang. <em>cost</em> funkcija) oblike
  <span id="eq:lin-model" class="math display"
    >\begin{equation}\begin{aligned} c_{\mathrm{cal}} &= w^\mathrm{cal}_\mathrm{jabolko} m_\mathrm{jabolko} +
    w^\mathrm{cal}_\mathrm{pomfri} m_\mathrm{pomfri} + w^\mathrm{cal}_\mathrm{govedina} m_\mathrm{govedina} + \dots
    \nonumber \nonumber \\ &= \mathbf{w}_\mathrm{cal}^T \mathbf{x}, \label{eq:lin-model}
    \end{aligned}\end{equation}</span
  >
  pri čemer je <span class="math inline">\(\mathbf{w}_\mathrm{cal}\)</span> kar prvi stolpec tabele <a
    href="#tab:data"
    data-reference-type="ref"
    data-reference="tab:data"
    >1</a
  >. Z minimizacijo zaužitih kalorij in omejitvami
  <span id="eq:manj-omejitev" class="math display"
    >\begin{equation}\begin{aligned} m_\mathrm{maščobe} &\ge 70\,\mathrm{g} \nonumber \\ m_\mathrm{OH} &\ge
    310\,\mathrm{g} \nonumber \\ m_\mathrm{proteini} &\ge 50\,\mathrm{g} \nonumber \\ m_\mathrm{Ca} &\ge
    1000\,\mathrm{mg} \nonumber \\ m_\mathrm{Fe} &\ge 18\,\mathrm{mg}, \label{eq:manj-omejitev}
    \end{aligned}\end{equation}</span
  >
  dobimo dieto na sliki <a href="#fig:min-calories" data-reference-type="ref" data-reference="fig:min-calories">1</a>
  zgoraj. Takoj zaznamo pomenljivost modela v tem, da ne omejujemo količine zaužitega natrija. Če bi lahko brez težav
  zaužili večje količine soli, bi to namreč predstavljalo ugoden nizko-kaloričen vir kalcija (slika <a
    href="#fig:min-calories"
    data-reference-type="ref"
    data-reference="fig:min-calories"
    >1</a
  >
  zgoraj). Zato osnovnim omejitvam (<a
    href="#eq:manj-omejitev"
    data-reference-type="ref"
    data-reference="eq:manj-omejitev"
    >3</a
  >) dodamo še omejitve
  <span id="eq:dodatne-omejitve" class="math display"
    >\begin{equation}\begin{aligned} m_\text{vitamin C} &\ge 60\,\mathrm{mg} \nonumber \\ m_\text{K} &\ge
    3500\,\mathrm{mg} \nonumber \\ m_\text{Na} &\in [500\,\mathrm{mg}, 2400\,\mathrm{mg}] \label{eq:dodatne-omejitve}
    \end{aligned}\end{equation}</span
  >
  tako pa dobimo nekoliko bolj realistično dieto na sliki <a
    href="#fig:min-calories-sodium"
    data-reference-type="ref"
    data-reference="fig:min-calories-sodium"
    >2</a
  >
  zgoraj. Vidimo, da je radenska nizko-kaloričen (oz. nič-kaloričen) vir kalcija in natrija, kakav pa v dieti nastopa
  kot nekakšno super-živilo, saj preko <span class="math inline">\(500\,\mathrm{g}\)</span> kakava pridobimo večino
  drugih potrebnih hranil, razen vitamina C (tega pridobimo preko pomaranče).
</p>
<figure id="fig:min-calories-sodium">
  <div class="center">
    <img
      width="600"
      src="/imgs/Fizika/mod1-02-linearno-programiranje/min_calories_sodium_limit.2000.plot.png"
      alt="image"
    />
    <img
      width="600"
      src="/imgs/Fizika/mod1-02-linearno-programiranje/min_calories_sodium_limit.500.plot.png"
      alt="image"
    />
    <img
      width="600"
      src="/imgs/Fizika/mod1-02-linearno-programiranje/min_calories_sodium_limit.200.plot.png"
      alt="image"
    />
  </div>
  <figcaption>
    Dieta z omejitvami (<a href="#eq:manj-omejitev" data-reference-type="ref" data-reference="eq:manj-omejitev">3</a>)
    in (<a href="#eq:dodatne-omejitve" data-reference-type="ref" data-reference="eq:dodatne-omejitve">4</a>) in
    kriterijem najmanjše količine zaužitih kalorij. (Zgoraj) Dieta z neomejeno količino posameznih živil. (Sredinsko in
    Spodaj) Dieta, kjer dovolimo največ <span class="math inline">\(500\,\mathrm{g}\)</span> oz. največ
    <span class="math inline">\(200\,\mathrm{g}\)</span> posameznega živila.
  </figcaption>
</figure>
<aside id="footnotes" class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol>
    <li id="fn1">
      <p>
        Izbrana je taka, da se ujema z SciPy API-jem.<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a>
      </p>
    </li>
  </ol>
</aside>
<h3 id="omejevanje-količine-posameznega-živila">Omejevanje količine posameznega živila</h3>
<p>
  Depresivna je misel na dieto, kjer zaužijemo nesorazmerno veliko količino enega živila. Zato uvedemo maksimalno
  količino za vsako posamezno živilo. Za živila <span class="math inline">\(j = 1, 2, 3, \dots\)</span> to izrazimo
  matrično kot vezi
  <span class="math display"
    >\[\begin{bmatrix} -\mathbf{e}_\mathrm{1}^T \\ -\mathbf{e}_\mathrm{2}^T \\ -\mathbf{e}_\mathrm{3}^T \\ \vdots
    \end{bmatrix} \le \begin{bmatrix} m_\text{max. na živilo} \\ m_\text{max. na živilo} \\ m_\text{max. na živilo} \\
    \vdots \end{bmatrix},\]</span
  >
  torej kar z <span class="math inline">\(I_N\)</span> identitetno matriko za
  <span class="math inline">\(N\)</span> različnih živil. Vse diete, ki jih bomo določili, izračunamo še s to dodatno
  omejitvijo. Tako pridobljene diete za omejitvi <span class="math inline">\(500\,\mathrm{g}\)</span> in
  <span class="math inline">\(200\,\mathrm{g}\)</span> na posamezno živilo vidimo na kot sredinsko in spodnjo figuro na
  slikah <a href="#fig:min-calories" data-reference-type="ref" data-reference="fig:min-calories">1</a>, <a
    href="#fig:min-calories-sodium"
    data-reference-type="ref"
    data-reference="fig:min-calories-sodium"
    >2</a
  >, <a href="#fig:min-fat" data-reference-type="ref" data-reference="fig:min-fat">3</a>, <a
    href="#fig:min-price"
    data-reference-type="ref"
    data-reference="fig:min-price"
    >4</a
  >
  in <a href="#fig:min-price" data-reference-type="ref" data-reference="fig:min-price">4</a>.
</p>
<h3 id="minimizacija-zaužitih-maščob">Minimizacija zaužitih maščob</h3>
<p>
  Kot alternativo dieti za hujšanje, kjer zahtevamo čim manjše število zaužitih kalorij, lahko zahtevamo čim manjšo
  količino zaužitih maščob. Pri tem dodatno omejimo število kalorij, tako da ustreza ravnovesnemu dnevnemu vnosu
  <span class="math display">\[c_\mathrm{cal} \ge 2000.\]</span> Dieta za čim manjšo količino maščob je prikazana na
  sliki <a href="#fig:min-fat" data-reference-type="ref" data-reference="fig:min-fat">3</a>.
</p>
<figure id="fig:min-fat">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_fats.2000.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_fats.500.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_fats.200.plot.png" alt="image" />
  </div>
  <figcaption>
    Dieta z omejitvami (<a href="#eq:manj-omejitev" data-reference-type="ref" data-reference="eq:manj-omejitev">3</a>)
    in (<a href="#eq:dodatne-omejitve" data-reference-type="ref" data-reference="eq:dodatne-omejitve">4</a>), le brez
    omejitve maščob in z zahtevo <span class="math inline">\(c_\mathrm{cal} \ge 2000\)</span>. Kriterij za minimizacijo
    je najmanjše količine zaužitih maščob. (Zgoraj) Dieta z neomejeno količino posameznih živil. (Sredinsko in Spodaj)
    Dieta, kjer dovolimo največ <span class="math inline">\(500\,\mathrm{g}\)</span> oz. največ
    <span class="math inline">\(200\,\mathrm{g}\)</span> posameznega živila.
  </figcaption>
</figure>
<h3 id="minimizacija-cene-mornarska-dieta">Minimizacija cene, mornarska dieta</h3>
<p>
  Še en zanimiv kriterij za minimizacijo je cena. Poglejmo si torej, kakšno dieto dobimo, če minimiziramo ceno, hkrati
  pa še vedno zahtevamo kalorični vnos <span class="math inline">\(c_\mathrm{cal} \ge 2000\)</span>. Dieto, ki jo dobimo
  (slika <a href="#fig:min-price" data-reference-type="ref" data-reference="fig:min-price">4</a>), bi lahko poimenovali
  "mornarska dieta". Primarno jo namreč sestavlja poceni vir ogljikovih hidratov in beljakovin (oves), ki je primeren
  tudi za dolgoročno shrambo. Dopolnimo ga z mlekom, ki bi ga lahko dobili npr. od koze na ladji. Pomemben in zanimiv pa
  je tudi dodatek zelja, ki je primarni vir vitamina C, kot kislo zelje v sodih zopet primeren za dolgoročno shrambo.
</p>
<figure id="fig:min-price">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_price.2000.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_price.500.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/min_price.200.plot.png" alt="image" />
  </div>
  <figcaption>
    Dieta z omejitvami (<a href="#eq:manj-omejitev" data-reference-type="ref" data-reference="eq:manj-omejitev">3</a>)
    in (<a href="#eq:dodatne-omejitve" data-reference-type="ref" data-reference="eq:dodatne-omejitve">4</a>) in z
    zahtevo <span class="math inline">\(c_\mathrm{cal} \ge 2000\)</span>. Kriterij za minimizacijo je najnižja cena
    živil. (Zgoraj) Dieta z neomejeno količino posameznih živil. (Sredinsko in Spodaj) Dieta, kjer dovolimo največ
    <span class="math inline">\(500\,\mathrm{g}\)</span> oz. največ
    <span class="math inline">\(200\,\mathrm{g}\)</span> posameznega živila.
  </figcaption>
</figure>
<h3 id="realistična-dieta">Realistična dieta</h3>
<p>
  Poskusimo z linearnim modelom predpisati še nekoliko bolj realistično dieto. Naš cilj lahko ostane najmanjše število
  zaužitih kalorij, torej je cilj hujšanje. Ker je pri hujšanju velik problem neželena izguba mišične mase, bomo
  nekoliko povečali zahtevano količino beljakovin
  <span id="eq:real-omejitve" class="math display"
    >\begin{equation}\begin{aligned} m_\mathrm{maščobe} &\ge 70\,\mathrm{g} \nonumber \\ m_\mathrm{OH} &\ge
    300\,\mathrm{g} \nonumber \\ m_\mathrm{proteini} &\ge 120\,\mathrm{g} \nonumber \\ m_\mathrm{Ca} &\ge
    1000\,\mathrm{mg} \nonumber \\ m_\mathrm{Fe} &\ge 18\,\mathrm{mg} \nonumber \\ m_\text{vitamin C} &\ge
    60\,\mathrm{mg} \nonumber \\ m_\text{K} &\ge 3500\,\mathrm{mg} \nonumber \\ m_\text{Na} &\in [500\,\mathrm{mg},
    2400\,\mathrm{mg}]. \label{eq:real-omejitve} \end{aligned}\end{equation}</span
  >
  Iz prejšnjih poskusov očitno, da kakav dominira kot nizkokalorično živilo z zadostno količino beljakovin in maščob. A
  tako živilo nastopa kot suh prašek, precej neprimeren za uživanje kar v tej obliki. Zato tudi to izločimo iz našega
  nabora živil. Tako dobljeno "realistično" dieto vidimo na sliki <a
    href="#eq:real-omejitve"
    data-reference-type="ref"
    data-reference="eq:real-omejitve"
    >5</a
  >.
</p>
<figure id="fig:real-min-cals">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/real_min_calories.2000.plot.png" alt="image" />
    <img width="600" src="/imgs/Fizika/mod1-02-linearno-programiranje/real_min_calories.500.plot.png" alt="image" />
  </div>
  <figcaption>
    Dieta z nekoliko bolj realističnimi omejitvami <a
      href="#eq:real-omejitve"
      data-reference-type="ref"
      data-reference="eq:real-omejitve"
      >5</a
    >
    kriterijem najmanjše količine zaužitih kalorij. (Zgoraj) Dieta z neomejeno količino posameznih živil. (Sredinsko in
    Spodaj) Dieta, kjer dovolimo največ <span class="math inline">\(500\,\mathrm{g}\)</span> oz. največ
    <span class="math inline">\(200\,\mathrm{g}\)</span> posameznega živila.
  </figcaption>
</figure>
<h2 id="problem-vožnje-skozi-semaforje">Problem vožnje skozi semaforje</h2>
<p>
  Zdaj bomo s podobno tehniko rešili še problem iz prejšnje naloge<a
    href="#fn2"
    class="footnote-ref"
    id="fnref2"
    role="doc-noteref"
    ><sup>2</sup></a
  >. Zelo blizu in podobno linearnemu modelu (<a
    href="#eq:lin-model"
    data-reference-type="ref"
    data-reference="eq:lin-model"
    >2</a
  >) je njegova preprosta razširitev, kjer je kriterij za minimizacijo oblike
  <span class="math display">\[c = \mathbf{q}^T \mathbf{x} + \mathbf{x}^T H \mathbf{x},\]</span> pri čemer je matrika
  <span class="math inline">\(H\)</span> neka pozitivno semi-definitna matrika, t. j. kvadratna forma
  <span class="math inline">\(\mathbf{x}^T H \mathbf{x}\)</span> predstavlja nek minimum, ne maksimuma ali sedla. Za
  optimizacijo kumulativnega kvadrata pospeška prvo določimo pospeške preko končnih diferenc (<em>forward</em>
  diferenca 1. reda). V matričnem zapisu
  <span id="eq:matrix" class="math display"
    >\begin{equation}\dot{\mathbf{v}} = \begin{bmatrix} \dot{w}_1 \\ \dot{w}_2 \\ \dot{w}_3 \\ \vdots \end{bmatrix}
    \approx N \begin{bmatrix} w_2 - w_1 \\ w_3 - w_2 \\ w_4 - w_3 \\ \vdots \end{bmatrix} = N \begin{bmatrix} -1 & 1 \\
    0 & -1 & 1 \\ & 0 & \ddots & \ddots \\ & & \ddots & \ddots & 1 \\ & & & 0 & -1 & 1 \end{bmatrix} \begin{bmatrix} w_1
    \\ w_2 \\ w_3 \\ \vdots \end{bmatrix} = D_1 \mathbf{w} \label{eq:matrix}\end{equation}</span
  >
</p>
<figure id="fig:base">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-02-linearno-programiranje/base.plot.png" />
  </div>
  <figcaption>
    Poteki hitrosti (Spodaj) in prepotovane poti (Zgoraj) pri optimizaciji kriterija (<a
      href="#eq:c-qp"
      data-reference-type="ref"
      data-reference="eq:c-qp"
      >7</a
    >) z upoštevanjem vezi (<a href="#eq:vez-0" data-reference-type="ref" data-reference="eq:vez-0">8</a>). Prikazani so
    poteki za različne začetne hitrosti <span class="math inline">\(w_0\)</span>.
  </figcaption>
</figure>
<p>
  Če želimo čim manjši kumulativni kvadrat pospeška, je optimizacijski kriterij
  <span id="eq:c-qp" class="math display"
    >\begin{equation}c = \dot{\mathbf{w}}^T \dot{\mathbf{w}} \approx (D_1 \mathbf{w})^T D_1 \mathbf{w} = \mathbf{v}^T
    H_1 \mathbf{w}, \label{eq:c-qp}\end{equation}</span
  >
  pri čemer je Hessova matrika iz same definicije pozitivno semi-pozitivna
  <span class="math display"
    >\[H_1 = D_1^T D_1 = N^2 \begin{bmatrix} 1 &amp; -1 \\ -1 &amp; 2 &amp; -1 \\ &amp; -1 &amp; 2 &amp; -1 \\ &amp;
    &amp; -1 &amp; \ddots &amp; \ddots \\ &amp; &amp; &amp; \ddots &amp; \ddots &amp; -1 \\ &amp; &amp; &amp; &amp; -1
    &amp; 1 \\ \end{bmatrix},\]</span
  >
  in je precej podobna matriki končnih diferenc za <span class="math inline">\(-\ddot{w}\)</span>, razen v zgornjem
  levem in spodnjem desnem kotu. Pri optimizaciji zahtevamo, da semafor prevozimo ob času
  <span class="math inline">\(\tau = 1\)</span>, kar ustreza linearni vezi
  <span id="eq:vez-0" class="math display"
    >\begin{equation}1 = \int_0^1 w \,\mathrm{d}\tau \approx \frac{1}{N} \left( w_1 + w_2 + \dots + w_N \right).
    \label{eq:vez-0}\end{equation}</span
  >
</p>
<h3 id="igranje-z-modelom">Igranje z modelom</h3>
<p>
  Model oblike (<a href="#eq:c-qp" data-reference-type="ref" data-reference="eq:c-qp">7</a>) optimiziramo z modelom iz
  Python paketa <code>qpsolvers</code>, sicer z <code>solver="proxqp"</code>. Da se z modelom lahko nekoliko igram, sem
  sestavil preprosto aplikacijo (slika <a href="#fig:screen" data-reference-type="ref" data-reference="fig:screen">7</a
  >), kjer lahko prosto nastavljam parametre in vklapljam in izklapljam vezi.
</p>
<figure id="fig:screen">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-02-linearno-programiranje/screen.png" />
  </div>
  <figcaption>
    Preprosta aplikacija za igranje s parametri modela optimalne vožnje. Gumba s kljukicami določata upoštevanje
    vezi (<a href="#eq:vez-A" data-reference-type="ref" data-reference="eq:vez-A">9</a>) in (<a
      href="#eq:vez-B"
      data-reference-type="ref"
      data-reference="eq:vez-B"
      >10</a
    >).
  </figcaption>
</figure>
<aside id="footnotes-2" class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol start="2">
    <li id="fn2">
      <p>
        Za navodilo in splošno formulacijo problema glej nalogo 101.<a
          href="#fnref2"
          class="footnote-back"
          role="doc-backlink"
          >↩︎</a
        >
      </p>
    </li>
  </ol>
</aside>
<h3 id="preprečevanje-overshootanje-dva-načina">Preprečevanje overshootanje, dva načina</h3>
<figure id="fig:upper-limit-s">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-02-linearno-programiranje/upper-limit-s.plot.png" />
  </div>
  <figcaption>
    Poteki hitrosti (Spodaj) in prepotovane poti (Zgoraj) pri optimizaciji kriterija (<a
      href="#eq:c-qp"
      data-reference-type="ref"
      data-reference="eq:c-qp"
      >7</a
    >) z upoštevanjem vezi za prepoved overshoota pred <span class="math inline">\(\tau &lt; 1\)</span> (vez  (<a
      href="#eq:vez-A"
      data-reference-type="ref"
      data-reference="eq:vez-A"
      >9</a
    >). Pri testiranju se izkaže, da ima vez (<a href="#eq:vez-B" data-reference-type="ref" data-reference="eq:vez-B"
      >10</a
    >) pravzaprav povsem ekvivalenten efekt, zato slike nisem ponavljal. Razliko med tema dvema načinoma se pokaže šele
    na slikah <a href="#fig:fixed-w1" data-reference-type="ref" data-reference="fig:fixed-w1">9</a>. Prikazani so poteki
    za različne začetne hitrosti <span class="math inline">\(w_0\)</span>.
  </figcaption>
</figure>
<p>
  Če želimo zagotoviti tudi, da pred časom <span class="math inline">\(\tau &lt; 1\)</span> ne prevozimo semaforja,
  lahko zahtevamo, da je pot manjša od <span class="math inline">\(1\)</span> tudi za integracijske čase
  <span class="math inline">\(\tau_1, \tau_2, \dots, \tau_{N-1}\)</span>. V matrični obliki so to (po elementih) vezi
  oblike
  <span id="eq:vez-A" class="math display"
    >\begin{equation}\frac{1}{N} \begin{bmatrix} 1 & \dots & 1 & 1 & 1 & 0 \\ 1 & \dots & 1 & 1 & 0 & 0 \\ 1 & \dots & 1
    & 0 & 0 & 0 \\ \vdots \\ 1 & 1 & 0 & \dots & 0 & 0 \\ 1 & 0 & 0 & \dots & 0 & 0 \\ \end{bmatrix} \mathbf{v} \le 1.
    \label{eq:vez-A}\end{equation}</span
  >
  Sicer bolj stroga vez kot to, da ne smemo prevoziti semaforja, je totalna prepoved vzvratne vožnje
  <span id="eq:vez-B" class="math display">\begin{equation}\mathbf{w} \ge 0. \label{eq:vez-B}\end{equation}</span> Na
  prvi pogled se zdi, da je vez (<a href="#eq:vez-B" data-reference-type="ref" data-reference="eq:vez-B">10</a>) strožja
  kot (<a href="#eq:vez-A" data-reference-type="ref" data-reference="eq:vez-A">9</a>). A igranje z modelom na sliki <a
    href="#fig:upper-limit-s"
    data-reference-type="ref"
    data-reference="fig:upper-limit-s"
    >8</a
  >
  kaže, da delujeta povsem ekvivalentno. Šele ko dodamo vez za fiksno končno hitrost
  <span class="math display">\[w_N = w_1,\]</span> opazimo (slika <a
    href="#fig:fixed-w1"
    data-reference-type="ref"
    data-reference="fig:fixed-w1"
    >9</a
  >) razliko med poteki glede na to, ali upoštevamo strožjo vez nenegativnih hitrosti (<a
    href="#eq:vez-B"
    data-reference-type="ref"
    data-reference="eq:vez-B"
    >10</a
  >) ali manj restriktivno vez (<a href="#eq:vez-A" data-reference-type="ref" data-reference="eq:vez-A">9</a>).
</p>
<figure id="fig:fixed-w1">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-02-linearno-programiranje/fixed-w1-upper-s.png" />
    <img width="400" src="/imgs/Fizika/mod1-02-linearno-programiranje/fixed-w1-nonnegative-w.png" />
  </div>
  <figcaption>
    Poteki hitrosti (Spodaj) in prepotovane poti (Zgoraj) pri optimizaciji kriterija (<a
      href="#eq:c-qp"
      data-reference-type="ref"
      data-reference="eq:c-qp"
      >7</a
    >). Prikazani so poteki za različne končne hitrosti <span class="math inline">\(w_1\)</span>. (Levo) Z upoštevanjem
    vezi <span class="math inline">\(s(\tau) &lt; 1\)</span> za preprečevanje overshoota v
    <span class="math inline">\(\tau \in [0, 1)\)</span> (vez  (<a
      href="#eq:vez-A"
      data-reference-type="ref"
      data-reference="eq:vez-A"
      >9</a
    >). (Desno) Z upoštevanjem vezi <span class="math inline">\(w \ge 1\)</span>, ki preprečuje negativne hitrosti (vez
     (<a href="#eq:vez-B" data-reference-type="ref" data-reference="eq:vez-B">10</a>).
  </figcaption>
</figure>
<h3 id="omejitev-hitrosti">Omejitev hitrosti</h3>
<p>
  V modelu lahko zelo preprosto upoštevamo tudi hitrostne omejitve. Sicer kot
  <span id="eq:vez-MAX" class="math display"
    >\begin{equation}I \mathbf{v} \le v_\text{max}. \label{eq:vez-MAX}\end{equation}</span
  >
  Efekt te omejitve vidimo, ko je začetna hitrost nizka (glede na <span class="math inline">\(1\)</span>), omejitev pa
  je le nekoliko večja od <span class="math inline">\(1\)</span>, da ravno še omogoča potovanje za pot
  <span class="math inline">\(1\)</span> v danem času (slika <a
    href="#fig:low-speed-limit"
    data-reference-type="ref"
    data-reference="fig:low-speed-limit"
    >10</a
  >). Tedaj je potovanje relativno neudobno, saj je potreben velik pospešek (na omejitev), da lahko semafor še dosežemo.
</p>
<figure id="fig:low-speed-limit">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-02-linearno-programiranje/low-speed-limit.png" />
  </div>
  <figcaption>
    Poteki hitrosti (Spodaj) in prepotovane poti (Zgoraj) pri optimizaciji kriterija (<a
      href="#eq:c-qp"
      data-reference-type="ref"
      data-reference="eq:c-qp"
      >7</a
    >) z upoštevanjem vezi (<a href="#eq:vez-0" data-reference-type="ref" data-reference="eq:vez-0">8</a>) in maksimalne
    hitrosti <span class="math inline">\(w_\text{max} = 1.1\)</span> (vez (<a
      href="#eq:vez-MAX"
      data-reference-type="ref"
      data-reference="eq:vez-MAX"
      >11</a
    >)). Prikazani so poteki za različne začetne hitrosti <span class="math inline">\(w_0\)</span>.
  </figcaption>
</figure>
