<h1>Modelska analiza 103</h1>
<h1 class="subtitle">Numerična optimizacija in Thomsonov problem</h1>
<h2 id="navodila">Navodila</h2>
<ol>
  <li>
    <p>
      Thomsonov problem: na prevodno kroglo nanesemo N enakih (klasičnih) nabojev. Kako se razmestijo po površini?1
      Zahtevamo seveda minimum elektrostatične energije. Primerjaj učinkovitost in natančnost za različne minimizacijske
      metode, npr. Powellovo ali n-dimenzionalni simpleks (amebo oz. Nelder-Mead).
    </p>
  </li>
  <li>
    <p>
      Problem optimalne vožnje skozi semafor, ki smo ga spoznali pri nalogi 1, lahko rešujemo tudi z numerično
      minimizacijo, če časovno skalo diskretiziramo. Lagrangianu
      <span class="math inline">\(\int \dot{v} \,\mathrm{d}{t} − \lambda \int v \,\mathrm{d}{t}\)</span> lahko dodamo
      omejitev hitrosti v obliki členov
      <span class="math inline">\(\mathop{\mathrm{exp}}(\beta(u − u_\text{lim}))\)</span>, če hočemo (približno)
      zagotoviti <span class="math inline">\(u \le u_\text{lim}\)</span>. Izpolnitev pogoja je toliko ostrejša, kolikor
      večji <span class="math inline">\(\beta\)</span> vzamemo. Poskusiš lahko tudi druge omejitvene funkcije, na primer
      kakšno funkcijo s polom. Za iskanje Lagrangeovega multiplikatorja lahko uporabiš bisekcijo ali kakšno drugo
      vgrajeno metodo za iskanje ničel na funkciji
      <span class="math inline">\(l(\lambda) = \int v(\lambda, t) \,\mathrm{d}{t}\)</span>, kjer je
      <span class="math inline">\(v(\lambda, t)\)</span> rezultat minimizacije pri izbranem
      <span class="math inline">\(\lambda\)</span>. V tem primeru je enakost izpolnjena eksaktno.
    </p>
  </li>
</ol>
<h2 id="thomsonov-problem">Thomsonov problem</h2>
<p>
  Rešujemo nelinearni minimizacijski, kjer minimiziramo potencialno energijo
  <span id="eq:V" class="math display"
    >\begin{equation}V = \sum_{j < i} \frac{1}{|\mathbf{r}_j - \mathbf{r}_i|}, \label{eq:V}\end{equation}</span
  >
  pri tem pa sta <span class="math inline">\(\mathbf{r}_i\)</span> in
  <span class="math inline">\(\mathbf{r}_j\)</span> omejena na površino krogle in parametrizirana z enim parom
  <span class="math inline">\((\vartheta, \phi)\)</span>, tako da je
  <span class="math display"
    >\[\mathbf{r} = \begin{pmatrix} \cos{\phi} \sin{\vartheta} &amp; \sin{\phi} \sin{\vartheta} &amp; \cos{\vartheta}
    \end{pmatrix}.\]</span
  >
  Konfiguracije, ki jih dobimo in njihove konveksne ovojnice (pridobljene z <code>scipy.spatial.ConvexHull</code>),
  vidimo prikazane na sliki (<a href="#fig:pts" data-reference-type="ref" data-reference="fig:pts">1</a>).
</p>
<figure id="fig:pts">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/thompson_pts.plot.png" />
  </div>
  <figcaption>Konfiguracije nabojev, ki minimizirajo potencialno energijo na površini krogle.</figcaption>
</figure>
<figure id="fig:energy_by_N">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/energy_by_N.plot.png" />
  </div>
  <figcaption>
    (Levo) Naraščanje skupne potencialne energije za rešitve Thomsonovega problema z
    <span class="math inline">\(N\)</span> naboji. (Sredinsko) Skupna potencialna energija na enoto parov (parov je
    <span class="math inline">\(\sim N^2\)</span>). Rdeče črtkano je prikazana zvezna limita samo-interakcije enakomerno
    nabite sfere. (Desno) Odvisnost minimalne razdalje med naboji v odvisnosti od
    <span class="math inline">\(N\)</span>.
  </figcaption>
</figure>
<h3 id="naboji-na-površini-torusa">Naboji na površini torusa</h3>
<p>
  Podoben problem minimizacije potencialne energije (<a href="#eq:V" data-reference-type="ref" data-reference="eq:V"
    >1</a
  >) bomo rešili še za naboje na površini torusa, spet parametriziranega z
  <span class="math inline">\((\vartheta, \phi)\)</span> kot
  <span class="math display"
    >\[\mathbf{r} = \begin{pmatrix} (1 + \rho \cos\vartheta) \cos\phi &amp; (1 + \rho \cos\vartheta) \sin\phi &amp; \rho
    \sin\vartheta \end{pmatrix}.\]</span
  >
  Dobljene konfiguracije za <span class="math inline">\(\rho = 1\)</span> torus narišemo na slikah <a
    href="#fig:pts_torus"
    data-reference-type="ref"
    data-reference="fig:pts_torus"
    >3</a
  >
  in <a href="#fig:pts_torus_side" data-reference-type="ref" data-reference="fig:pts_torus_side">4</a>. Za
  <span class="math inline">\(N &lt;= 10\)</span> so naboji razporejeni po zunanjem obodu torusa z radijem
  <span class="math inline">\(1 + \rho\)</span>. Za večje <span class="math inline">\(N\)</span> so razporeditve
  presenetljivo nesimetrične (slika <a
    href="#fig:pts_torus_side"
    data-reference-type="ref"
    data-reference="fig:pts_torus_side"
    >4</a
  >), izjema je le razporeditev za <span class="math inline">\(N = 24\)</span>, ki je edina zares simetrična glede na
  preslikavo čez veliko os torusa.
</p>
<figure id="fig:pts_torus">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/thompson_torus.plot.png" />
  </div>
  <figcaption>
    Konfiguracije nabojev, ki minimizirajo potencialno energijo na površini torusa z
    <span class="math inline">\(\rho = 1/4\)</span>.
  </figcaption>
</figure>
<figure id="fig:pts_torus_side">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/thompson_torus_side.9.plot.png" />
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/thompson_torus_side.20.plot.png" />
  </div>
  <figcaption>Stranski pogled, naboji na površini torusa z <span class="math inline">\(\rho = 1/4\)</span>.</figcaption>
</figure>
<figure id="fig:torus_energy_by_N">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/torus_energy_by_N.plot.png" />
  </div>
  <figcaption>
    (Levo) Naraščanje skupne potencialne energije za rešitve Thomsonovega problema na torusu z
    <span class="math inline">\(N\)</span>
    naboji. (Sredinsko) Skupna potencialna energija na enoto parov (parov je
    <span class="math inline">\(\sim N^2\)</span>). (Desno) Odvisnost minimalne razdalje med naboji v odvisnosti od
    <span class="math inline">\(N\)</span>.
  </figcaption>
</figure>
<figure id="fig:torus_energy_by_rho">
  <div class="center">
    <img width="450" src="/imgs/Fizika/mod1-03-optimizacija/torus_energy_by_rho.plot.png" />
  </div>
  <figcaption>
    Spreminjanje malega radija torusa <span class="math inline">\(\rho\)</span>. (Levo) Odvisnost potencialne energije
    od malega radija za različne <span class="math inline">\(N\)</span>. (Desno) Odvisnost najmanjše razdalje med
    naboji.
  </figcaption>
</figure>
<h3 id="naboji-na-površini-kocke">Naboji na površini kocke</h3>
<p>
  Še ena površina, za katero je precej lepo reševati problem porazdelitve nabojev, je kocka. Namesto dejanske kocke bomo
  vzeli t. i. super-sfero
  <span class="math display">\[x^{2p} + y^{2p} + z^{2p} = 1, \quad p \in \mathbb{N},\]</span> pri čemer izberemo
  <span class="math inline">\(p\)</span> dovolj velik, da je kocka "ostra". Konkretno izberemo
  <span class="math inline">\(p = 200\)</span>. Površino prav tako kot pri krogli parametriziramo s kotoma
  <span class="math inline">\((\theta, \phi)\)</span>, le da za radij velja
  <span class="math display"
    >\[r(\vartheta, \phi) = \left( \frac{1}{ \cos^{2p}\vartheta + (\cos\phi \sin\vartheta)^{2p} + (\sin\phi
    \sin\vartheta)^{2p} } \right)^\frac{1}{2p}.\]</span
  >
  Dobljene porazdelitve nabojev narišemo na slikah <a
    href="#fig:cube1"
    data-reference-type="ref"
    data-reference="fig:cube1"
    >7</a
  >
  in <a href="#fig:cube2" data-reference-type="ref" data-reference="fig:cube2">8</a>.
</p>
<figure id="fig:cube1">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/thompson_hypersphere.1.plot.png" />
  </div>
  <figcaption>Konfiguracije nabojev, ki minimizirajo potencialno energijo na površini kocke.</figcaption>
</figure>
<figure id="fig:cube2">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/thompson_hypersphere.2.plot.png" />
  </div>
  <figcaption>Še nekaj konfiguracij nabojev, ki minimizirajo potencialno energijo na površini kocke.</figcaption>
</figure>
<figure id="fig:cube_energy_by_N">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/cube_energy_by_N.plot.png" />
  </div>
  <figcaption>
    (Levo) Naraščanje skupne potencialne energije za rešitve Thomsonovega problema na kocki z
    <span class="math inline">\(N\)</span>
    naboji. (Sredinsko) Skupna potencialna energija na enoto parov (parov je
    <span class="math inline">\(\sim N^2\)</span>). (Desno) Odvisnost minimalne razdalje med naboji v odvisnosti od
    <span class="math inline">\(N\)</span>. Vidimo, da je za razliko od torusa in sfere padanje minimalne razdalje med
    naboji bolj stopničasto. To se sklada s konfiguracijami, ki jih vidimo na <a
      href="#fig:cube1"
      data-reference-type="ref"
      data-reference="fig:cube1"
      >7</a
    >
    in <a href="#fig:cube2" data-reference-type="ref" data-reference="fig:cube2">8</a>.
  </figcaption>
</figure>
<h3 id="sec:local-extrema">Izogibanje lokalnim maksimumom</h3>
<p>
  V namen izogibanja lokalnim maksimumom sem uporabil zelo preprost postopek. Prvo sem metodo zagnal za neke (tipično
  naključne začetne pogoje), nato pa sem optimizacijo pognal še 10-krat, z začetnimi parametri, ki sem jih dobil kot
  vsoto dobljenega prvega maksimuma in <span class="math inline">\(\sigma = 1\)</span> ali
  <span class="math inline">\(\sigma = 5\)</span> Gaussovskega šuma. Tako sem se izognil nekaterim lokalnim maksimumom,
  a da sem jim zares ušel, ne morem trditi.
</p>
<h3 id="energije-in-zvezna-limita">Energije in zvezna limita</h3>
<p>
  Preverimo lahko tudi zvezno limito Thomsonovega problema. Komulativna interakcija vsakega izmed delčkov
  <span class="math inline">\(\mathrm{d}S\)</span> električno nabite krogle <span class="math inline">\(R = 1\)</span> z
  ostalimi naboji te krogle (površinska gostota <span class="math inline">\(\sigma = \frac{N}{4\pi}\)</span>) je
  <span class="math display"
    >\[V = 4\pi \sigma \int_{4\pi} \frac{\sigma\,\mathrm{d}S(\mathbf{r})}{|\mathbf{r} - \mathbf{r_0}|} =
    \frac{N^2}{2},\]</span
  >
  kar ustreza tudi našemu diskretnemu problemu, ko gre <span class="math inline">\(N \to \infty\)</span> (glej sredinsko
  sliko <a href="#fig:energy_by_N" data-reference-type="ref" data-reference="fig:energy_by_N">2</a>).
</p>
<p>
  Tudi potencialna energija konfiguracij na torusu (slika <a
    href="#fig:torus_energy_by_N"
    data-reference-type="ref"
    data-reference="fig:torus_energy_by_N"
    >5</a
  >) ima podobno obliko. Iizgleda, da se približuje <span class="math inline">\(0.5\)</span>. Za kocko (slika <a
    href="#fig:cube_energy_by_N"
    data-reference-type="ref"
    data-reference="fig:cube_energy_by_N"
    >9</a
  >) pa je vrednost stalno nekoliko nižja in se vizualno približuje neko vrednosti med
  <span class="math inline">\(3\)</span> in <span class="math inline">\(4\)</span>.
</p>
<h3 id="natančnost-in-časovna-zahtevnost">Natančnost in časovna zahtevnost</h3>
<p>
  Natančnost algoritma lahko ocenimo s tem, da preverimo odstopanja izračunanih minimalnih potencialnih energij od
  referenčnih vrednosti iz <span class="citation" data-cites="wiki-thomson"
    >[<a href="#ref-wiki-thomson" role="doc-biblioref">1</a>]</span
  >. Na sliki <a href="#fig:err_by_N" data-reference-type="ref" data-reference="fig:err_by_N">10</a> vidimo odstopanja
  za prvih 32 nabojev za različne metode in dva različna začetna pogoja. Vidimo, da sta metodi BFGS in CG znatno boljši
  od drugih dveh. Nelder-Mead (simplex) in Powellova metoda v SciPy vmesniku vrneta opozorilo:
</p>
<p><code>Warning: Maximum number of function evalutaions has been exceeded.</code></p>
<p>
  Tudi če za faktor 10 povečamo število dovoljenih vrednotenj funkcije (sorazmerno z
  <span class="math inline">\(N\)</span>), to izboljša rezultat Nelder-Mead in Powellove metode le za par naslednjih
  <span class="math inline">\(N\)</span>. Ti dve metodi torej zelo hitro rastete v časovni zahtevnosti v odvisnosti od
  <span class="math inline">\(N\)</span>. Časovno zahtevnost si bolj natančno pogledamo na slikah <a
    href="#fig:perf_by_N"
    data-reference-type="ref"
    data-reference="fig:perf_by_N"
    >12</a
  >, <a href="#fig:perf_by_N.martin-debian" data-reference-type="ref" data-reference="fig:perf_by_N.martin-debian">13</a
  >. Vidimo, da sta metodi BFGS in CG precej hitrejši od Nelder-Mead (simplex) metode in Powellove metode. Za večje
  <span class="math inline">\(N\)</span> (npr. <span class="math inline">\(N &gt; 200\)</span>) pa se nam splača problem
  pognati tudi na GPU enoti (glej sliko <a
    href="#fig:perf_by_N.martin-debian"
    data-reference-type="ref"
    data-reference="fig:perf_by_N.martin-debian"
    >13</a
  >).
</p>
<h3 id="različni-začetni-pogoji">Različni začetni pogoji</h3>
<p>
  Poskusimo tudi, ali lahko pravilna izbira začetnih pogojev pospeši reševanje problema. Primerjali bomo začetno
  naključno in Fibonaccijevo razporeditev
  <span class="math display"
    >\[(\vartheta, \phi) = \left( \frac{i}{\varphi}, \frac{i + 1/2}{N} \right), i = 0, 1, \dots, N,\]</span
  >
  pri čemer je <span class="math inline">\(\phi \approx 1.61803\)</span>. Na sliki <a
    href="#fig:fib_rand"
    data-reference-type="ref"
    data-reference="fig:fib_rand"
    >11</a
  >
  vidimo, da je potencialna energija <span class="math inline">\(V\)</span> stalno manjša pri Fiboneccijevi kot pri
  naključni razporeditvi. Zato bi torej pričakovali, da je tak začetni pogoj bližje rešitvi Thomsonovega problema in bo
  kot tak hitreje konvergiral k dejanski rešitvi. To preverimo z dejanskim vrednotenjem na sliki <a
    href="#fig:perf_by_N"
    data-reference-type="ref"
    data-reference="fig:perf_by_N"
    >12</a
  >, kjer narišemo čase izvajanja in števila evaluacij <span class="math inline">\(V\)</span> v odvisnosti od števila
  delcev. Od metod se najboljše izkažeta metodi BFGS in CG, primerjava med začetnimi pogoji pa pokaže (slika <a
    href="#fig:perf_by_N"
    data-reference-type="ref"
    data-reference="fig:perf_by_N"
    >12</a
  >
  desno), da so naključni začetni pogoji na primeru BFGS metode v mediani okoli
  <span class="math inline">\(44\%\)</span> slabši od Fiboneccijevih v času konvergence in
  <span class="math inline">\(21\%\)</span> slabši v števila evaluacij <span class="math inline">\(V\)</span>. Torej se
  nam v večini primerov splača vzeti Fiboneccijeve začetne pogoje.
</p>
<figure id="fig:err_by_N">
  <div class="center">
    <img width="520" src="/imgs/Fizika/mod1-03-optimizacija/err_by_N.plot.png" />
  </div>
  <figcaption>
    Odstopanja prvih 32 minimalnih energij od referenčnih <span class="citation" data-cites="wiki-thomson"
      >[<a href="#ref-wiki-thomson" role="doc-biblioref">1</a>]</span
    >. Vidimo, da sta metodi BFGS in CG znatno boljši od Nelder-Mead (simplex) metode in Powell metode.
  </figcaption>
</figure>
<figure id="fig:fib_rand">
  <div class="center">
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/fib_pts.plot.png" />
    <img width="600" src="/imgs/Fizika/mod1-03-optimizacija/random_pts.plot.png" />
  </div>
  <figcaption>(Zgoraj) Fiboneccijev začetni pogoj. (Spodaj) En primer naključnih začetnih pogojev.</figcaption>
</figure>
<figure id="fig:perf_by_N">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-03-optimizacija/perf_by_N.plot.png" />
  </div>
  <figcaption>
    (Levo zgoraj) Čas izvajanja za reševanje Thomsonovega problema z različnimi metodami in z Fibonaccijevimi začetnimi
    pogoji (slika <a href="#fig:fib_rand" data-reference-type="ref" data-reference="fig:fib_rand">11</a> zgoraj). (Levo
    spodaj) Število evaluacij minimizirane funkcije <span class="math inline">\(V\)</span>. (Desno, zgoraj in spodaj)
    Razmerje časov izvajanja in števila evaluacij za naključne začetne pogoje v primerjavi z Fibonaccijevimi začetnimi
    pogoji. Rdeči črti prikazujeta mediano razmerij med naključnimi in Fibonaccijevimi začetnimi pogoji. To da je
    mediana <span class="math inline">\(&gt; 1\)</span> pomeni, da se nam splača delati z Fibonaccijevimi začetnimi
    pogoji.
  </figcaption>
</figure>
<figure id="fig:perf_by_N.martin-debian">
  <div class="center">
    <img width="350" src="/imgs/Fizika/mod1-03-optimizacija/perf_by_N.martin-debian.plot.png" />
  </div>
  <figcaption>
    Časi izvajanja na drugem računalniku (z GPU enoto), kjer preizkusimo še <code>jaxopt</code> metode iz istoimenske
    knjižnice. Te metodi se izvajata na GPU enoto in odraža veliko manj izrazito rast kot CPU metode iz SciPy. Za
    <span class="math inline">\(N = 200\)</span> in več sta precej hitrejši od metod, ki se izvajata na CPU. Hkrati pa
    sta manj primerni za majhne <span class="math inline">\(N\)</span>, kjer še vedno vidimo overhead priprave in
    prenašanja podatkov na GPU.
  </figcaption>
</figure>
<h2 id="optimalna-vožnja-skozi-semaforje">Optimalna vožnja skozi semaforje</h2>
<p>
  Zdaj bomo kot minimizacijski problem rešili še 1. nalogo optimalne vožnje do semaforja<a
    href="#fn1"
    class="footnote-ref"
    id="fnref1"
    role="doc-noteref"
    ><sup>1</sup></a
  >. Prvo potek <span class="math inline">\(w(\tau)\)</span> diskretiziramo na mreži
  <span class="math display"
    >\[w_i = w(\tau_i), \quad \tau_i = \frac{1}{N_\tau}, \frac{2}{N_\tau}, \dots, \frac{N_\tau}{N_\tau}.\]</span
  >
  Pravzaprav ne potrebujemo povsem splošnih metod minimizacije, temveč je dovolj njegov posebni primer, t. i.
  kvadratično programiranje, kjer je kriterij za minimizacijo oblike
  <span class="math display">\[c = \mathbf{q}^T \mathbf{x} + \mathbf{x}^T H \mathbf{x},\]</span> pri čemer je matrika
  <span class="math inline">\(H\)</span> neka pozitivno semi-definitna matrika, t. j. kvadratna forma
  <span class="math inline">\(\mathbf{x}^T H \mathbf{x}\)</span> predstavlja nek minimum, ne maksimuma ali sedla. Za
  optimizacijo kumulativnega kvadrata pospeška prvo določimo pospeške preko končnih diferenc (<em>forward</em> diferenca
  1. reda). V matričnem zapisu
  <span id="eq:matrix" class="math display"
    >\begin{equation}\dot{\mathbf{w}} = \begin{bmatrix} \dot{w}_1 \\ \dot{w}_2 \\ \dot{w}_3 \\ \vdots \end{bmatrix}
    \approx N \begin{bmatrix} w_2 - w_1 \\ w_3 - w_2 \\ w_4 - w_3 \\ \vdots \end{bmatrix} = N \begin{bmatrix} -1 & 1 \\
    0 & -1 & 1 \\ & 0 & \ddots & \ddots \\ & & \ddots & \ddots & 1 \\ & & & 0 & -1 & 1 \end{bmatrix} \begin{bmatrix} w_1
    \\ w_2 \\ w_3 \\ \vdots \end{bmatrix} = D_1 \mathbf{w} \label{eq:matrix}\end{equation}</span
  >
  Če želimo čim manjši kumulativni kvadrat pospeška, je optimizacijski kriterij
  <span id="eq:c-qp" class="math display"
    >\begin{equation}c = \dot{\mathbf{w}}^T \dot{\mathbf{w}} \approx (D_1 \mathbf{w})^T D_1 \mathbf{w} = \mathbf{v}^T
    H_1 \mathbf{w}, \label{eq:c-qp}\end{equation}</span
  >
  pri čemer je Hessova matrika iz same definicije pozitivno semi-pozitivna
  <span class="math display"
    >\[H_1 = D_1^T D_1 = N^2 \begin{bmatrix} 1 &amp; -1 \\ -1 &amp; 2 &amp; -1 \\ &amp; -1 &amp; 2 &amp; -1 \\ &amp;
    &amp; -1 &amp; \ddots &amp; \ddots \\ &amp; &amp; &amp; \ddots &amp; \ddots &amp; -1 \\ &amp; &amp; &amp; &amp; -1
    &amp; 1 \\ \end{bmatrix},\]</span
  >
  in je precej podobna matriki končnih diferenc za <span class="math inline">\(-\ddot{w}\)</span>, razen v zgornjem
  levem in spodnjem desnem kotu. Pri optimizaciji zahtevamo, da semafor prevozimo ob času
  <span class="math inline">\(\tau = 1\)</span>, kar ustreza linearni vezi
  <span id="eq:vez-0" class="math display"
    >\begin{equation}1 = \int_0^1 w \,\mathrm{d}\tau \approx \frac{1}{N} \left( w_1 + w_2 + \dots + w_N \right).
    \label{eq:vez-0}\end{equation}</span
  >
  To vez bi lahko upoštevali tako, kot je predlagano v navodilu naloge, npr. s strelsko metodo na rešitvah za nek
  <span class="math inline">\(\lambda\)</span>. Sam sem izbral preprostejši način upoštevanja te vezi. Sicer se gre za
  to, da lahko na podlagi vezi (<a href="#eq:vez-0" data-reference-type="ref" data-reference="eq:vez-0">4</a>) eno
  spremenljivko kar odstranimo iz funkcijske oblike optimizacijskega kriterija
  <span class="math display">\[c(w_1, w_2, \dots, w_{N_\tau}) = c(w_2, \dots, w_{N_\tau}),\]</span> saj lahko preko vezi
  izrazimo <span class="math inline">\(w_1 = f(w_2, w_3, \dots)\)</span>. Ugotovil sem, da je v implementaciji zares
  dovolj, da take odvečne prostostne le "skrijemo" iz funkcijske odvisnosti kriterija, ne tudi odstranimo iz prostora
  parametrov <span class="math inline">\(\mathbf{w}\)</span>, v katerem iščemo optimalno rešitev. V kodi to izgleda kot:
</p>
<div class="sourceCode" id="cb1" data-language="Python" data-caption="Optimizacijski kriterij.">
  <pre
    class="sourceCode python"
  ><code class="sourceCode python"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="kw">def</span> regularize(w_vals, <span class="op">*</span>args):</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>    num, w0, w1, _, _, _, fixed_w1, _ <span class="op">=</span> args</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>    w_vals[<span class="dv">0</span>] <span class="op">=</span> w0</span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>    <span class="cf">if</span> fixed_w1:</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>        w_vals[num <span class="op">-</span> <span class="dv">1</span>] <span class="op">=</span> w1</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>    w_vals[<span class="dv">1</span>] <span class="op">=</span> (<span class="dv">1</span> <span class="op">-</span> <span class="dv">1</span> <span class="op">/</span> num <span class="op">*</span> (w_vals[<span class="dv">0</span>] <span class="op">+</span> np.<span class="bu">sum</span>(w_vals[<span class="dv">2</span>:]))) <span class="op">*</span> num</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a>    <span class="cf">return</span> w_vals</span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a><span class="kw">def</span> cost_semafor_nonlinear(w_vals, <span class="op">*</span>args):</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true" tabindex="-1"></a>    _, _, _, w_max, β, edge_type, _, FD1 <span class="op">=</span> args</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true" tabindex="-1"></a>    w_vals <span class="op">=</span> regularize(w_vals, <span class="op">*</span>args)</span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true" tabindex="-1"></a>    dot_w <span class="op">=</span> FD1 <span class="op">@</span> w_vals</span></code></pre>
</div>
<h3 id="primerjava-med-splošno-in-kvadratično-optimizacijo">Primerjava med splošno in kvadratično optimizacijo</h3>
<p>
  Za optimizacijski kriterij komulativnega pospeška (<a
    href="#eq:c-qp"
    data-reference-type="ref"
    data-reference="eq:c-qp"
    >3</a
  >) lahko brez težave uporabimo splošne metode nelinearne optimizacije, kot smo to počeli za Thomsonov problem. A kot
  bomo videli imajo metode za kvadratično optimizacijo mnogo prednosti.
</p>
<p>
  Za kvadratično optimizacijo oz. t. i. kvadratično programiranje z lahkoto izrazimo vezi kot je npr. omejitev
  maksimalne hitrosti. Splošne nelinearne optimizacijske metode pa tipično delujejo v režimu brez vezi. Vezi moramo
  tedaj dodati našemu kriteriju kot
  <span class="math display">\[c^{(z vezmi)}(\mathbf{w}) = c(\mathbf{w}) + G(\mathbf{w}),\]</span> pri čemer je
  <span class="math inline">\(G(\mathbf{w})\)</span> funkcija, ki zavzema veliko (idealizirano neomejeno) vrednost izven
  dovoljenega območja, ki ga določa vez. Če bi torej za metodo kvadratičnega programiranja zahtevali po elementih
  <span class="math display">\[\mathbf{w} \le w_\text{max},\]</span> moramo za splošne nelinearne metode dodati
  kriteriju nek <span class="math inline">\(G\)</span>. Poskusili in primerjali bomo
  <span class="math inline">\(G\)</span> funkcije oblik
  <span id="eq:g0" class="math display"
    >\begin{equation}\begin{aligned} G_0(\mathbf{w}) &= \sum_i 10^6 \cdot \theta(w_i - w_\text{max}), \label{eq:g0} \\
    G_1(\mathbf{w}) &= \sum_i e^{\beta (w_i - w_\text{max})}, \label{eq:g1} \\ G_2(\mathbf{w}) &= \sum_i
    \mathop{\text{max}} \left ( 0, e^{\beta (w_i - w_\text{max}) - 1} \right), \label{eq:g2}
    \end{aligned}\end{equation}</span
  >
  pri čemer je <span class="math inline">\(\theta(x)\)</span> Heaviside koračna funkcija. Te funkcije primerjamo na
  sliki <a href="#fig:G" data-reference-type="ref" data-reference="fig:G">14</a>, kjer vidimo, da se lahko obnašajo
  precej patološko. Še najlepše se obnaša <span class="math inline">\(G = G_2\)</span> za
  <span class="math inline">\(\beta = 1\)</span>, saj kar sovpada za QP rešitvijo.
</p>
<figure id="fig:G">
  <div class="center">
    <img width="400" src="/imgs/Fizika/mod1-03-optimizacija/semafor_nonlin_step.plot.png" />
    <img width="400" src="/imgs/Fizika/mod1-03-optimizacija/semafor_nonlin_beta.plot.png" />
    <img width="400" src="/imgs/Fizika/mod1-03-optimizacija/semafor_nonlin_beta2.plot.png" />
  </div>
  <figcaption>
    Primerjava oblik funkcije <span class="math inline">\(G\)</span>. Črtkano črno je narisana rešitev, pridobljena z
    kvadratičnim programiranjem (ang. <em>QP</em>). (Prvo) Koračna oblika <span class="math inline">\(G = G_0\)</span>,
    kot v (<a href="#eq:g0" data-reference-type="ref" data-reference="eq:g0">5</a>). (Drugo) Eksponentna oblika
    <span class="math inline">\(G = G_1\)</span>, kot v (<a
      href="#eq:g1"
      data-reference-type="ref"
      data-reference="eq:g1"
      >[eq:g1]</a
    >). (Tretje) Rektificirana eksponentna oblika <span class="math inline">\(G = G_2\)</span>, kot v (<a
      href="#eq:g2"
      data-reference-type="ref"
      data-reference="eq:g2"
      >[eq:g2]</a
    >).
  </figcaption>
</figure>
<p>
  Poleg tega, da za kvadratno programiranje ne potrebujemo izbirati oblike funkcije
  <span class="math inline">\(G\)</span>, je metoda tudi dosti hitrejša. Na sliki <a
    href="#fig:perf_semafor"
    data-reference-type="ref"
    data-reference="fig:perf_semafor"
    >15</a
  >
  vidimo, da so QP metode hitrejše kar za velikostni razred do dva, hkrati pa sem v lastnih eksperimentih spoznal, da so
  QP metode tudi dosti robustnejše.
</p>
<figure id="fig:perf_semafor">
  <div class="center">
    <img width="500" src="/imgs/Fizika/mod1-03-optimizacija/semafor_perf_by_Nt.plot.png" />
  </div>
  <figcaption>
    Primerjava časov izvajanja za diskretiziran problem optimalne vožnje. Primerjavo hitrejša izmed nelinearnih splošnih
    algoritmov (<code>BFGS</code> in <code>CG</code>) ter algoritme kvadratičnega programiranja (<code>cvxopt</code>,
    <code>daqp</code>, <code>ecos</code>, <code>scs</code>, <code>qpax</code>, <code>quadprog</code>). Kvadratično
    programiranje za tak tip problema omogoča mnogo hitrejše reševanje.
  </figcaption>
</figure>
<aside id="footnotes" class="footnotes footnotes-end-of-section" role="doc-footnote">
  <hr />
  <ol>
    <li id="fn1">
      <p>
        Za navodilo in splošno formulacijo problema glej nalogo 101.<a
          href="#fnref1"
          class="footnote-back"
          role="doc-backlink"
          >↩︎</a
        >
      </p>
    </li>
  </ol>
</aside>
<h3 id="več-omejitev-za-vožnjo-skozi-semafor">Več omejitev za vožnjo skozi semafor</h3>
<p>
  Ko problem optimalne vožnje rešujemo v diskretizirani obliki, imamo na voljo precej bogat nabor možnih omejitev za
  naše rešitve. Te pridejo v problem v direktno v obliki vezi, npr.
  <span class="math inline">\(\mathbf{w} \le w_\text{max}\)</span>, ali pa odstopanje od meje te vezi dodamo našemu
  minimizacijskemu kriteriju v obliki <span class="math inline">\(G(\mathbf{w})\)</span> člena, ki kaznuje rešitve izven
  dovoljenega območja. Kar v obliki seznama bom navedel vse takšne omejitve, ki sem jih implementiral za model optimalne
  vožnje. Ker sem se zaradi hitrosti lažje igral z QP metodo, bom opisal kako sem jih implementiral v tem kontekstu.
  Prevod za uporabo z nelinearnimi metodami je preprost in sledi zgledu za omejitev maksimalne hitrosti iz slike <a
    href="#fig:G"
    data-reference-type="ref"
    data-reference="fig:G"
    >14</a
  >.
</p>
<ol>
  <li>
    <p>Fiksiranje začetne <span class="math inline">\(w_0\)</span></p>
  </li>
  <li>
    <p>Fiksiranje končne <span class="math inline">\(w(1) = w_1\)</span> hitrosti.</p>
  </li>
  <li>
    <p>
      Vez opravljene poti <span class="math inline">\(s(1) = 1\)</span> do semaforja (izraz (<a
        href="#eq:vez-0"
        data-reference-type="ref"
        data-reference="eq:vez-0"
        >4</a
      >)).
    </p>
  </li>
  <li>
    <p>
      Omejitev maksimalne hitrosti <span class="math inline">\(\mathbf{w} \le w_\text{max}\)</span> (glej sliko <a
        href="#fig:wmax"
        data-reference-type="ref"
        data-reference="fig:wmax"
        >16</a
      >).
    </p>
  </li>
  <li>
    <p>
      Prepoved negativnih hitrosti <span class="math inline">\(\mathbf{w} \ge 0\)</span>. To prepreči
      <em>overshoot</em> čez semafor, saj je pot potem monotona funkcija (tretja slika <a
        href="#fig:w1"
        data-reference-type="ref"
        data-reference="fig:w1"
        >17</a
      >).
    </p>
  </li>
  <li>
    <p>
      <span id="item:nonover" label="item:nonover"></span> Manj stroga omejitev za preprečevanja <em>overshoota</em> čez
      semafor pred <span class="math inline">\(\tau = 1\)</span>, ki za vsak
      <span class="math inline">\(i = 1, 2, \dots, N\)</span> zahteva
      <span class="math inline">\(\int_0^{\tau_i} w\,\mathrm{d}\tau \le 1\)</span> (tretja slika <a
        href="#fig:w1"
        data-reference-type="ref"
        data-reference="fig:w1"
        >17</a
      >).
    </p>
  </li>
  <li>
    <p>
      Poljubni semaforji, postavljeni za <span class="math inline">\(k = 1, 2, \dots, N_\text{sem}\)</span>, pri čemer
      <span class="math inline">\((\tau_k, s_k)\)</span> določata položaj semaforja in čas prižiga semaforja. Za vsak
      semafor <span class="math inline">\((\tau_k, s_k)\)</span> izberemo nek
      <span class="math inline">\(\tau_i\)</span> iz osnovne diskretizacije, ki je najbližje
      <span class="math inline">\(\tau_k\)</span>, nato pa zahtevamo
      <span class="math inline">\(\int_0^{\tau_i \approx \tau_k} w\,\mathrm{d}\tau = s_k\)</span>. Na slikah <a
        href="#fig:multi"
        data-reference-type="ref"
        data-reference="fig:multi"
        >18</a
      >
      vidimo primer 5 semaforjev, postavljenih v nekem neenakomernem zaporedju.
    </p>
  </li>
  <li>
    <p>
      Omejitev za preprečevanje <em>overshoota</em> za semaforje <span class="math inline">\((\tau_k, s_k)\)</span>. Gre
      se le za omejitev iz 6. točke, le ponovljeno za vsak končni čas <span class="math inline">\(\tau = \tau_k\)</span>, ne le
      <span class="math inline">\(\tau = 1\)</span>. To omejitev vidimo na primeru 5 semaforjev na tretji sliki <a
        href="#fig:multi"
        data-reference-type="ref"
        data-reference="fig:multi"
        >18</a
      >.
    </p>
  </li>
</ol>
<figure id="fig:wmax">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/no-wmax.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/wmax.plot.png" />
  </div>
  <figcaption>
    Optimalen potek hitrosti za <span class="math inline">\(N_\tau = 200\)</span> in različne začetne hitrosti
    <span class="math inline">\(w_0\)</span>. (Prva slika) Brez omejitve hitrosti. (Druga slika) Z omejitvijo maksimalne hitrosti
    <span class="math inline">\(w_\text{max} = 1.2\)</span>.
  </figcaption>
</figure>
<figure id="fig:w1">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/w1.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/w1-nonneg.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/w1-nonover.plot.png" />
  </div>
  <figcaption>
    Optimalen potek hitrosti za <span class="math inline">\(N_\tau = 200\)</span> z začetno hitrostjo
    <span class="math inline">\(w_0 = 10\)</span> in različne <span class="math inline">\(w(1) = w_1\)</span>. (Prva slika)
    Brez dodatnih omejitev, le <span class="math inline">\(w_0\)</span>, <span class="math inline">\(w_1\)</span> in
    vez (<a href="#eq:vez-0" data-reference-type="ref" data-reference="eq:vez-0">4</a>). (Druga slika) Vez, ki
    prepoveduje negativne hitrosti <span class="math inline">\(\mathbf{w} \ge 0\)</span>. (Tretja slika) Upoštevana vez,
    ki zahteva <span class="math inline">\(s(\tau) &lt; 1\)</span> za
    <span class="math inline">\(\tau \in [0, 1)\)</span>, torej preprečuje <em>overshoot</em> semaforja pred časom
    <span class="math inline">\(\tau = 1\)</span>.
  </figcaption>
</figure>
<figure id="fig:multi">
  <div class="center">
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/multi.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/multi-nonneg.plot.png" />
    <img width="320" src="/imgs/Fizika/mod1-03-optimizacija/multi-nonover.plot.png" />
  </div>
  <figcaption>
    Optimalen potek hitrosti za <span class="math inline">\(N_\tau = 200\)</span> in 5 neenakomerno postavljenih
    semaforjev. Končna hitrost pri zadnjem semaforju je <span class="math inline">\(w_1 = 0\)</span> in rišemo različne
    <span class="math inline">\(w_0\)</span>. (Prva slika) Brez <em>overshoot</em> omejitev, le omejitev maksimalne hitrosti
    <span class="math inline">\(w_\text{max} = 3.5\)</span>, fiksirana <span class="math inline">\(w_0\)</span>,
    <span class="math inline">\(w_1\)</span> in vez (<a
      href="#eq:vez-0"
      data-reference-type="ref"
      data-reference="eq:vez-0"
      >4</a
    >). Lepo vidimo, kako je za lovljenje 4. semaforja potrebno čim hitreje pospešiti na omejitev. (Druga slika) Vez, ki
    prepoveduje negativne hitrosti <span class="math inline">\(\mathbf{w} \ge 0\)</span>. To povsem prepreči vzvratno
    vožnjo in povzroči odrezano obliko funkcije med <span class="math inline">\(\tau \sim 0.65\)</span> in
    <span class="math inline">\(\tau \sim 0.8\)</span>. (Tretja slika) Upoštevana vez, ki zahteva
    <span class="math inline">\(s(\tau) &lt; s_i\)</span> za <span class="math inline">\(\tau \in [0, \tau_i)\)</span>,
    pri čemer <span class="math inline">\((\tau_i, s_i)\)</span> določata položaj semaforja in čas prižiga semaforja. Ta
    vez torej preprečuje <em>overshoot</em> semaforja pred časom prižiga.
  </figcaption>
</figure>
<h1 class="unnumbered" id="bibliography">Viri</h1>
<div id="refs" class="references csl-bib-body" data-entry-spacing="0" role="list">
  <div id="ref-wiki-thomson" class="csl-entry" role="listitem">
    <div class="csl-left-margin">[1]</div>
    <div class="csl-right-inline">
      Wikipedia contributors,
      <span>„Thomson problem — <span>Wikipedia</span><span>,</span> The Free Encyclopedia“</span>. 2024. Dostopno na:
      <a href="https://en.wikipedia.org/w/index.php?title=Thomson_problem&amp;oldid=1251945193"
        >https://en.wikipedia.org/w/index.php?title=Thomson_problem&amp;oldid=1251945193</a
      >
    </div>
  </div>
</div>
