<section class="article-list">
  <h2>Fizika</h2>
  <ul>
    <li>
      <a href="/Fizika/maf2-zakljucna.html">Inverzni problem akustičnega loma</a>
      <div class="article-annotation maf2">
        <span class="short">maf2</span>
        <span class="long">Zaključna naloga pri Matematični fiziki 2</span>
      </div>
    </li>
    <li>
      <span
        ><a href="/Fizika/fot1-gauss-laguerre.html">Vizualizacija Gauss-Laguerrovih snopov</a> (<a
          href="/gauss-laguerre"
          >WebGl programček</a
        >)</span
      >
      <div class="article-annotation fot1">
        <span class="short">fot1</span>
        <span class="long">Krajša projektna naloga pri Fotoniki 1</span>
      </div>
    </li>
    <li>
      <span><a href="/Fizika/mod1-01-voznja-skozi-semafor.html">Problem optimalne vožnje</a></span>
      <div class="article-annotation mod1">
        <span class="short">mod1</span>
        <span class="long">Modelska analiza 1, naloga 1</span>
      </div>
    </li>
    <li>
      <span><a href="/Fizika/mod1-02-linearno-programiranje.html">Optimalna dieta z linearnim programiranjem</a></span>
      <div class="article-annotation mod1">
        <span class="short">mod1</span>
        <span class="long">Modelska analiza 1, naloga 2</span>
      </div>
    </li>
    <li>
      <span><a href="/Fizika/mod1-03-optimizacija.html">Thompsonov problem in nelinearna optimizacija</a></span>
      <div class="article-annotation mod1">
        <span class="short">mod1</span>
        <span class="long">Modelska analiza 1, naloga 3</span>
      </div>
    </li>
    <li>
      <span><a href="/Fizika/mod1-04-populacije.html">Populacijski modeli (SIR, Lotka-Volterra in črpanje laserja)</a></span>
      <div class="article-annotation mod1">
        <span class="short">mod1</span>
        <span class="long">Modelska analiza 1, naloga 4</span>
      </div>
    </li>
  </ul>
  <h2>RPGs</h2>
  <ul>
    <li>
      <a href="/RPGs/Incident-v-Herfovem-Braniku.html">Incident v Herfovem braniku</a>
      <div class="article-annotation">
        <span class="short">D&D</span>
        <span class="long">D&D avantura</span>
      </div>
    </li>
  </ul>
</section>
